= simple_form_for([current_distributor, @account]) do |f|
  = f.error_notification

  .inputs
    .input.string.required.input-text
      = label_tag 'account_delta', :class => 'string required' do
        %abbr{:title => 'required'}*
        Adjust balance by
      = text_field_tag 'account[delta]', '0.00', :class => 'string required input-text', :required => 'required', :size => '50'
      %span.hint Put in the amount you want to add or remove.

    = f.input :tag_list, :label => 'User tags', :hint => 'Comma separated'

  .actions
    = f.button :submit
