= simple_form_for(@distributor_account) do |f|
  = f.error_notification

  .inputs
    = f.association :distributor
    = f.association :customer
    = f.input :balance_cents
    = f.input :currenty

  .actions
    = f.button :submit
