= form_tag(change_balance_distributor_account_path(@account), method: :put, class: 'nice') do

  .row
    .three.columns
      .inputs
        .input.string.required.input-text
          = label_tag 'date', class: 'string required' do
            %abbr{title: 'required'}*
            Date
          = text_field_tag 'date', Time.zone.today.to_s(:date_picker), class: 'string required input-text', required: 'required', size: '10', style: 'width: 100%;', id: 'transaction_date'
    .four.columns
      .inputs
        .input.input-text
          = label_tag 'note', 'Description', class: 'text optional'
          = text_area_tag 'note', '', class: 'text required', rows: 1, placeholder: 'e.g. cash payment, credit note, refund', style: 'width:100%;'
    .two.columns
      .inputs
        .input.string.required.input-text
          = label_tag 'delta', class: 'string required' do
            %abbr{title: 'required'}*
            Amount
          = text_field_tag 'delta', '0.00', class: 'string required input-text', required: 'required', size: '10', style: 'width: 100%;'
    .three.columns
      .actions{style: 'padding-top:12px'}
        = submit_tag 'Add', class: 'button radius'
        = link_to 'cancel', distributor_customer_path(@account.customer)
