- running_balance = @transactions_sum

- @transactions.each do |transaction|
  - td_class = (transaction.manual? ? '' : 'auto') + ' transaction-data'

  %tr{ class: td_class }
    %td= transaction.created_at.to_s(:transaction)
    %td= transaction.display_time.to_s(:transaction)
    %td= transaction.description
    %td.text-right= transaction.amount
    %td.text-right{ class: "#{'negative' if running_balance.negative?}" }= running_balance

  - running_balance -= transaction.amount
