- title 'Accounts', false

= render :partial => 'distributor/shared/topic_tabs'

%ul.nice.tabs-content
  %li.active
    %table
      %thead
        %tr
          %th Customer
          %th Email
          %th Phone
          %th Address
          %th Balance
          %th

      - @accounts.each do |account|
        %tbody
          %tr
            %td= link_to account.customer.name, account.customer
            %td= account.customer.email
            %td= account.customer.phone
            %td= customer_address(account.customer)
            %td= account.balance
            %td
              = link_to 'Show', [current_distributor, account]
              = link_to 'Edit', edit_distributor_account_path(current_distributor, account)
              = link_to 'Destroy', [current_distributor, account], :confirm => 'Are you sure?', :method => :delete

