- title 'Accounts', false

.row.page-controls
  .eight.columns
    - if params[:query]
      %h3== Searching "#{params[:query]}"
    - elsif params[:tag]
      %h3== Tag "#{params[:tag]}"

    - if params[:query] || params[:tag]
      = link_to 'Clear', distributor_accounts_path(current_distributor)

  .four.columns
    = form_tag search_distributor_accounts_path, :method => :get, :class => 'nice' do
      = text_field_tag :query, '', :placeholder => 'Search For...', :class => 'input-text'
      = submit_tag 'Search', :class => 'small radius button'

- if @accounts.blank?
  .row.data-headings
    %h4.twelve.columns No Customers To Display
- else
  .row.data-headings
    %h4.three.columns Route
    %h4.three.columns Customer
    %h4.four.columns Tags
    %h4.two.columns Balance

  - @accounts.each do |account|
    .row.data-listings
      .three.columns= account.customer.route.name
      .three.columns= link_to "#{account.customer.name} (ID:#{account.customer.id})", [current_distributor, account]
      .four.columns= tag_links(account.tags)
      .two.columns= account.balance

