- title 'Accounts', false

= render :partial => 'distributor/shared/topic_tabs'

.row.page-controls
  .eight.columns
  .four.columns
    = form_tag search_distributor_accounts_path, :method => :get, :class => 'nice' do
      = text_field_tag :query, '', :placeholder => 'Search For...', :class => 'input-text'
      = submit_tag 'Search', :class => 'small button nice'

.row
  %table.twelve.columns
    %thead
      %tr
        %th Customer
        %th Tags
        %th Balance

    - @accounts.each do |account|
      %tbody
        %tr
          %td= link_to account.customer.name, [current_distributor, account]
          %td= tag_links(account.tags)
          %td= account.balance

