- title @account.customer.name

%h2== Balance: #{@account.balance}

- unless @account.tags.empty?
  %h3 Tags
  %p= @account.tag_list

= render :partial => 'distributor/transactions/index'

= link_to 'Edit', edit_distributor_account_path(current_distributor, @account)
\|
= link_to 'Back', distributor_accounts_path
