- title @account.customer.name

.row
  .three.columns
    %ul.vcard
      %li.fn= @customer.name
      - if @address
        %li.adr= @address.address_1
        - if @address.address_2
          %li.adr= @address.address_2
        %li.adr= @address.suburb
        %li.adr= @address.city
        %li.adr= @address.postcode
      %li.tel= @customer.phone
      %li.email= @customer.email

  .three.columns
    %h4== Balance: #{@account.balance.format}
    = link_to 'Adjust balance or modify tags.', edit_distributor_account_path(current_distributor, @account)

  .two.columns
    - unless @account.tags.empty?
      %h4 Tags
      = tag_links(@account.tags)

  .four.columns
    = link_to 'Edit Customer Details', edit_customer_path(@account.customer)
    %br
    = link_to 'Back to Customer List', distributor_accounts_path

= render 'distributor/orders/index'
= render 'distributor/deliveries/index'
= render 'distributor/transactions/index'

