%p#notice= notice

%p
  %b Distributor:
  = @distributor_account.distributor
%p
  %b Customer:
  = @distributor_account.customer
%p
  %b Balance cents:
  = @distributor_account.balance_cents
%p
  %b Currenty:
  = @distributor_account.currenty

= link_to 'Edit', edit_distributor_account_path(@distributor_account)
\|
= link_to 'Back', distributor_accounts_path
