- title "#{@account.customer.name} (ID:#{@account.customer.id})"

.row
  .three.columns
    %ul.vcard
      %li.fn= @customer.name
      - if @address
        %li.adr= @address.address_1
        - if @address.address_2
          %li.adr= @address.address_2
        %li.adr= @address.suburb
        %li.adr= @address.city
        %li.adr= @address.postcode
      %li.tel= @customer.phone
      %li.email= @customer.email

  .three.columns
    %h4== Balance: #{@account.balance.format}
    = link_to 'Adjust balance', edit_distributor_account_path(current_distributor, @account)

  .two.columns
    - unless @account.customer.tags.empty?
      %h4 Tags
      = tag_links(@account.customer.tags)

  .four.columns
    = link_to 'Edit Customer Details', edit_distributor_customer_path(current_distributor, @account.customer)
    %br
    = link_to 'Send login details', send_login_details_customer_path(@account.customer), :confirm => "Are you sure? This will reset the users password."
    (User's password will be reset)
    %br
    = link_to 'Back to Customer List', distributor_accounts_path

= render 'distributor/orders/index'
= render 'distributor/deliveries/index'
= render 'distributor/transactions/index'

