!!! 5

%html
  %head
    %meta{ charset: 'utf-8' }
    %title= "Bucky Box Metrics"
    = favicon_link_tag

  %body
    %h1 New Transactional Customers (weekly)

    %p
      = link_to "Back to Metrics", admin_metrics_path

    %canvas#chart{width: 1280, height: 720}

    = javascript_include_tag "vendor/Chart.min.js"

    :javascript
      var data = {
        labels: #{data.map(&:date)},
        datasets: [
          {
            fillColor: "rgba(124, 179, 29, 0.5)",
            data: #{data.map(&:count).map(&:inspect)}
          }
        ]
      };

      var options = {
        responsive: true,
        maintainAspectRatio: false,
        barValueSpacing: 1
      };

      var ctx = document.getElementById("chart").getContext("2d");
      var chart = new Chart(ctx).Bar(data, options)

