.row-fluid.data-headings
  .span12
    .btn-group
      = button_tag class: 'btn btn-primary' do
        = check_box_tag 'select_all'
      = button_tag class: "btn btn-primary dropdown-toggle", data: { toggle: 'dropdown' } do
        %span.caret
      %ul.dropdown-menu{ role: 'menu' }
        %li
          = link_to 'javascript:void(0)', id: 'select_all-all' do
            All
        %li
          = link_to 'javascript:void(0)', id: 'select_all-none' do
            None
        %li
          = link_to 'javascript:void(0)', id: 'select_all-inverse' do
            Inverse

    - unless params[:view] == 'packing'
      .btn-group
        = button_tag class: !@real_list ? 'btn' : 'btn btn-primary', id: 'delivered', disabled: !@real_list do
          %i.icon-ok-sign.icon-white
          Delivered
        = button_tag class: "btn#{' btn-primary' if @real_list} dropdown-toggle", data: { toggle: 'dropdown' }, disabled: !@real_list do
          %span.caret
        %ul#missed-options.dropdown-menu{ role: 'menu' }
          %li
            = link_to '#', id: 'pending', tabindex: -1 do
              %i.icon-time
              Delivery Pending
          %li
            = link_to '#', id: 'cancelled', tabindex: -1 do
              %i.icon-remove-sign
              Delivery Cancelled
          %li.divider
          %li= link_to 'Apply Payment On Delivery', '#', id: 'payment-on-delivery', tabindex: -1
          %li= link_to 'Undo Payment', '#', id: 'undo-payment', tabindex: -1

    .btn-group.packing-actions
      = link_to "#distributor_customers_send_email", class: "btn btn-primary", role: "button", "data-toggle" => "modal" do
        %i.icon-share.icon-white
        Export Packing Details
      = button_tag class: "btn btn-primary dropdown-toggle", data: { toggle: 'dropdown' } do
        %span.caret
      %ul.dropdown-menu{ role: 'menu' }
        - if params[:view] == 'packing'
          %li
            = link_to "Print packing summary", "#distributors_customers_export", id: "export_customer_details"
          %li.divider
        %li
          = link_to "Send email"
        %li
          = link_to "#distributor_customers_copy_email", "data-toggle" => "modal" do
            View as email addresses

