- unless @orders.blank?
  #delivery-listings.row
    .three.columns
      .row.data-headings
        %h5.twelve.columns= @selected_date.strftime("%A %m %B") if @selected_date
      .row
        .twelve.columns
          %h6.route-name== #{@orders.size} - #{@route.name}
      .row
        .twelve.columns
          %h6.route-name Summary
          %ul
            - @orders.group_by(&:box_id).each do |box_id, array|
              %li== #{array.size} - #{Box.find(box_id).name}

    .nine.columns
      .row.data-headings
        .one.columns= check_box_tag 'all'
        .nine.columns
          = link_to 'Delivered', '#', :class => 'nice small button'
          = link_to 'Pending', '#', :class => 'nice small button'
          = link_to 'Missed', '#', :class => 'nice small button', :id => 'missed'
          .has-flyout
            %ul.flyout
              %li
                = radio_button_tag 'missed', 'canceled'
                = label_tag 'missed_canceled', 'Order Canceled'
              %li
                = radio_button_tag 'missed', 'reschedule'
                = label_tag 'missed_reschedule', 'Reschedule Delivery'
                = select_tag "people", options_from_collection_for_select(Route.best_route(current_distributor).schedule.next_occurrences(5), 'to_date', 'to_date')
        .two.columns

      - @orders.each do |order|
        .row.data-listings
          .one.columns= check_box_tag order.id
          .five.columns= delivery_item_address(order)
          .three.columns== #{order.quantity} - #{order.box.name}
          .three.columns= order.customer.name
