- if @selected_date
  #delivery-listings.row-fluid{ data: { distributor: current_distributor.id, date: @selected_date } }
    #side-navigation.span3
      %fieldset
        %legend packing
        .tabbable.tabs-left
          %ul.nav.nav-tabs
            %li{ class: "#{'active' if @delivery_service_id == 0}" }
              = link_to date_distributor_deliveries_path(@selected_date, 'packing') do
                All Boxes
                %span.badge= delivery_quantity(current_distributor, @selected_date)

      %fieldset
        %legend deliveries
      .tabbable.tabs-left
        %ul.nav.nav-tabs
          - @delivery_services.each do |delivery_service|
            %li{ class: "#{'active' if @delivery_service_id == delivery_service.id}" }
              = link_to date_distributor_deliveries_path(@selected_date, delivery_service.id) do
                = delivery_service.name
                %span.badge= delivery_quantity(current_distributor, @selected_date, delivery_service.id)

      - if params[:view] == 'packing' && !@items.blank?
        %fieldset
          %legend summary
          - boxes = DeliverySort.new(@items).grouped_by_boxes
          - extras = @items.collect(&:extras_summary).flatten

          - unless boxes.blank?
            %dl.packing-summary
              %dt Boxes
              - boxes.each do |box, array|
                %dd
                  %span.badge= array.map(&:quantity).sum
                  = box.name

          - unless extras.blank?
            %dl.packing-summary
              %dt Extras
              - extras.sort{|a,b| Extra.name_with_unit(a).downcase<=>Extra.name_with_unit(b).downcase}.group_by{ |g| "#{g[:name]} #{g[:unit]}" }.each do |extra, array|
                %dd
                  %span.badge= array.collect{ |a| a[:count].to_i }.sum
                  = "#{extra}"
              %dd
                = link_to "export extras summary", "#", id: "link_to_download_extras_csv"
                = simple_form_for(:export_extras, url: export_extras_distributor_deliveries_path, html:{style:'display:none', id: 'export_extras_form'}) do |f|
                  = f.input :date, as: :hidden, input_html: {value: @selected_date.to_s(:db)}

    #delivery-list.span9
      - if @items.blank?
        %h3 No Deliveries
        %p
          There are no deliveries for
          %strong= @delivery_service.name
          on
          %strong= @selected_date.strftime("%A %d %B")
      - else
        - if @delivery_service_id != 0
          = render 'delivery_service_list'
        - else
          = render 'packing_list'
