- if @selected_date
  #delivery-listings.row-fluid{ data: { distributor: current_distributor.id, date: @selected_date } }
    #side-navigation.span3
      %span.label PACKING
      .tabbable.tabs-left
        %ul.nav.nav-tabs
          %li{ class: "#{'active' if @route_id == 0}" }
            = link_to date_distributor_deliveries_path(@selected_date, 'packing') do
              All Boxes
              %span.badge= delivery_quantity(current_distributor, @selected_date)

      %span.label DELIVERIES
      .tabbable.tabs-left
        %ul.nav.nav-tabs
          - @routes.each do |route|
            %li{ class: "#{'active' if @route_id == route.id}" }
              = link_to date_distributor_deliveries_path(@selected_date, route.id) do
                = route.name
                %span.badge= delivery_quantity(current_distributor, @selected_date, route.id)

      - if params[:view] == 'packing' && !@items.blank?
        %span.label SUMMARY
        %dl
          %dt Boxes
          - @items.group_by(&:box).each do |box, array|
            %dd
              %strong= array.map(&:quantity).sum
              = box.name
          %dt Extras
          - @items.collect(&:extras_summary).flatten.group_by{|g| "#{g[:name]} #{g[:unit]}"}.each do |extra, array|
            %dd
              %strong= array.collect{ |a| a[:count].to_i }.sum
              = "#{extra}"

    #delivery-list.span9
      - if @items.blank?
        %h3 No Deliveries
        %p
          There are no deliveries for 
          %strong= @route.name
          on 
          %strong= @selected_date.strftime("%A %d %B")
      - else
        - if @route_id != 0
          = render 'route_list'
        - else
          = render 'packing_list'
