- if @selected_date
  #delivery-listings.row{ data: { distributor: current_distributor.id, date: @selected_date } }
    .three.columns
      .row.data-headings
        %h5.twelve.columns= @selected_date.strftime("%A %d %B") if @selected_date
      .row
        .twelve.columns.route-name
          = link_to date_distributor_deliveries_path(@selected_date, 'packing') do
            %h6{ class: "#{'selected' if @route_id == 0}" }
              %span= @all_packages.map(&:quantity).inject(0, :+)
              Packing (All)
              = image_tag 'icon-packing.png'
          %hr
          - @routes.each do |route|
            = link_to date_distributor_deliveries_path(@selected_date, route.id) do
              %h6{ class: "#{'selected' if @route_id == route.id}" }
                %span= @all_deliveries.select{ |delivery| delivery.route.id == route.id }.map(&:quantity).inject(0, :+)
                = route.name
                = image_tag 'icon-route.png'

      - unless @items.blank?
        .row
          .twelve.columns.summary
            %strong Summary
            %ul
              - if params[:view] == "packing"
                %li.strong Boxes
              - @items.group_by(&:box).each do |box, array|
                %li
                  %span= array.map(&:quantity).sum
                  = box.name
              - if params[:view] == "packing"
                %li.strong Extras
                - @items.collect(&:extras_summary).flatten.group_by{|g| "#{g[:name]} #{g[:unit]}"}.each do |extra, array|
                  %li
                    %span= array.collect{|a| a[:count].to_i}.sum
                    = "#{extra}"

    - if @items.blank?
      .nine.columns
        %h3 No Deliveries
        %p
          There are no deliveries for 
          %strong= @route.name
          on 
          %strong= @selected_date.strftime("%A %d %B")
    - else
      - if @route_id != 0
        = render 'route_list'
      - else
        = render 'packing_list'
