- if @selected_date
  #delivery-listings.row{:data => {:distributor => current_distributor.id}}
    .three.columns
      .row.data-headings
        %h5.twelve.columns= @selected_date.strftime("%A %d %B") if @selected_date
      .row
        .twelve.columns.route-name
          - unless @selected_date.future?
            = link_to date_distributor_deliveries_path(current_distributor, @selected_date, 'packing') do
              %h6{:class => "#{'selected' if params[:view] == 'packing'}"}
                %span= order_delivery_count(@calendar_hash, @selected_date)
                Packing (All)
                = image_tag 'icon-packing.png'
            %hr
          - @routes.each do |route|
            = link_to date_distributor_deliveries_path(current_distributor, @selected_date, route.id) do
              %h6{:class => "#{'selected' if params[:view].to_i == route.id}"}
                %span= order_delivery_count(@calendar_hash, @selected_date, route)
                = route.name
                = image_tag 'icon-route.png'

      - unless @orders.blank?
        .row
          .twelve.columns.summary
            %strong Summary
            %ul
              - @orders.group_by(&:box_id).each do |box_id, array|
                %li
                  %span= array.size
                  = Box.find(box_id).name

    - if @orders.blank?
      .nine.columns
        %h3 No Deliveries
        %p
          There are no deliveries for 
          %strong= @route.name
          on 
          %strong= @selected_date.strftime("%A %d %B")
    - else
      - if params[:view] == 'packing'
        = render 'packing_list'
      - else
        = render 'route_list'
