.row-fluid.data-headings

- if @real_list
  #list_type{ data: { type: 'deliveries', date: @selected_date, screen: 'delivery' } }
    %ul#delivery_list.unstyled{ class: (@delivery_list.date.past? ? '' : 'sortable') }
      - DeliverySort.new(@items).grouped_by_addresses.each do |addressh_hash, deliveries|
        %li.row-fluid
          .span12
            %ul.unstyled
              - deliveries.each do |delivery|
                %li.row-fluid.data-listings.customer-row{ class: delivery.status, data: { delivery_id: delivery.id } }
                  .span6.customer
                    .row-grip
                      = check_box_tag delivery.order_id, '1', false, data: { deliveries: delivery.id }, class: 'select_one', 'data-customer-id' => delivery.customer.id
                      .label.state-label.dso-number
                        = map_pin(delivery)
                        = link_to delivery.formated_delivery_number, '#', title: "Delivery Sequence Number (printed on labels)"
                      = render partial: 'status_icons', locals: { status: delivery.status }
                      .customer-holder
                        = customer_badge(delivery.customer, customer_name: delivery.package.archived_customer_name)
                      = render partial: 'distributor/customers/customer_tags', locals: { customer: delivery.customer }

                  .span1{class: "paid-label #{'paid' if delivery.paid?}"}
                    &nbsp;

                  .span5
                    .row-fluid.address-description
                      .span6= display_address(delivery)
                      .span6.box-description= contents_description(delivery, @selected_date)

- else
  #list_type{ data: { type: 'orders', date: @selected_date, screen: 'delivery' } }
    %ul#delivery_list.unstyled
      - @items.each do |order|
        %li.row-fluid.data-listings.pending.customer-row
          .span6.customer
            = check_box_tag order.id, '1', false, data: { orders: order.id }, class: 'select_one', 'data-customer-id' => order.customer.id
            .label.state-label.dso-number= map_pin(order)
            .label.state-label.staus-icon.status-pending{ title: 'PENDING delivery' }
              %i.icon-time
            .customer-holder= customer_badge(order.customer)
            = render partial: 'distributor/customers/customer_tags', locals: { customer: order.customer }

          .span6
            .row-fluid.address-description
              .span6= display_address(order)
              .span6= contents_description(order, @selected_date)

