.nine.columns
  = form_tag master_packing_sheet_distributor_deliveries_path(current_distributor, @selected_date), :id => 'packing', :target => '_blank' do
    .row.data-headings
      .one.columns= check_box_tag 'all'
      .three.columns.packing_actions
        = submit_tag 'Print - Master List', :id => 'master-print', :class => 'small radius button', :disabled => @selected_date.future?
      .eight.columns

    - @items.group_by(&:box).each do |box, array|
      .row.data-headings
        %h5.twelve.columns= box.name

      - if @selected_date.future?
        %ul
          - array.each do |order|
            %li.row.data-listings.pending
              .one.columns= check_box_tag order.id, '1', false
              .one.columns= image_tag 'icon-status-pending.png', :title => 'UNPACKED package', :class => 'icon-pending'
              .one.columns N/A
              .four.columns= order.address.join(', ')
              .two.columns== #{order.quantity}x #{order.box.name}
              .two.columns= order.customer.name
      - else
        %ul
          - array.each do |package|
            %li.row.data-listings{:class => package.status}
              .one.columns= check_box :package, "#{package.id}"
              .one.columns= render :partial => 'status_icons', :locals => { :status => package.status }
              .one.columns= package.id
              .four.columns= package.address.join(', ')
              .two.columns== #{package.order.quantity}x #{package.order.box.name}
              .two.columns= package.customer.name
