.nine.columns
  = form_tag master_packing_sheet_distributor_deliveries_path(current_distributor, @selected_date), :target => '_blank' do
    .row.data-headings
      .one.columns= check_box_tag 'all'
      .three.columns.delivery_actions
        = submit_tag 'Print - Master List', :class => 'small radius button'
      .eight.columns

    - @orders.group_by(&:box_id).each do |box_id, order_array|
      .row.data-headings
        %h5.twelve.columns= Box.find(box_id).name

      - order_array.each do |order|
        .row.data-listings{:class => order.check_status_by_date(@selected_date)}
          .one.columns= check_box :order, "#{order.id}"
          .five.columns= order_delivery_route_name(order, @selected_date)
          .three.columns== #{order.quantity} - #{order.box.name}
          .three.columns= order.customer.name
