.nine.columns
  .row.data-headings
    .one.columns= check_box_tag 'all'
    .six.columns.packing_actions
      = button_to('Print - Master List',
        master_packing_sheet_distributor_deliveries_path,
        { id: 'master-print', class: 'small radius button', disabled: @selected_date.future?, form: { target: '_blank' } })
    .five.columns.export.text-right
      = button_to('Export',
        export_distributor_deliveries_path,
        { id: 'packing-export', class: 'small radius button', disabled: @selected_date.future? })

  - if @items.all? { |i| i.is_a?(Package) }
    - @items.group_by(&:box).each do |box, array|
      .row.data-headings
        %h5.twelve.columns= box.name

      %ul
        - array.each do |package|
          %li.row.data-listings{ class: package.status }
            .two.columns
              = check_box_tag package.order_id, '1', false, data: { package: package.id }
              = render partial: 'status_icons', locals: { status: package.status }
              = package.id
            .five.columns= package.archived_address
            .two.columns== #{package.archived_order_quantity}x #{package.archived_box_name}
            .three.columns= customer_badge(package.customer, customer_name: package.archived_customer_name, short: true)
  - else
    - @items.group_by(&:box).each do |box, array|
      .row.data-headings
        %h5.twelve.columns= box.name

      %ul
        - array.each do |order|
          %li.row.data-listings.pending
            .two.columns
              = check_box_tag order.id, '1', false
              = image_tag 'icon-status-pending.png', title: 'UNPACKED package', class: 'icon-pending'
              N/A
            .five.columns= order.address.join(', ')
            .two.columns== #{order.quantity}x #{order.box.name}
            .three.columns= customer_badge(order.customer)
