.row-fluid.data-headings
  .span6.packing-actions
    = check_box_tag 'all'
    = button_to('Print - Master List',
      master_packing_sheet_distributor_deliveries_path,
      { id: 'master-print', class: !@real_list ? 'btn' : 'btn btn-primary', disabled: !@real_list, form: { target: '_blank' } })
  .span6.export.text-right
    = button_to('Export',
      export_distributor_deliveries_path,
      { id: 'packing-export', class: 'btn' })

- if @real_list
  - DeliverySort.new(@items).grouped_by_boxes.each do |box, array|
    .row-fluid.data-headings
      .span12
        %strong= box.name

    #list_type{ data: { type: 'packages', date: @selected_date, screen: 'packing' } }
      %ul#delivery_list.unstyled
        - array.each do |package|
          %li.row-fluid.data-listings{ class: package.status }
            .span6.customer
              = check_box_tag package.order_id, '1', false, data: { packages: package.id }
              .label.state-label.dso-number= map_pin(package)
              = render partial: 'status_icons', locals: { status: package.status }
              .customer-holder
                = customer_badge(package.customer, customer_name: package.archived_customer_name, short: true)
              = render partial: 'distributor/customers/customer_tags', locals: { customer: package.customer }

            .span6
              .row-fluid.address-description
                .span6= display_address(package)
                .span6= contents_description(package, @selected_date)
- else
  - DeliverySort.new(@items).grouped_by_boxes.each do |box, array|
    .row-fluid.data-headings
      .span12
        %strong= box.name

    #list_type{ data: { type: 'orders', date: @selected_date, screen: 'packing' } }
      %ul#delivery_list.unstyled
        - array.each do |order|
          %li.row-fluid.data-listings.pending
            .span6
              = check_box_tag order.id, '1', false, data: { orders: order.id }
              .label.state-label.dso-number= map_pin(order)
              .label.state-label.staus-icon.status-unpacked{ title: 'UNPACKED package' }
                %i.icon-time
              .customer-holder= customer_badge(order.account.customer)
              = render partial: 'distributor/customers/customer_tags', locals: { customer: order.customer }

            .span6
              .row-fluid.address-description
                .span6= display_address(order)
                .span6= contents_description(order, @selected_date)
