.row-fluid.data-headings
  .span6.packing-actions
    = check_box_tag 'all'
    = button_to('Print - Master List',
      master_packing_sheet_distributor_deliveries_path,
      { id: 'master-print', class: 'btn btn-primary', disabled: !@real_list, form: { target: '_blank' } })
  .span6.export.text-right
    = button_to('Export',
      export_distributor_deliveries_path,
      { id: 'packing-export', class: 'btn', disabled: !@real_list })

- if @real_list
  - @items.group_by(&:box).sort{ |a,b| a.first.name <=> b.first.name }.each do |box, array|
    .row-fluid.data-headings
      .span12
        %strong= box.name

    %ul.unstyled
      - array.each do |package|
        %li.row-fluid.data-listings{ class: package.status }
          .span3
            .row-fluid
              .span5
                = check_box_tag package.order_id, '1', false, data: { package: package.id }
                = render partial: 'status_icons', locals: { status: package.status }
              .span7
                %strong= package.id
          .span9
            .row-fluid
              .span4= display_address(package)
              .span4= contents_description(package)
              .span4= customer_badge(package.customer, customer_name: package.archived_customer_name, short: true)
- else
  - @items.group_by(&:box).sort{ |a,b| a.first.name <=> b.first.name }.each do |box, array|
    .row-fluid.data-headings
      .span12
        %strong= box.name

    %ul.unstyled
      - array.each do |order|
        %li.row-fluid.data-listings.pending
          .span3
            .row-fluid
              .span5
                = check_box_tag order.id, '1', false
                .label.state-label.status-unpacked{ title: 'UNPACKED package' }
                  %i.icon-time
              .span7
          .span9
            .row-fluid
              .span4= display_address(order)
              .span4= contents_description(order)
              .span4= customer_badge(order.account.customer)
