.nine.columns
  = form_tag master_packing_sheet_distributor_deliveries_path(current_distributor, @selected_date), :target => '_blank' do
    .row.data-headings
      .one.columns= check_box_tag 'all'
      .three.columns.delivery_actions
        = submit_tag 'Print - Master List', :class => 'small radius button'
      .eight.columns

    - @orders.group_by(&:box_id).each do |box_id, order_array|
      .row.data-headings
        %h5.twelve.columns= Box.find(box_id).name

      - order_array.each do |order|
        - deliveries = order.deliveries.where(date:@selected_date)

        - unless deliveries.blank?
          - deliveries.each do |delivery|
            .row.data-listings{:class => delivery.status}
              .one.columns= check_box :order, "#{order.id}"
              .one.columns= render :partial => 'status_icons', :locals => { :status => delivery.status }
              .two.columns= delivery.id
              .three.columns= order_address(order)
              .two.columns== #{order.quantity}x #{order.box.name}
              .two.columns= order.customer.name
