.row-fluid.data-headings
  #route-controls.span7.delivery-actions
    = check_box_tag 'all'
    .btn-group
      = button_tag class: 'btn btn-primary', id: 'delivered', disabled: !@real_list do
        %i.icon-ok-sign.icon-white
        Delivered
      = button_tag class: 'btn btn-primary dropdown-toggle', data: { toggle: 'dropdown' }, disabled: !@real_list do
        %span.caret
      %ul.dropdown-menu{ role: 'menu' }
        %li
          = link_to '#', id: 'pending', tabindex: -1 do
            %i.icon-time
            Delivery Pending
        %li
          = link_to '#', id: 'cancelled', tabindex: -1 do
            %i.icon-remove-sign
            Delivery Cancelled
        %li.divider
        %li= link_to 'Apply Payment On Delivery', '#', id: 'payment-on-delivery', tabindex: -1
        %li= link_to 'Undo Payment', '#', id: 'undo-payment', tabindex: -1

  .span5.export.text-right
    = button_to('Export',
      export_distributor_deliveries_path,
      { id: 'delivery-export', class: 'btn', disabled: !@real_list })

- if @real_list
  %ul#delivery_list.unstyled{ class: (@delivery_list.date.past? ? '' : 'sortable') }
    - @items.group_by{|delivery| delivery.order.address.address_hash}.each do |addressh_hash, deliveries|
      %li.row-fluid
        .span12
          %ul.unstyled
            - deliveries.each do |delivery|
              %li.row-fluid.data-listings{ class: delivery.status, data: { delivery_id: delivery.id } }
                .span3
                  .row-fluid
                    .span4
                      = check_box_tag delivery.order_id, '1', false, data: { delivery: delivery.id }
                      = render partial: 'status_icons', locals: { status: delivery.status }
                    .span4
                      %strong= delivery.delivery_number
                    .span4
                      %span.paid-label.label.label-success PAID
                .span9
                  .row-fluid
                    .span4= display_address(delivery)
                    .span4= contents_description(delivery)
                    .span4= customer_badge(delivery.customer, customer_name: delivery.package.archived_customer_name, short: true)
- else
  %ul.unstyled
    - @items.each do |order|
      %li.row-fluid.data-listings.pending
        .span3
          .row-fluid
            .span4
              = check_box_tag order.id, '1', false
              = image_tag 'icon-status-pending.png', title: 'PENDING delivery', class: 'icon-pending'
            .span8
        .span9
          .row-fluid
            .span4= display_address(order)
            .span4= contents_description(order)
            .span4= customer_badge(order.customer)
