.nine.columns
  .row.data-headings
    #route-controls.seven.columns.delivery_actions
      = check_box_tag 'all'
      = button_tag 'Delivered', class: 'small radius button', id: 'delivered', disabled: !@real_list
      = button_tag '&#9660; More'.html_safe, class: 'small radius button', id: 'more-delivery-options', disabled: !@real_list
      #missed-options.has-flyout
        .flyout
          %ul
            = link_to '#', id: 'pending' do
              %li Delivery Pending
            = link_to '#', id: 'cancelled' do
              %li Delivery Cancelled
          %hr
          %ul
            = link_to '#', id: 'payment-on-delivery' do
              %li Apply Payment On Delivery
            = link_to '#', id: 'undo-payment' do
              %li Undo Payment
    .five.columns.export.text-right
      = button_to('Export',
        export_distributor_deliveries_path,
        { id: 'delivery-export', class: 'small radius button', disabled: !@real_list })

  - if @real_list
    %ul#delivery_list{class: (@delivery_list.date.past? ? '' : 'sortable')}
      - @items.group_by{|delivery| delivery.order.address.address_hash}.each do |addressh_hash, deliveries|
        %li.row
          .twelve.columns
            %ul
              - deliveries.each do |delivery|
                %li.row.data-listings{id: "delivery_#{delivery.id}", class: delivery.status, style: (delivery.order.schedule.frequency.single? ? 'color: red' : '') }
                  .three.columns
                    .row
                      .four.columns
                        = check_box_tag delivery.order_id, '1', false, data: { delivery: delivery.id }
                        = render partial: 'status_icons', locals: { status: delivery.status }
                      .four.columns= delivery.delivery_number
                      .four.columns
                        %span.paid-label.green.radius.label{ style: "#{'display: inline;' if delivery.paid?}" } PAID
                  .nine.columns
                    .row
                      .four.columns= display_address(delivery)
                      .four.columns= contents_description(delivery)
                      .four.columns= customer_badge(delivery.customer, customer_name: delivery.package.archived_customer_name, short: true)
  - else
    %ul
      - @items.each do |order|
        %li.row.data-listings.pending
          .three.columns
            .row
              .four.columns
                = check_box_tag order.id, '1', false
                = image_tag 'icon-status-pending.png', title: 'PENDING delivery', class: 'icon-pending'
              .eight.columns
          .nine.columns
            .row
              .four.columns= display_address(order)
              .four.columns= contents_description(order)
              .four.columns= customer_badge(order.customer)
