.row-fluid.data-headings
  #route-controls.span7.delivery_actions
    = check_box_tag 'all'
    = button_tag 'Delivered', class: 'small radius button', id: 'delivered', disabled: !@real_list
    = button_tag '&#9660; More'.html_safe, class: 'small radius button', id: 'more-delivery-options', disabled: !@real_list
    #missed-options.has-flyout
      .flyout
        %ul
          = link_to '#', id: 'pending' do
            %li Delivery Pending
          = link_to '#', id: 'cancelled' do
            %li Delivery Cancelled
        %hr
        %ul
          = link_to '#', id: 'payment-on-delivery' do
            %li Apply Payment On Delivery
          = link_to '#', id: 'undo-payment' do
            %li Undo Payment
  .span5.export.text-right
    = button_to('Export',
      export_distributor_deliveries_path,
      { id: 'delivery-export', class: 'small radius button', disabled: !@real_list })

- if @real_list
  %ul#delivery_list{class: (@delivery_list.date.past? ? '' : 'sortable')}
    - @items.group_by{|delivery| delivery.order.address.address_hash}.each do |addressh_hash, deliveries|
      %li.row-fluid
        .span12
          %ul
            - deliveries.each do |delivery|
              %li.row-fluid.data-listings{id: "delivery_#{delivery.id}", class: delivery.status }
                .span3
                  .row-fluid
                    .span4
                      = check_box_tag delivery.order_id, '1', false, data: { delivery: delivery.id }
                      = render partial: 'status_icons', locals: { status: delivery.status }
                    .span4= delivery.delivery_number
                    .span4
                      %span.paid-label.green.radius.label{ style: "#{'display: inline;' if delivery.paid?}" } PAID
                .span9
                  .row-fluid
                    .span4= display_address(delivery)
                    .span4= contents_description(delivery)
                    .span4= customer_badge(delivery.customer, customer_name: delivery.package.archived_customer_name, short: true)
- else
  %ul
    - @items.each do |order|
      %li.row-fluid.data-listings.pending
        .span3
          .row-fluid
            .span4
              = check_box_tag order.id, '1', false
              = image_tag 'icon-status-pending.png', title: 'PENDING delivery', class: 'icon-pending'
            .span8
        .span9
          .row-fluid
            .span4= display_address(order)
            .span4= contents_description(order)
            .span4= customer_badge(order.customer)
