.nine.columns
  .row.data-headings
    .one.columns= check_box_tag 'all'
    .nine.columns.delivery_actions
      = button_tag 'Delivered', :class => 'nice small button', :id => 'delivered', :disabled => @selected_date.future?
      = button_tag 'Pending', :class => 'nice small button', :id => 'pending', :disabled => @selected_date.future?
      = button_tag 'Missed', :class => 'nice small button', :id => 'missed', :disabled => @selected_date.future?
      #missed-options.has-flyout
        %table.flyout.large
          %tr
            %td= radio_button_tag 'missed', 'cancelled'
            %td= label_tag 'missed_cancelled', 'Cancel delivery'
            %td
          %tr
            %td= radio_button_tag 'missed', 'rescheduled'
            %td= label_tag 'missed_rescheduled', 'Reschedule delivery'
            %td= select_tag 'date_rescheduled', reschedule_dates(current_distributor)
          %tr
            %td= radio_button_tag 'missed', 'repacked'
            %td= label_tag 'missed_repacked', 'Repack delivery'
            %td= select_tag 'date_repacked', reschedule_dates(current_distributor)
          %tr
            %td{:colspan => 2}
            %td= button_tag 'Commit', :class => 'nice small button', :id => 'commit-missed'
    .two.columns

  - @orders.each do |order|
    .row.data-listings{:class => order.check_status_by_date(@selected_date)}
      .one.columns= check_box_tag order.id, '1', false, :data => {:delivery => order.delivery_for_date(@selected_date).id}
      .five.columns= delivery_item_address(order)
      .three.columns== #{order.quantity} - #{order.box.name}
      .three.columns= order.customer.name
