.nine.columns
  .row.data-headings
    .one.columns= check_box_tag 'all'
    .nine.columns.delivery_actions
      = button_tag 'Delivered', :class => 'small radius button', :id => 'delivered', :disabled => @selected_date.future?
      = button_tag 'Pending', :class => 'small radius button', :id => 'pending', :disabled => @selected_date.future?
      = button_tag 'Missed', :class => 'small radius button', :id => 'missed', :disabled => @selected_date.future?
      #missed-options.has-flyout
        %table.flyout.large
          %tr
            %td= radio_button_tag 'missed', 'cancelled'
            %td= label_tag 'missed_cancelled', 'Cancel delivery'
            %td
          %tr
            %td= radio_button_tag 'missed', 'rescheduled'
            %td= label_tag 'missed_rescheduled', 'Redeliver'
            %td= select_tag 'date_rescheduled', reschedule_dates(@route)
          %tr
            %td= radio_button_tag 'missed', 'repacked'
            %td= label_tag 'missed_repacked', 'Repack delivery'
            %td= select_tag 'date_repacked', reschedule_dates(@route)
          %tr
            %td{:colspan => 2}
            %td= button_tag 'Commit', :class => 'small radius button', :id => 'commit-missed'
    .two.columns

  - @orders.each do |order|
    - deliveries = order.deliveries.where(date:@selected_date)

    - if @selected_date.future?
      .row.data-listings.pending
        .one.columns= check_box_tag order.id, '1', false
        .one.columns= image_tag 'icon-status-pending.png', :title => 'PENDING delivery', :class => 'icon-pending'
        .two.columns N/A
        .three.columns= order_address(order)
        .two.columns== #{order.quantity}x #{order.box.name}
        .two.columns= order.customer.name

    - unless deliveries.blank?
      - deliveries.each do |delivery|
        .row.data-listings{:class => delivery.status}
          .one.columns= check_box_tag order.id, '1', false, :data => { :delivery => delivery.id }
          .one.columns= render :partial => 'status_icons', :locals => { :status => delivery.status }
          .two.columns= delivery.id
          .three.columns= order_address(order)
          .two.columns== #{order.quantity}x #{order.box.name}
          .two.columns= order.customer.name
