.nine.columns
  .row.data-headings
    .one.columns= check_box_tag 'all'
    .six.columns.delivery_actions
      = button_tag 'Delivered', class: 'small radius button', id: 'delivered', disabled: @selected_date.future?
      = button_tag 'Pending', class: 'small radius button', id: 'pending', disabled: @selected_date.future?
      = button_tag 'Missed', class: 'small radius button', id: 'missed', disabled: @selected_date.future?
      #missed-options.has-flyout
        %table.flyout.large
          %tr
            %td= radio_button_tag 'missed', 'cancelled'
            %td= label_tag 'missed_cancelled', 'Cancel delivery'
            %td
          %tr
            %td{colspan: 2}
            %td= button_tag 'Commit', class: 'small radius button', id: 'commit-missed'
    .five.columns.export.text-right
      = button_to('Export',
        export_distributor_deliveries_path,
        { id: 'delivery-export', class: 'small radius button', disabled: !@real_list })

  - if @real_list
    %ul#delivery_list.sortable
      - @items.each do |delivery|
        %li.row.data-listings{id: "delivery_#{delivery.id}", class: delivery.status}
          .two.columns
            = check_box_tag delivery.order_id, '1', false, data: { delivery: delivery.id }
            = render partial: 'status_icons', locals: { status: delivery.status }
            = delivery.delivery_number
          .five.columns= delivery.package.archived_address
          .two.columns== #{delivery.package.archived_order_quantity}x #{delivery.package.archived_box_name}
          .three.columns= customer_badge(delivery.customer, customer_name: delivery.package.archived_customer_name, short: true)
  - else
    %ul
      - @items.each do |order|
        %li.row.data-listings.pending
          .two.columns
            = check_box_tag order.id, '1', false
            = image_tag 'icon-status-pending.png', title: 'PENDING delivery', class: 'icon-pending'
            N/A
          .five.columns= order.address.join(', ')
          .two.columns== #{order.quantity}x #{order.box.name}
          .three.columns= customer_badge(order.customer)
