-# Getting gross and hacky. But currently easiest way to do it given asset pipeline images and needing title attributes.

= image_tag 'icon-status-pending.png', class: 'icon-unpacked',    style: icon_display(status, 'unpacked'),    title: 'UNPACKED package'
= image_tag 'icon-status-done.png',    class: 'icon-packed',      style: icon_display(status, 'packed'),      title: 'Package has been PACKED'

= image_tag 'icon-status-pending.png', class: 'icon-pending',     style: icon_display(status, 'pending'),     title: 'PENDING delivery'
= image_tag 'icon-status-done.png',    class: 'icon-delivered',   style: icon_display(status, 'delivered'),   title: 'Delivery has been COMPLETED'
= image_tag 'icon-status-oops.png',    class: 'icon-cancelled',   style: icon_display(status, 'cancelled'),   title: 'MISSED DELIVERY, customer has not been charged'
= image_tag 'icon-status-refresh.png', class: 'icon-rescheduled', style: icon_display(status, 'rescheduled'), title: 'Missed delivery, REDELIVERED'
= image_tag 'icon-status-repack.png',  class: 'icon-repacked',    style: icon_display(status, 'repacked'),    title: 'Missed delivery, NEW BOX scheduled'
