- title("Master Packing Sheet - #{Date.current.strftime("%A %d %B")}")

.row-fluid
  .span12
    - DeliverySort.new(@packages).grouped_by_boxes.each do |box, array|
      %table#master-packing-sheet.table.table-bordered
        %thead
          %tr
            %th{ colspan: 5 }= box.name

        %tbody
          - array.reverse.each do |package|
            %tr
              %td.check-space
              %td= package.id
              %td= customer_badge(package.customer, customer_name: package.archived_customer_name)
              %td= package.archived_address
              %td== #{package.contents_description}
