- title("Master Packing Sheet - #{Date.today.strftime("%A %d %B")}")

:javascript
  $(function() { print(); });

.row
  .twelve.columns
    - @orders.group_by(&:box_id).each do |box_id, order_array|
      %table{:style => 'width:100%; border-collapse:collapse; margin-bottom:20px;'}
        %thead
          %tr
            %th{:colspan => 4, :style => 'border:1px solid black;'}
              = Box.find(box_id).name

        %tbody
          - order_array.each do |order|
            %tr{:class => order.check_status_by_date(@selected_date)}
              %td{:style => 'width:10%; border:1px solid black;'}
              %td{:style => 'width:30%; border:1px solid black;'}= order_delivery_route_name(order, @selected_date)
              %td{:style => 'width:30%; border:1px solid black;'}== #{order.quantity} - #{order.box.name}
              %td{:style => 'width:30%; border:1px solid black;'}= order.customer.name
