- title("Master Packing Sheet - #{Date.today.strftime("%A %d %B")}")

:javascript
  // attempt to print as soon as the screen loads
  $(function() { print(); });

.row
  .twelve.columns
    - @orders.group_by(&:box_id).each do |box_id, order_array|
      %table{:style => 'width:100%; border-collapse:collapse; margin-bottom:20px;'}
        %thead
          %tr
            %th{:colspan => 5, :style => 'border:1px solid black;'}
              = Box.find(box_id).name

        %tbody
          - order_array.each do |order|
            - deliveries = order.deliveries.where(date:@selected_date)

            - unless deliveries.blank?
              - deliveries.each do |delivery|
                %tr
                  %td{:style => 'width:5%; border:1px solid black;'}
                  %td{:style => 'width:5%; border:1px solid black;'}= delivery.id
                  %td{:style => 'width:30%; border:1px solid black;'}= order.customer.name
                  %td{:style => 'width:30%; border:1px solid black;'}= order_address(order)
                  %td{:style => 'width:30%; border:1px solid black;'}== #{order.quantity}x #{order.box.name}
