= simple_form_for(@order, url: distributor_account_orders_path(@account)) do |f|
  = f.error_notification

  .row
    .four.columns
      .inputs
        = f.association :box, collection: box_collection(@customer, with_price: true), include_blank: false, input_html: { class: 'box' }

        - unless @order.persisted?
          = f.simple_fields_for(:schedule_rule) do |sf|
            = sf.input :recur, label: 'Frequency', collection: order_frequencies, include_blank: false, input_html: { class: 'frequency' }

        .row.order_extras
          - if current_customer
            :javascript
              var current_account_id = #{@account.id};
          = render partial: 'shared/orders/extras', locals: { account: @account, order: @order, box: @order.box || box_collection(@customer).first }

    .four.columns
      .inputs
        .dislikes_input
          .row
            .twelve.columns
              = f.label :dislikes, 'Exclusions'
              .row
                = select_tag :dislikes_input, options_from_collection_for_select(@stock_list, :id, :name, @dislikes_list), multiple: true, class: 'twelve columns', data: { placeholder: "Exclude these items..." }
        .likes_input
          .row
            .twelve.columns
              = f.label :likes, 'Substitutes'
              .row
                = select_tag :likes_input, options_from_collection_for_select(@stock_list, :id, :name, @likes_list), multiple: true, class: 'twelve columns', data: { placeholder: "Substitute for these items..." }

    .four.columns
      - unless @order.persisted?
        %h3= @route.name
        .inputs
          = f.simple_fields_for(:schedule_rule) do |sf|
            = sf.input :start, collection: route_delivery_dates(@route), include_blank: false

          %table.days
            %tr
              %td= check_box_tag 'order[schedule_rule_attributes][mon]', '1', false, disabled: !@route.mon
              %td= label_tag :order_schedule_rule_attributes_mon, 'Monday'
            %tr
              %td= check_box_tag 'order[schedule_rule_attributes][tue]', '1', false, disabled: !@route.tue
              %td= label_tag :order_schedule_rule_attributes_tue, 'Tuesday'
            %tr
              %td= check_box_tag 'order[schedule_rule_attributes][wed]', '1', false, disabled: !@route.wed
              %td= label_tag :order_schedule_rule_attributes_wed, 'Wednesday'
            %tr
              %td= check_box_tag 'order[schedule_rule_attributes][thu]', '1', false, disabled: !@route.thu
              %td= label_tag :order_schedule_rule_attributes_thu, 'Thursday'
            %tr
              %td= check_box_tag 'order[schedule_rule_attributes][fri]', '1', false, disabled: !@route.fri
              %td= label_tag :order_schedule_rule_attributes_fri, 'Friday'
            %tr
              %td= check_box_tag 'order[schedule_rule_attributes][sat]', '1', false, disabled: !@route.sat
              %td= label_tag :order_schedule_rule_attributes_sat, 'Saturday'
            %tr
              %td= check_box_tag 'order[schedule_rule_attributes][sun]', '1', false, disabled: !@route.sun
              %td= label_tag :order_schedule_rule_attributes_sun, 'Sunday'

  .row
    .twelve.columns
      .actions
        = f.button :submit

