= simple_form_for(@form_params) do |f|
  = f.error_notification

  .row
    .four.columns
      .inputs
        = f.association :box, collection: box_collection(@customer, with_price: true), include_blank: false, input_html: { class: 'box' }

        - unless @order.persisted?
          = f.input :frequency, collection: order_frequencies, include_blank: false, input_html: { class: 'frequency' }

        .row.order_extras
          - if current_distributor
            :javascript
              var current_account_id = #{@account.id};
          = render partial: 'shared/orders/extras', locals: { account: @account, order: @order, box: @order.box || box_collection(@customer).first }

    .four.columns
      .inputs
        .dislikes_input
          .row
            .twelve.columns
              = f.label :dislikes, 'Exclusions'
              .row
                = select_tag :dislikes_input, options_from_collection_for_select(@stock_list, :id, :name, @dislikes_list), multiple: true, class: 'twelve columns', data: { placeholder: "Exclude these items..." }
        .likes_input
          .row
            .twelve.columns
              = f.label :likes, 'Substitutes'
              .row
                = select_tag :likes_input, options_from_collection_for_select(@stock_list, :id, :name, @likes_list), multiple: true, class: 'twelve columns', data: { placeholder: "Substitute for these items..." }

    .four.columns
      - unless @order.persisted?
        %h3= @route.name
        .inputs
          = label_tag :start_date, 'Start Date'
          = select_tag :start_date, options_for_select(order_start_dates(@route))

          %table.days
            %tr
              %td= check_box_tag 'days[monday]', '1', false, disabled: !@route.monday
              %td= label_tag :days_monday, 'Monday'
            %tr
              %td= check_box_tag 'days[tuesday]', '2', false, disabled: !@route.tuesday
              %td= label_tag :days_tuesday, 'Tuesday'
            %tr
              %td= check_box_tag 'days[wednesday]', '3', false, disabled: !@route.wednesday
              %td= label_tag :days_wednesday, 'Wednesday'
            %tr
              %td= check_box_tag 'days[thursday]', '4', false, disabled: !@route.thursday
              %td= label_tag :days_thursday, 'Thursday'
            %tr
              %td= check_box_tag 'days[friday]', '5', false, disabled: !@route.friday
              %td= label_tag :days_friday, 'Friday'
            %tr
              %td= check_box_tag 'days[saturday]', '6', false, disabled: !@route.saturday
              %td= label_tag :days_saturday, 'Saturday'
            %tr
              %td= check_box_tag 'days[sunday]', '0', false, disabled: !@route.sunday
              %td= label_tag :days_sunday, 'Sunday'

  .row
    .twelve.columns
      .actions
        = f.button :submit

