= simple_form_for([:distributor, @delivery_service], html: { class: 'form-horizontal' }) do |f|
  = f.error_notification

  .row-fluid
    .span6
      = f.input :name, input_html: { class: 'span12' }
      = f.input :fee, input_html: { class: 'span12' }
      = f.input :area_of_service, input_html: { class: 'span12', rows: 5 }
      = f.input :estimated_delivery_time, input_html: { class: 'span12', rows: 5 }
    #weekdays.span6
      = f.simple_fields_for(:schedule_rule) do |schedule_rule_form|
        .control-group.error
          .help-block= @delivery_service.schedule_rule.errors.full_messages.to_sentence
        = schedule_rule_form.input :mon, input_html: { class: 'span12' }
        = schedule_rule_form.input :tue, input_html: { class: 'span12' }
        = schedule_rule_form.input :wed, input_html: { class: 'span12' }
        = schedule_rule_form.input :thu, input_html: { class: 'span12' }
        = schedule_rule_form.input :fri, input_html: { class: 'span12' }
        = schedule_rule_form.input :sat, input_html: { class: 'span12' }
        = schedule_rule_form.input :sun, input_html: { class: 'span12' }

  .row-fluid
    .span12.form-actions
      - if @delivery_service.new_record?
        = f.button :submit, class: 'btn btn-primary'
      - else
        = f.button :submit, class: 'btn btn-primary', data: { 'conditional-confirm' => "A day has been unchecked. Customer orders on this day will be DELETED. Are you sure?", 'conditional-on' => 'delivery_service_deleted' }
