- content_for :product_type do
  .row-fluid
    .span6
      %strong Box Items
      are the items that may go into your lines.
      During the checkout process, customers may nominate to exclude and substitute items in this list.
    .span6
      %span.heading hint
      Make sure your
      = link_to "Boxes", distributor_settings_products_boxes_path
      are configured to allow excludes and substitutes for this list to take effect.

  = simple_form_for(:line_item, url: distributor_settings_products_box_items_path, html: { novalidate: false, method: :put }) do |f|
    #new_line_item
      %table.table.table-condensed.spacer
        %tr
          %td
            - first_line_item = line_items.size.zero?
            = link_to 'javascript:void(0)', class: (first_line_item ? 'required-action' : 'action') do
              Add
              = first_line_item ? '' : 'or edit'
              <strong>Box Items</strong>
        %tr.edit
          %td
            = f.input_field :name, name: "new_line_items", as: :text, rows: 3, value: '', placeholder: 'Add new items: one per line or separated by commas. E.g. Silverbeet, Cabbage, Celery'

      .form-actions
        = link_to 'cancel', 'javascript:void(0)', class: 'cancel'
        = f.button :submit, 'Save', class: 'btn btn-primary'

    - unless first_line_item
      %table.table.table-condensed.list
        - line_items.each do |line_item|
          - if line_item.persisted?
            %tr
              %td
                %strong= link_to line_item.name, 'javascript:void(0)'
              %td
              %td.text-right
                = line_item.using_customers

          %tr.edit.background-yellow
            %td
              %strong= link_to line_item.name, 'javascript:void(0)'
            %td
              = line_item.affected_customers

            %td.text-right
              = line_item.using_customers

      .form-actions.background-yellow
        = link_to 'cancel', 'javascript:void(0)', class: 'cancel'
        = f.button :submit, 'Save', class: 'btn btn-primary'

= render partial: 'distributor/settings/products', locals: { type: 'box_items' }

