= simple_form_for(@customer, url: update_password_customer_path(current_customer), html: { method: :put }) do |f|
  = f.error_notification

  .inputs
    = f.input :password, :required => true
    = f.input :password_confirmation, :required => true

  .actions
    = f.button :submit, 'Update Password'
