= simple_form_for(current_customer, url: update_password_customer_customer_path(current_customer), html: { method: :put }) do |f|
  .modal-body
    = f.error_notification

    = f.input :password, required: true
    = f.input :password_confirmation, required: true

  .modal-footer
    = f.button :submit, 'Update Password', class: 'btn btn-primary'
