.row-fluid
  .span12
    .customer-information-section
      %h1= customer.name
      == ID: #{customer.formated_number}
      %br
      = customer.email
      %br
      = current_customer.address.phones.all.join('<br/>').html_safe
      %br
      %small= link_to 'change my contact details', '#details-modal', data: { toggle: 'modal' }
      %br
      %small= link_to 'change my password', '#password-modal', data: { toggle: 'modal' }

    .customer-information-section
      = current_customer.address.join('<br/>')
      %br
      %small= link_to 'change my delivery address', '#address-modal', data: { toggle: 'modal' }
