= simple_form_for(update_password, url: customer_update_password_path, html: { method: :put, novalidate: false }) do |f|
  .modal-body
    = f.error_notification

    = f.input :password
    = f.input :password_confirmation

  .modal-footer
    = f.button :submit, t('update'), class: 'btn btn-primary'
