= simple_form_for(update_contact_details, url: customer_update_contact_details_path, html: { method: :put, novalidate: Rails.env.test? }) do |f|
  .modal-body
    = f.error_notification

    = f.input :name
    = f.input :email,  hint: 'Please double check this email as it is also used as your login.'
    - if update_contact_details.collect_phone?
      - if update_contact_details.require_phone?
        %p.muted At least one type of phone number is required
      = f.input :mobile_phone
      = f.input :home_phone
      = f.input :work_phone

  .modal-footer
    = f.button :submit, 'Update', class: 'btn btn-primary'
