= simple_form_for(update_delivery_address, url: customer_update_delivery_address_path, html: { method: :put, novalidate: false }) do |f|
  .modal-body
    = f.error_notification

    .row-fluid
      .span6
        = f.input :address_1
        = f.input :address_2
        = f.input :suburb
        = f.input :city
        = f.input :postcode

      .span6
        - if update_delivery_address.collect_delivery_note?
          = f.input :delivery_note, as: :text, placeholder: t('virtus.attributes.customer/form/update_delivery_address.placeholders.delivery_note'), input_html: { rows: 16 }

  .modal-footer
    = f.button :submit, t('update'), class: 'btn btn-primary'
