= simple_form_for(update_password, url: customer_update_password_path, html: { method: :put, novalidate: false }) do |f|
  .modal-body
    = f.error_notification

    = f.input :password, label: "Enter your new password"
    = f.input :password_confirmation, label: "Enter your new password again to confirm"

  .modal-footer
    = f.button :submit, 'Update Password', class: 'btn btn-primary'
