.row-fluid
  %table.span12
    %thead
      %tr
        %th Number
        %th Customer
        %th Amount
        %th Date
        %th Paid

    - invoices.each do |invoice|
      %tbody
        %tr
          %td= invoice.id.present? ? link_to("#{invoice.full_number}", [:distributor, invoice]) : '-'
          %td= customer_badge(invoice.customer)
          %td= invoice.amount
          %td= invoice.date
          %td= checkmark_boolean(invoice.paid)

