%h2 Bucky Box Admin Login

%p{style: "padding: 2em 0"}
  = link_to "Click here if you are a local food hero.", new_distributor_session_url

= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  = image_tag "ninja.png", class: "pull-right hidden-phone"

  .form-inputs
    = f.input :email, required: false, autofocus: true
    = f.input :password, required: false
    = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
    = f.button :submit, "I hereby declare to be a Ninja"

  .clearfix

