= simple_form_for(@distributor) do |f|
  = f.error_notification

  .inputs
    = f.input :name
    = f.input :url
    = f.input :company_logo
    = f.input :company_logo_cache, :as => :hidden

  .company_logo
    = image_tag(current_distributor.company_logo.url) if current_distributor.company_logo?

  .actions
    = f.button :submit
