= render partial: 'admin/nav'

%table#distributors.table.table-bordered.table-hover
  - @distributors.unshift(@demo_distributor).each do |distributor|
    = render partial: 'admin/distributors/index', locals: {distributor: distributor}

- unless @cron_logs.empty?
  .row-fluid
    .span12
      = render 'admin/cron_logs/index'

.row-fluid
  .span12
    %p.text-center
      = link_to "http://status.buckybox.com", target: "_blank" do
        = image_tag "https://share.pingdom.com/banners/5e6b0272", alt: "API v1", width: 300, height: 165
        = image_tag "https://share.pingdom.com/banners/e8e13fb8", alt: "Distributor Area", width: 300, height: 165
        = image_tag "https://share.pingdom.com/banners/ae9a8802", alt: "Web Store", width: 300, height: 165

.row-fluid
  .span12
    %p.text-center.muted
      Environment:
      = Rails.env

      |
      Version:
      - commit = Rails.application.config.version.split.first
      - link = "https://github.com/enspiral/bucky_box/commit/#{commit}"
      = link_to Rails.application.config.version, link, target: "_blank"

      |
      Ruby:
      = RUBY_VERSION
