= render partial: 'admin/nav'

%table#distributors.table.table-bordered.table-hover
  - @distributors.append(@demo_distributor).compact.each do |distributor|
    = render partial: 'admin/distributors/index', locals: {distributor: distributor}

- unless @cron_logs.empty?
  .row-fluid
    .span12
      = render 'admin/cron_logs/index'

.row-fluid
  .span12
    %p.text-center.muted
      Environment:
      = Rails.env

      |
      Ruby:
      = RUBY_VERSION

      |
      Version:
      - commit = Rails.application.config.version.split.first
      - link = "https://gitlab.com/buckybox/core/commit/#{commit}"
      = link_to Rails.application.config.version, link, target: "_blank"

      |
      Enqueued Jobs:
      = Delayed::Job.count
