- title('Admin - Dashboard')

.row-fluid
  .span6
    %p Talk to a dev if you want to delete a distributor account

  .span6.text-right
    = link_to 'New Distributor', new_admin_distributor_path, class: 'button radius'

- unless @distributors.empty?
  = render 'admin/distributors/index'
  = link_to 'Full list of distributors', admin_distributors_path

- unless @cron_logs.empty?
  = render 'admin/cron_logs/index'
  = link_to 'See more cron logs.', admin_cron_logs_path
