= render partial: 'admin/nav'

%table#distributors.table.table-bordered
  - @distributors.each do |distributor|
    = render partial: 'admin/distributors/index', locals: {distributor: distributor}

- unless @cron_logs.empty?
  .row-fluid
    .span12
      = link_to 'Longer Log', admin_cron_logs_path

  .row-fluid
    .span12
      = render 'admin/cron_logs/index'

.row-fluid
  .span12
    .text-center.muted
      Environment:
      = Rails.env

      |
      Version:
      - commit = Rails.application.config.version.split.first
      - link = "https://github.com/enspiral/bucky_box/commit/#{commit}"
      = link_to Rails.application.config.version, link, target: "_blank"

      |
      Ruby:
      = RUBY_VERSION
