%h1 Listing distributor_banks

%table
  %tr
    %th Distributor
    %th Name
    %th Account name
    %th Account number
    %th Customer message
    %th
    %th
    %th

  - @distributor_banks.each do |distributor_bank|
    %tr
      %td= distributor_bank.distributor
      %td= distributor_bank.name
      %td= distributor_bank.account_name
      %td= distributor_bank.account_number
      %td= distributor_bank.customer_message
      %td= link_to 'Show', distributor_bank
      %td= link_to 'Edit', edit_distributor_bank_path(distributor_bank)
      %td= link_to 'Destroy', distributor_bank, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Bank', new_distributor_bank_path
