= simple_form_for(resource, as: resource_name, url: request.fullpath, html: { class: 'form-inline' }) do |f|
  = f.input :distributor_id, as: :hidden, input_html: { value: @distributor_id }

  - guessed_email = current_customers.present? && current_customers.first.email || nil
  = f.input :email, required: false, label: false, placeholder: t('c.sign_in.enter_email'), autofocus: true, input_html: { class: 'span12', value: guessed_email }
  = f.input :password, required: false, label: false, placeholder: t('c.sign_in.enter_password'), input_html: { class: 'span12' }
  = f.input :remember_me, as: :boolean, label: t('c.sign_in.remember_me'), wrapper: :inline_checkbox if devise_mapping.rememberable?

  #form-controls.clearfix
    #controls-left.pull-left
      %i.icon-lock
      = link_to t('c.sign_in.lost_password'), new_password_path(resource_name, @link_args)

    #controls-right.pull-right
      - if @distributor
        = link_to t('cancel'), @distributor.webstore_url

      = f.button :submit, t('log_in'), class: 'btn btn-process'
