%h2 Account Login

= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-inline' }) do |f|
  = f.input :email, required: false, label: false, placeholder: 'enter your email', autofocus: true, input_html: { class: 'span12' }
  = f.input :password, required: false, label: false, placeholder: 'enter your password', input_html: { class: 'span12' }
  = f.input :remember_me, as: :boolean, wrapper: :inline_checkbox if devise_mapping.rememberable?

  #form-controls.clearfix
    #controls-left.pull-left
      %i.icon-lock 
      = link_to 'lost your password?', new_password_path(resource_name, @link_args)

    #controls-right.pull-right
      = link_to 'cancel', @abort_url
      = f.button :submit, 'Login', class: 'btn btn-process'
