.row-fluid
  .span12
    = simple_form_for([:distributor, @route]) do |f|
      = f.error_notification

      .inputs
        = f.input :name
        = f.input :fee
        #weekdays
          = f.input :monday
          = f.input :tuesday
          = f.input :wednesday
          = f.input :thursday
          = f.input :friday
          = f.input :saturday
          = f.input :sunday
        = f.input :area_of_service
        = f.input :estimated_delivery_time

      .actions
        - if @route.new_record?
          = f.button :submit
        - else
          = f.button :submit, 'data-conditional-confirm' => "A day has been unchecked, this might affect customer orders, are you sure?", 'data-conditional-on' => 'route_deleted'
