.row
  .twelve.columns
    = simple_form_for([:distributor, @route]) do |f|
      = f.error_notification

      .inputs
        = f.input :name
        = f.input :fee
        #weekdays
          = f.simple_fields_for(:schedule_rule) do |schedule_rule_form|
            = schedule_rule_form.input :mon
            = schedule_rule_form.input :tue
            = schedule_rule_form.input :wed
            = schedule_rule_form.input :thu
            = schedule_rule_form.input :fri
            = schedule_rule_form.input :sat
            = schedule_rule_form.input :sun
        = f.input :area_of_service
        = f.input :estimated_delivery_time

      .actions
        - if @route.new_record?
          = f.button :submit
        - else
          = f.button :submit, 'data-conditional-confirm' => "A day has been unchecked, this might affect customer orders, are you sure?", 'data-conditional-on' => 'route_deleted'
