.row-fluid
  .span12
    %table.table.table-bordered.table-striped.no-horizontal-dividers
      %thead
        %tr
          %th Name
          %th Mon
          %th Tue
          %th Wed
          %th Thu
          %th Fri
          %th Sat
          %th Sun
          %th Fee
          %th Actions

      %tbody
        - @routes.each do |route|
          %tr
            %td= route.name
            %td= checkmark_boolean(route.mon)
            %td= checkmark_boolean(route.tue)
            %td= checkmark_boolean(route.wed)
            %td= checkmark_boolean(route.thu)
            %td= checkmark_boolean(route.fri)
            %td= checkmark_boolean(route.sat)
            %td= checkmark_boolean(route.sun)
            %td= route.fee.format
            %td
              = link_to 'Edit', edit_distributor_route_path(route)
