.row
  %table.twelve.columns
    %thead
      %tr
        %th Name
        %th Mon
        %th Tue
        %th Wed
        %th Thu
        %th Fri
        %th Sat
        %th Sun
        %th Fee

    %tbody
      - @routes.each do |route|
        %tr
          %td= route.name
          %td= checkmark_boolean(route.monday)
          %td= checkmark_boolean(route.tuesday)
          %td= checkmark_boolean(route.wednesday)
          %td= checkmark_boolean(route.thursday)
          %td= checkmark_boolean(route.friday)
          %td= checkmark_boolean(route.saturday)
          %td= checkmark_boolean(route.sunday)
          %td= route.fee.format
