- title 'Reporting'

%table.table.table-bordered.table-striped.no-horizontal-dividers
  %thead
    %tr
      %th Metric
      %th Value
  %tbody
    = show_settings_metric('Distributor Since', current_distributor.created_at.to_s(:month_and_year))
    = show_settings_metric('Total Customers', current_distributor.customers.count)
    = show_settings_metric('Deliveries to Date', current_distributor.deliveries.delivered.count)

.row-fluid.reporting_calendar_select
  .span12
    %h2 Export Transaction List
    %p A list of all transactions in the system
    = text_field_tag :start_date, '', placeholder: 'Date from', data: {value: (Date.current.beginning_of_month - 3.months).to_s(:date_picker)}, class: 'date_picker start'
    = text_field_tag :end_date, '', placeholder: 'Date to', data: {value: Date.current.yesterday.to_s(:date_picker)}, class: 'date_picker end'
    = link_to "Export transactions", distributor_reports_transaction_history_path(Date.current.beginning_of_month - 3.months, Date.current.yesterday), id: 'export_transactions', data: {href: '/distributor/reports/transaction_history/'}

.row-fluid.reporting_calendar_select
  .span12
    %h2 Export Historic Customer Balances
    %p A summary of customer balances at any date in the past, calculated by transaction date (not transaction processed date)
    = text_field_tag '[export][date]', '', placeholder: 'Date', data: {value: (Date.current.beginning_of_month).to_s(:date_picker)}, class: 'date_picker export_account_balance'
    = link_to "Export balances", distributor_reports_export_customer_account_history_path(Date.current.beginning_of_month), id: "export_customer_account_history_link", data: {href: '/distributor/reports/export_customer_account_history/'}

