<!doctype html> 
-# Without doctype I would get this in chrome : Uncaught Error: HIERARCHY_REQUEST_ERR: DOM Exception 3
- if box.present? && box.extras.size > 0
  %fieldset
    %h5 Extras
    = simple_fields_for(order) do |f|
      = f.error :base
    - unless box.extras_unlimited?
      %p This box is limited to #{box.extras_limit} extras.
    = simple_fields_for(:order) do |f|
      - box.extras.each do |extra|
        - order_extra = order.order_extras.select{|e| e.extra_id == extra.id}.first # Instead of find by, get them all and pick it from the array, single DB request, not many
        = f.input "order_extras[#{extra.id}][count]", label: extra.name_with_price(account.customer), input_html: { min: 0, class: 'input-text', value: (order_extra && order_extra.count) || 0, id: "order_extras_#{extra.id}_count"}, as: :integer
    = simple_fields_for(order) do |f|
      = f.input :extras_one_off, as: :boolean, label: "Just this one time?"
      %p Extras can be either a one off order or every delivery.
  - else
    = simple_fields_for(:order) do |f|
      = f.input "order_extras[][]", as: :hidden, input_html: { value: ""}, label: false
    %p No extras allowed for this box
