= simple_form_for(order, url: customer_order_path(current_customer, order), html: { method: :put }) do |f|
  = f.error_notification

  .customer_order
    = hidden_field_tag 'order_id', order.id

    .inputs
      = f.association :box, :collection => box_collection(@distributor, with_price: true), :include_blank => false
      = f.input :quantity
      = f.input :likes, :wrapper_html => { :id => 'likes_input' }
      = f.input :dislikes, :wrapper_html => { :id => 'dislikes_input' }

    .actions
      = f.button :submit
