= simple_form_for(@form_params, html: { id: 'order-form' }) do |f|
  = f.error_notification
  - if @order.has_yellow_deliveries?
    .alert.alert-error= t('models.order.impending_delivery', date: l(@distributor.beginning_of_green_zone, format: "%e %B"))

  .row-fluid
    .span4
      = f.association :box, collection: customers_box_collection(@customer, @order, with_price: true), include_blank: false, input_html: { class: 'box' }, label: t('activerecord.models.box')

      - unless @order.persisted?
        = f.input :frequency, collection: order_frequencies, include_blank: false, input_html: { class: 'frequency' }

      .row-fluid.order_extras
        - if current_customer
          :javascript
            var current_account_id = #{@account.id};
        = render partial: 'extras', locals: { account: @account, order: @order, box: @order.box || box_collection(@customer).first }

    .span4
      #likes_dislikes_limits{data: {limits: @order.limits_data}}
      #dislikes-input
        = f.full_error(:exclusions)
        = f.input :excluded_line_item_ids, label: t('activerecord.attributes.order.exclusions'), collection: @stock_list, as: :select, :input_html => { :multiple => true }, placeholder: t('c.order.exclude_items')
      #likes-input
        = f.full_error(:substitutions)
        = f.input :substituted_line_item_ids, label: t('activerecord.attributes.order.substitutions'), collection: @stock_list, as: :select, :input_html => { :multiple => true }, placeholder: t('c.order.substitute_with_items')

    .span4
      - unless @order.persisted?
        %h3= @delivery_service.name
        = label_tag :start_date, 'Start Date'
        = select_tag :start_date, options_for_select(delivery_service_dates(@delivery_service))

        %table#days
          %tr
            %td= check_box_tag 'days[monday]', '1', false, disabled: !@delivery_service.monday
            %td= label_tag :days_monday, 'Monday'
          %tr
            %td= check_box_tag 'days[tuesday]', '2', false, disabled: !@delivery_service.tuesday
            %td= label_tag :days_tuesday, 'Tuesday'
          %tr
            %td= check_box_tag 'days[wednesday]', '3', false, disabled: !@delivery_service.wednesday
            %td= label_tag :days_wednesday, 'Wednesday'
          %tr
            %td= check_box_tag 'days[thursday]', '4', false, disabled: !@delivery_service.thursday
            %td= label_tag :days_thursday, 'Thursday'
          %tr
            %td= check_box_tag 'days[friday]', '5', false, disabled: !@delivery_service.friday
            %td= label_tag :days_friday, 'Friday'
          %tr
            %td= check_box_tag 'days[saturday]', '6', false, disabled: !@delivery_service.saturday
            %td= label_tag :days_saturday, 'Saturday'
          %tr
            %td= check_box_tag 'days[sunday]', '0', false, disabled: !@delivery_service.sunday
            %td= label_tag :days_sunday, 'Sunday'

  .row-fluid
    .span12.form-actions
      = link_to t('cancel'), customer_dashboard_path(@account.customer), class: 'btn btn-default'
      = f.button :submit, t('models.order.edit'), class: 'btn btn-primary'
