.row
  %table.twelve.columns
    %thead
      %tr
        %th Box
        %th Extras
        %th Price
        %th{style: 'width:30%;'} Schedule
        %th

    %tbody
      - @orders.each do |order|
        %tr
          %td= order.box.name
          %td= order.extras_description(true)
          %td= order.price.format
          %td
            = order_schedule(order)
            - if order.schedule.exception_times.empty?
              %br
              = link_to 'pause order', '#', data: {'reveal-id' => "pause-modal-#{order.id}"}
          %td= link_to 'change order', edit_customer_order_path(order) 

