.row
  %table.twelve.columns
    %thead
      %tr
        %th Order
        %th Price
        %th{style: 'width:40%;'} Schedule
        %th Next Delivery
        %th

    %tbody
      - @orders.each do |order|
        %tr
          %td== #{order.quantity}x #{order.box.name}
          %td= order.price.format
          %td
            = order_schedule(order)
            - if order.schedule.exception_times.empty?
              %br
              = link_to 'pause order', '#', data: {'reveal-id' => "pause-modal-#{order.id}"}
          %td= order.schedule.next_occurrence.strftime("%A %d %b") if order.schedule.next_occurrence
          %td
            = link_to 'change order', '#', data: {'reveal-id' => "order-modal-#{order.id}"}

            .reveal-modal{id: "order-modal-#{order.id}"}
              %h2 Change Your Order
              = link_to '&#215;'.html_safe, '#', class: 'close-reveal-modal'
              = render partial: 'customer/orders/form', locals: { order: order }
