%table.table
  %thead
    %tr
      %th{style: 'width:30%;'} Box
      %th{style: 'width:15%;'} Price
      %th Schedule
      %th{style: 'width:15%;'}

  %tbody
    - @orders.each do |order|
      %tr
        %td
          = order.box.name
          - unless order.extras.empty?
            %br
            == Extras: #{order.extras_description(true)}
        %td= order.price.format
        %td
          %ul
            %li= order_schedule(order, exception_rules: false, exception_times: false)
            - if order.reoccurs?
              %li= render partial: 'customer/orders/pausing', locals: { order: order }
        %td= link_to 'change order', edit_customer_order_path(order)

