= simple_form_for(order, url: pause_customer_order_path(current_customer, order), html: { method: :put }) do |f|
  = f.error_notification

  .customer_pause
    = hidden_field_tag 'order_id', order.id

    .inputs
      = label_tag 'start_date', class: 'string required' do
        %abbr{title: 'Start date'}*
        Start date
      = text_field_tag 'start_date', nil, class: 'date_picker string required input-text', required: 'required', size: 50

      = label_tag 'end_date', class: 'string required' do
        %abbr{title: 'End date'}*
        End date
      = text_field_tag 'end_date', nil, class: 'date_picker string required input-text', required: 'required', size: 50

    .actions
      = f.button :submit, 'Add Pause'

