- title "#{current_customer.name} (ID:#{current_customer.id})"

.row
  .three.columns
    %ul.vcard
      %li.fn= current_customer.name
      - if current_customer.address
        %li.adr= current_customer.address.address_1
        - if current_customer.address.address_2
          %li.adr= current_customer.address.address_2
        %li.adr= current_customer.address.suburb
        %li.adr= current_customer.address.city
        %li.adr= current_customer.address.postcode
      %li.tel= current_customer.phone
      %li.email= current_customer.email

  .three.columns
    %h4== Balance: #{current_customer.account.balance.format}

.row
  %table.twelve.columns
    %thead
      %tr
        %th Order #
        %th Box
        %th Quantity
        %th Total Cost
        %th Start Date
        %th{:style => 'width:25%;'} Schedule
        %th Next Delivery Date
        %th Actions

    %tbody
      - @orders.each do |order|
        %tr
          %td= order.id
          %td= order.box.name
          %td= order.quantity
          %td= (order.price * order.quantity).format
          %td= order.schedule.start_date.strftime("%B %d, %Y")
          %td= order.schedule
          %td= order.schedule.next_occurrence.strftime("%B %d, %Y") if order.schedule.next_occurrence
          %td
            = link_to 'Edit', edit_customer_order_path(current_customer.id, order)
            /\|
            /= link_to 'Delete', [current_customer, order], :confirm => 'Are you sure?', :method => :delete

