<!doctype html> 
-# Without doctype I would get this in chrome : Uncaught Error: HIERARCHY_REQUEST_ERR: DOM Exception 3
- if box.present? && box.extras_allowed?
  %fieldset
    %h5 Extras

    = simple_fields_for(order) do |f|
      = f.error :base

    = simple_fields_for(:order) do |f|
      = f.input :include_extras, as: :boolean, label: 'include extras', input_html: { checked: (order.extras_count.zero? ? '' : 'checked'), class: 'include_extras' }

      .extras
        - unless box.extras_unlimited?
          %p This box is limited to #{box.extras_limit} extras.

        - box.extras.alphabetically.each do |extra|
          - order_extra = order.order_extras.select{ |e| e.extra_id == extra.id }.first # Instead of find by, get them all and pick it from the array, single DB request, not many
          = f.input "order_extras[#{extra.id}][count]", label: extra.name_with_price(account.customer), input_html: { min: 0, class: 'input-text', value: (order_extra && order_extra.count) || 0, id: "order_extras_#{extra.id}_count"}, as: :integer

        = simple_fields_for(order) do |f|
          = f.input :extras_one_off, as: :select, collection: [["include with every delivery", false], ["include in the next delivery only", true]], label: false, include_blank: false

      %p Extras can be either a one off order or every delivery.
- else
  = simple_fields_for(:order) do |f|
    = f.input "order_extras[][]", as: :hidden, input_html: { value: ""}, label: false

  %p No extras allowed for this box
