= simple_form_for([@distributor, @order]) do |f|
  = f.error_notification

  .inputs
    = f.association :box, :collection => current_distributor.boxes, :include_blank => false
    = f.input :quantity
    = f.input :likes
    = f.input :dislikes

  .actions
    = f.button :submit
