= simple_form_for(@form_params, html: { id: 'order-form' }) do |f|
  = f.error_notification

  .row-fluid
    .span4
      = f.association :box, collection: box_collection(@customer, with_price: true), include_blank: false, input_html: { class: 'box' }

      - unless @order.persisted?
        = f.simple_fields_for(:schedule_rule) do |sf|
          = sf.input :recur, label: 'Frequency', collection: order_frequencies, include_blank: false, input_html: { class: 'frequency' }

      .row-fluid.order_extras
        :javascript
          var current_account_id = #{@account.id};
        = render partial: 'extras', locals: { account: @account, order: @order, box: @order.box || box_collection(@customer).first }

    .span4
      #dislikes-input
        .row-fluid
          .span12
            = f.label :dislikes, 'Exclusions'
            .row-fluid
              = select_tag :dislikes_input, options_from_collection_for_select(@stock_list, :id, :name, @dislikes_list), multiple: true, class: 'span12', data: { placeholder: "Exclude these items..." }
      #likes-input
        .row-fluid
          .span12
            = f.label :likes, 'Substitutes'
            .row-fluid
              = select_tag :likes_input, options_from_collection_for_select(@stock_list, :id, :name, @likes_list), multiple: true, class: 'span12', data: { placeholder: "Substitute for these items..." }

    .span4
      - unless @order.persisted?
        %h3= @route.name
        = f.simple_fields_for(:schedule_rule) do |sf|
          - if @order.schedule_rule.errors.present?
            .alert.alert-error= @order.schedule_rule.errors.full_messages.join(", ")
          = sf.input :start, collection: order_start_dates(@route), include_blank: false

        %table#days
          %tr
            %td= check_box_tag 'order[schedule_rule_attributes][mon]', '1', false, disabled: !@route.mon
            %td= label_tag :order_schedule_rule_attributes_mon, 'Monday'
          %tr
            %td= check_box_tag 'order[schedule_rule_attributes][tue]', '1', false, disabled: !@route.tue
            %td= label_tag :order_schedule_rule_attributes_tue, 'Tuesday'
          %tr
            %td= check_box_tag 'order[schedule_rule_attributes][wed]', '1', false, disabled: !@route.wed
            %td= label_tag :order_schedule_rule_attributes_wed, 'Wednesday'
          %tr
            %td= check_box_tag 'order[schedule_rule_attributes][thu]', '1', false, disabled: !@route.thu
            %td= label_tag :order_schedule_rule_attributes_thu, 'Thursday'
          %tr
            %td= check_box_tag 'order[schedule_rule_attributes][fri]', '1', false, disabled: !@route.fri
            %td= label_tag :order_schedule_rule_attributes_fri, 'Friday'
          %tr
            %td= check_box_tag 'order[schedule_rule_attributes][sat]', '1', false, disabled: !@route.sat
            %td= label_tag :order_schedule_rule_attributes_sat, 'Saturday'
          %tr
            %td= check_box_tag 'order[schedule_rule_attributes][sun]', '1', false, disabled: !@route.sun
            %td= label_tag :order_schedule_rule_attributes_sun, 'Sunday'

  .row-fluid
    .span12.form-actions
      = f.button :submit, class: 'btn btn-primary'
      or
      = link_to 'cancel', distributor_customer_path(@account.customer)

