.row-fluid
  .span12
    %table#orders.table.table-bordered.table-striped.no-horizontal-dividers
      %tbody
        %tr.new-row
          %td{ colspan: 3 }= link_to 'Create a new order', new_distributor_account_order_path(@account)
        - @orders.each do |order|
          %tr{ 'data-order-id' => order.id}
            %td.name
              %ul.unstyled
                %li
                  %strong= order.box.name
                %li
                  %small= order_customisation(order)
                %li
                  %small= order_extras(order)
                %li
                  %small= link_to 'edit order', edit_distributor_account_order_path(@account, order)
            %td.schedule
              = render partial: 'distributor/orders/details', locals: { order: order }
            %td
              %ul.unstyled.text-right
                %li.important= order.price
                %li
                  %small= link_to('remove order',
                    deactivate_distributor_account_order_path(@account, order),
                    confirm: order_delete_warning(order), method: :put)

