.row
  %table.twelve.columns
    %thead
      %tr
        %th Order #
        %th Box
        %th Extras
        %th Quantity
        %th Total Cost
        %th Start Date
        %th{style: 'width:25%;'} Schedule
        %th Next Delivery Date
        %th Actions

    %tbody
      - @orders.each do |order|
        %tr
          %td= order.id
          %td= order.box.name
          %td= order.extras.collect{|extra| extra.name}.join(', ')
          %td= order.quantity
          %td= order.price.format
          %td= order.schedule.start_date.strftime("%B %d, %Y")
          %td
            = order_schedule(order)
            - if order.schedule.exception_times.empty?
              %br
              = link_to 'pause order', '#', data: {'reveal-id' => "pause-modal-#{order.id}"}

            .reveal-modal{id: "pause-modal-#{order.id}"}
              %h2 Pause Your Order
              = link_to '&#215;'.html_safe, '#', class: 'close-reveal-modal'
              = render partial: 'distributor/orders/pause_form', locals: { order: order }
          %td= order.schedule.next_occurrence.strftime("%B %d") if order.schedule.next_occurrence
          %td
            = link_to 'edit', edit_distributor_account_order_path(@account, order)
            %br
            = link_to('delete',
              deactivate_distributor_account_order_path(@account, order),
              confirm: 'Are you sure you would like to deactivate this order? It will no longer generate deliveries.',
              method: :put)
