.row
  %table.twelve.columns
    %thead
      %tr
        %th Order #
        %th Box
        %th Quantity
        %th Total Cost
        %th Start Date
        %th{style: 'width:25%;'} Schedule
        %th Next Delivery Date
        %th Actions

    %tbody
      - @orders.each do |order|
        %tr
          %td= order.id
          %td= order.box.name
          %td= order.quantity
          %td= (order.price * order.quantity).format
          %td= order.schedule.start_date.strftime("%B %d, %Y")
          %td
            - order.schedule.recurrence_rules.each do |rr|
              = rr.to_s
            - order.schedule.recurrence_dates.each do |rd|
              = rd.to_s
            - unless order.schedule.exception_times.empty?
              %br
              = link_to '#', data: {'reveal-id' => "pause-modal-#{order.id}"} do
                == From #{order.schedule.exception_times.first.strftime("%b %-d")}
                == to #{order.schedule.exception_times.last.strftime("%b %-d")}
          %td= order.schedule.next_occurrence.strftime("%B %d, %Y") if order.schedule.next_occurrence
          %td
            - if order.schedule.exception_times.empty?
              = link_to 'pause order', '#', data: {'reveal-id' => "pause-modal-#{order.id}"}
              %br

            = link_to 'edit', edit_distributor_account_order_path(current_distributor, @account, order)
            %br
            = link_to('delete',
              deactivate_distributor_account_order_path(current_distributor, @account, order),
              confirm: 'Are you sure you would like to deactivate this order? It will no longer generate deliveries.',
              method: :put)

            .reveal-modal{id: "pause-modal-#{order.id}"}
              %h2 Pause Your Order
              = link_to '&#215;'.html_safe, '#', class: 'close-reveal-modal'
              = render partial: 'distributor/orders/pause_form', locals: { order: order }

