.row
  %table#orders.twelve.columns
    %tbody
      %tr
        %td.data-list-new-link.add-colour
          .row
            .twelve.columns
              = link_to 'Create a new order', new_distributor_account_order_path(@account)
      - @orders.each do |order|
        %tr
          %td
            .row
              .four.columns
                %ul
                  %li.box-name.larger-font= order.box.name
                  %li= order_customisation(order)
                  %li= order_extras(order)
                  %li= link_to 'edit', edit_distributor_account_order_path(@account, order)
              .six.columns
                %ul
                  %li.larger-font= order_schedule(order, exception_rules: false, exception_times: false)
                  %li= order_schedule(order, recurrence_rules: false, recurrence_times: false)
                  %li= render partial: 'pausing', locals: { order: order }
              .two.columns
                %ul.text-right
                  %li.larger-font= order.price.format
                  %li= link_to('remove order',
                    deactivate_distributor_account_order_path(@account, order),
                    confirm: order_delete_warning(order), method: :put)
            .row
              .five.columns.offset-by-four
                = customer_delivery_links(order)

