.row
  %table#orders.span12
    %tbody
      %tr
        %td.data-list-new-link.add-colour
          .row
            .span12
              = link_to 'Create a new order', new_distributor_account_order_path(@account)
      - @orders.each do |order|
        %tr
          %td
            .row
              .span4
                %ul
                  %li.box-name.larger-font= order.box.name
                  %li= order_customisation(order)
                  %li= order_extras(order)
                  %li= link_to 'edit', edit_distributor_account_order_path(@account, order)
              .span6
                %ul
                  %li.larger-font= order_schedule(order, exception_rules: false, exception_times: false)
                  - if order.reoccurs?
                    %li= render partial: 'distributor/orders/pausing', locals: { order: order }
              .span2
                %ul.text-right
                  %li.larger-font= order.price.format
                  %li= link_to('remove order',
                    deactivate_distributor_account_order_path(@account, order),
                    confirm: order_delete_warning(order), method: :put)
            .row
              .span5.offset4
                = customer_delivery_links(order)

