= customer_title(@account.customer, title: "Edit Order for #{customer_and_number(@account.customer)}")

= render 'form'

= link_to 'Show', [current_distributor, @account, @order]
\|
= link_to 'Back', distributor_customer_path(current_distributor, @account.customer)
