= customer_title(@account.customer, title: "Edit Order for #{customer_and_number(@account.customer)}")

= render 'shared/orders/form'

= link_to 'Show', [:distributor, @account, @order]
\|
= link_to 'Back', distributor_customer_path(@account.customer)
