- title 'Orders', false

=link_to 'Add Order', new_distributor_order_path(current_distributor)

.row.data-headings
  %h4.two.columns ID
  %h4.two.columns Customer
  %h4.two.columns Box
  %h4.two.columns Frequency
  %h4.two.columns Quantity
  %h4.two.columns

- @orders.each do |order|
  .row.data-listings
    .two.columns= link_to order.id, [current_distributor, order]
    .two.columns= link_to order.customer.name, [current_distributor, order.customer.account] if order.customer
    .two.columns= link_to order.box.name, [current_distributor, order.box]
    .two.columns= order.frequency
    .two.columns= order.quantity
    .two.columns
      = link_to 'Edit', edit_distributor_order_path(current_distributor, order)
      = link_to 'Destroy', [current_distributor, order], :confirm => 'Are you sure?', :method => :delete

