- title 'Orders', false

%dl.nice.tabs
  %dd= link_to image_tag('buckylogo.png'), distributor_root_path
  %dd= link_to 'Store', market_store_path(current_distributor.parameter_name)
  %dd= link_to 'Orders', distributor_orders_path(current_distributor), :class => 'active'
  %dd= link_to 'Billing', '#billing'
  %dd= link_to 'Customers', :controller => 'distributor/customers', :action => 'index', :distributor_id => current_distributor
  %dd= link_to 'Settings', '#settings'

%ul.nice.tabs-content
  %li.active
    %table
      %thead
        %tr
          %th Box
          %th Customer
          %th Quantity
          %th Likes
          %th Dislikes
          %th Completed
          %th

      - @orders.each do |order|
        %tbody
          %tr
            %td= link_to order.box.name, [current_distributor, order.box]
            %td 
              - if order.customer
                = link_to order.customer.name, order.customer
              - else
                No customer
            %td= order.quantity
            %td= order.likes
            %td= order.dislikes
            %td= order.completed
            %td
              = link_to 'Show', [current_distributor, order]
              = link_to 'Edit', edit_distributor_order_path(current_distributor, order)
              = link_to 'Destroy', [current_distributor, order], :confirm => 'Are you sure?', :method => :delete

