%p#notice= notice

%p
  %b Box:
  = @order.box.name
%p
  %b Customer:
  = @order.customer.name
%p
  %b Quantity:
  = @order.quantity
%p
  %b Likes:
  = @order.likes
%p
  %b Dislikes:
  = @order.dislikes

= link_to 'Edit', edit_distributor_account_order_path(current_distributor, @account, @order)
\|
= link_to 'Back', distributor_account_path(current_distributor, @account)
