- title 'Place Order'

= simple_form_for(@order) do |f|
  = f.error_notification

  .inputs
    = label_tag :email, :class => "email required" do
      %abbr{:title => 'required'} *
      Your Email
    = text_field_tag :email, nil, :class => "email required input-text", :required => 'required'
    = f.association :box, :as => :hidden
    = f.input :quantity
    = f.input :frequency, :collection => Order::FREQUENCIES.map{ |fr| [fr.titleize, fr] }, :include_blank => false 
    = f.input :likes if @box.likes?
    = f.input :dislikes if @box.dislikes?

  .actions
    = f.button :submit, 'Next'

