- title 'Customer Details'

= simple_form_for(@customer) do |f|
  = f.error_notification

  .inputs
    = hidden_field_tag :order_id,  @order.id
    = f.input :name
    = f.input :email
    = f.input :phone

  = f.simple_fields_for :address do |g|
    .inputs
      = g.input :address_1
      = g.input :address_2
      = g.input :suburb
      = g.input :city
      = g.input :postcode
      = g.input :delivery_note

  .actions
    = f.button :submit, 'Next'


