- title 'Market', false

%table
  %thead
    %tr
      %th Image
      %th Name
      %th Price
      %th Likes
      %th Dislikes
      %th Available Single
      %th Available Weekly
      %th Available Fourtnightly

  %tbody
    - @boxes.each do |box|
      %tr
        %td{:rowspan => 2}= image_tag(box.box_image.url) if box.box_image?
        %td= box.name
        %td= box.price
        %td= box.likes
        %td= box.dislikes
        %td= box.available_single
        %td= box.available_weekly
        %td= box.available_fourtnightly
      %tr
        %td{:colspan => 6}= box.description
        %td{:colspan => 1}
          = button_to 'Buy', market_buy_path(@distributor.parameter_name, box), :method => :get, :class => 'button radius'

