- title 'Success!'

%p Thanks, we've received your order for:

%p
  == Box Name: #{@box.name}
  %br
  == At: #{@box.price}
  %br
  == Quantity of: #{@order.quantity}
  %br
  == For a total of: #{@box.price * @order.quantity}
  %br
  == Ariving every: #{@order.frequency}

%p We shall email you confirming your delivery date, or if there's any problems with your voucher code.

= button_to 'I want to order another box!', market_store_path(@distributor.parameter_name), :method => :get, :class => 'button nice'
