%p Hi #{@distributor.contact_name},

%p Thanks for being a local food hero, and welcome to your new account with Bucky Box.

%p= image_tag attachments["powering-local-food.png"].url

%p Bucky Box has been designed to help you sell your products, manage your customers, fulfil your orders and reconcile payments. It's a turn key solution for local food enterprise.

%p We've set you up with our starter account which gives you 30 customers free in your database, and gives you the space to get set up and running to see how easy it is to run your local food enterprise with Bucky Box.

%strong You can log in and create a password here
%ul
  %li= new_distributor_password_url
  %li User: #{@distributor.email}

%strong Getting Started:
%ul
  %li Get in touch - we'd love to give you a personal introduction to Bucky Box, just reply to this email to arrange a time. In the meantime you can take a video-guided tour...
  %li Watch the Getting Started video: #{link_to "http://bit.ly/buckybox-setup-guide", "http://bit.ly/buckybox-setup-guide"}
  %li= image_tag attachments["getting-started.png"].url
  %li Add some customers: #{link_to "http://bit.ly/buckybox-customers", "http://bit.ly/buckybox-customers"}
  %li Contact us through the green Feedback tab to confirm your Payment Types and we will set up your Webstore.

%strong Support Forum:
%ul
  %li Look through support documents and videos here: #{link_to "http://bit.ly/buckybox-knowledgebase", "http://bit.ly/buckybox-knowledgebase"}
  %li Suggest Ideas or vote on existing ones here: #{link_to "http://bit.ly/buckybox-knowledgebase", "http://bit.ly/buckybox-ideasforum"}

%p Don't hesitate to drop me a line if you have any questions.

%p Thanks for being part of a better food system,

%p The Bucky Box Team

%p
  Bucky Box:
  %strong powering local food

%p= link_to "www.buckybox.com", "http://www.buckybox.com/"

