.row.box-form
  .twelve.columns
    = simple_form_for([:distributor, @box]) do |f|
      = f.error_notification

      .row
        .four.columns
          .inputs
            = f.input :name, label: false, placeholder: 'Name', size: 20
            = f.input :price, as: :currency, label: false, input_html: { class: 'input-text' }, hint: 'per box'

            %h4 Custom boxes
            = f.input :likes, label: 'Enable likes'
            = f.input :dislikes, label: 'Enable dislikes'

        .four.columns
          = f.input :description

        .four.columns
          .inputs
            %h4 Delivery options
            = f.input :available_single, label: 'One-time delivery'
            = f.input :available_weekly, label: 'Weekly'
            = f.input :available_fourtnightly, label: 'Fortnightly'

            %h4 Choose your logo
            = f.input :box_image, label: false, hint: 'Any jpeg, gif or png image file'
            = f.input :box_image_cache, as: :hidden

            .uploaded_image= image_tag(@box.box_image.url) if @box.box_image?
            .image-thumbnail

      .row
        .twelve.columns.text-right
          .actions= f.button :submit
