.row.box-form
  .twelve.columns
    = simple_form_for([:distributor, @box]) do |f|
      = f.error_notification

      .row
        .four.columns
          .inputs
            = f.input :name, label: false, placeholder: 'Name', size: 20
            = f.input :price, as: :currency, label: false, input_html: { class: 'input-text' }, hint: 'per box'

            %h4 Custom boxes
            = f.input :likes, label: 'Enable likes'
            = f.input :dislikes, label: 'Enable dislikes'
            = f.input :extra_option, label: 'Extras', collection: Box::EXTRA_OPTIONS, include_blank: false
            #extras_form
              = f.input :extras_limit, label: 'Limited to', hint: 'per box', input_html: { class: 'input-text' }
              =# JS updates prop 'min' in distributor/boxes.js
              = f.association :extras, collection: current_distributor.extras, as: :check_boxes, label: false

        .four.columns
          = f.input :description

        .four.columns
          .inputs
            %h4 Choose your logo
            = f.input :box_image, label: false, hint: 'Any jpeg, gif or png image file'
            = f.input :box_image_cache, as: :hidden

            .uploaded_image= image_tag(@box.box_image.url) if @box.box_image?
            .image-thumbnail

      .row
        .twelve.columns.text-right
          .actions= f.button :submit
