= simple_form_for([@distributor, @box]) do |f|
  = f.error_notification

  .inputs
    = f.input :name
    = f.input :description
    = f.input :likes
    = f.input :dislikes
    = f.input :price, :as => :string
    = f.input :available_single
    = f.input :available_weekly
    = f.input :available_fourtnightly
    = f.input :box_image
    = f.input :box_image_cache, :as => :hidden

  .uploaded_image
    - if @box.box_image?
      = image_tag(@box.box_image.url)
      = f.input :remove_box_image, as: :boolean, label: "Remove image"
  .actions
    = f.button :submit
