.row
  %table.twelve.columns
    %thead
      %tr
        %th Image
        %th Name
        %th Price
        %th Extras
        %th Likes
        %th Dislikes
        %th Description
        %th Actions

    %tbody
      - @boxes.each do |box|
        %tr
          %td= image_tag(box.box_image.thumb.url) if box.box_image?
          %td= box.name
          %td= box.price.format
          %td= box.extra_option(true)
          %td= checkmark_boolean(box.likes)
          %td= checkmark_boolean(box.dislikes)
          %td= box.description
          %td= link_to 'Edit', edit_distributor_box_path(box)
