%p#notice= notice

%p
  %b Name:
  = @box.name
%p
  %b Description:
  = @box.description
%p
  %b Likes:
  = @box.likes
%p
  %b Dislikes:
  = @box.dislikes
%p
  %b Price cents:
  = @box.price_cents
%p
  %b Currency:
  = @box.currency
%p
  %b Available single:
  = @box.available_single
%p
  %b Available weekly:
  = @box.available_weekly
%p
  %b Available fourtnightly:
  = @box.available_fourtnightly

= link_to 'Edit', edit_distributor_box_path(current_distributor, @box)
\|
= link_to 'Back', distributor_orders_path(current_distributor)
