%li
  .box
    = image_tag(box.box_image.big_thumb.url)

    %h4.box-name= box.name

    %ul
      %li
        %h5= box.price.format

      .box-description= simple_format box.description

  = button_to 'Order', webstore_process_step_path(distributor.parameter_name, webstore_order: { box_id: box }), method: :post, class: 'button radius'
