.webstore-item
  .box
    = image_tag(box.box_image.webstore.url)

    %section
      %h4.name= box.name
      .description= simple_format box.description

  %aside.clearfix
    .price= WebstoreOrder.box_price(box, current_customer).format
    = button_to 'Order', webstore_process_step_path(distributor.parameter_name, webstore_order: { box_id: box }), method: :post, class: 'btn btn-process'
