.row
  .twelve.columns= image_tag(order_details[:box].box_image.big_thumb.url)
.row
  .twelve.columns{ style: 'height:88px;' }
    %h4{ style: 'background-color:#eee; padding:5px 9px;' }= order_details[:box].name
.row
  .twelve.columns
    %h4= order_details[:box].price.format
.row
  %p.twelve.columns
    Likes:
    = checkmark_boolean(order_details[:box].likes)
    \| Dislikes:
    = checkmark_boolean(order_details[:box].dislikes)
    \| Extras:
    = checkmark_boolean(order_details[:box].extras_allowed?)
.row
  %p.twlve.columns= order_details[:box].description
