.row-fluid
  .span12.alert.payment-message
    .row-fluid
      .span12
        %strong== Please deposit funds into #{@bank.name} Bank
    .row-fluid
      .span12
        == Account Name: #{@bank.account_name}
        %br
        == BSB Number: #{@bank.bsb_number}
        %br
        == Account Number: #{@bank.account_number}
        - if customer_signed_in?
          %br
          == Reference: #{current_customer.formated_number}
    .row-fluid
      .span12
        = simple_format(@bank.customer_message, {}, sanitize: false)
