.row-fluid
  #current-order.span12
    .section-info-background

    = image_tag(webstore_order.box.box_image.webstore.url, alt: 'Box Image')

    %table.section-info
      %tbody
        - total = Money.new(0, webstore_order.currency) # logic in the views, gross

        %tr#description
          %td.description
            %h1= webstore_order.box_name
            = simple_format(webstore_order.box_description)
          %td.price
            - total += webstore_order.box_price
            = webstore_order.box_price.format
        - if webstore_order.customised?
          %tr#customisation
            %td.description
              %h2== Exclude & substitute
              %table.sub-section-info
                - unless webstore_order.exclusions.empty?
                  %tr
                    %td.icon
                      %i.icon-minus-sign
                    %td{ title: webstore_order.exclusions_string }
                      = webstore_order.exclusions_string
                - unless webstore_order.substitutions.empty?
                  %tr
                    %td
                      %i.icon-plus-sign
                    %td{ title: webstore_order.substitutions_string }
                      = webstore_order.substitutions_string
            %td.price
          - unless webstore_order.extras.empty?
            %tr#extras
              %td.description
                %h2 Extra items
                %table.sub-section-info
                  - unless webstore_order.extras.empty?
                    - webstore_order.extra_objects.each do |extra_object|
                      %tr
                        %td.icon
                          %i.icon-plus
                        %td
                          = webstore_order.extra_string(extra_object)
                        %td.quantity
                          %span.label= webstore_order.extra_count(extra_object)
                %div{ title: webstore_order.extras_description }
              %td.price
                - total += webstore_order.order_extras_price
                = webstore_order.order_extras_price.format
        - if webstore_order.scheduled?
          %tr#route
            %td.description
              %h2 Delivery service
            %td.price
              - total += webstore_order.route_fee
              = webstore_order.route_fee.format
          - if webstore_order.has_bucky_fee?
            %tr#bucky-fee
              %td.description
                %h2 Bucky Box transaction fee
              %td.price
                = webstore_order.bucky_fee.format
        - if webstore_order.customised? || webstore_order.scheduled?
          - discount = OrderPrice.discounted(total, current_customer) - total
          - total += discount
          - if !discount.zero?
            %tr#discount
              %td.description
                %h2 Customer discount
              %td.price
                = discount.format
          %tr#total
            %td.description
              %h1 Total:
            %td.price
              - total += webstore_order.bucky_fee if webstore_order.has_bucky_fee?
              %span= total.format
