#current-order.row
  .three.columns= image_tag(webstore_order.thumb_url)
  %table.nine.columns
    %tr
      %td.important= webstore_order.box_name
      %td.important= webstore_order.box_price.format

    - if webstore_order.box_description
      %tr
        %td= simple_format webstore_order.box_description
        %td
    - elsif webstore_order.order
      %tr
        %td= order_customisation(webstore_order.order)
        %td
      %tr
        %td= order_extras(webstore_order.order)
        %td.important= webstore_order.extras_price.format

    - if @route
      %tr
        %td= webstore_order.route_name
        %td= webstore_order.route_fee

    - if webstore_order.completed?
      %tr
        %td
        %td.important= webstore_order.price.format
