#current-order.row.webstore-section
  .two.columns= image_tag(webstore_order.thumb_url)
  .ten.columns
    .row
      .ten.columns.important= webstore_order.box_name
      .two.columns.important.text-right= webstore_order.box_price.format

    - if webstore_order.customised?
      .row
        .ten.columns{ title: webstore_order.customisation_description }
          = truncate(webstore_order.customisation_description, length: 100)
      .row
        .ten.columns{ title: webstore_order.extras_description }
          = truncate(webstore_order.extras_description, length: 100)
        .two.columns.important.text-right= webstore_order.order_extras_price.format
    - else
      .row
        .ten.columns= simple_format(webstore_order.box_description)

    - if webstore_order.scheduled?
      .row
        .ten.columns= webstore_order.route_name
        .two.columns.important.text-right= webstore_order.route_fee

    - if webstore_order.completed?
      .row
        .two.columns.offset-by-ten.important.text-right= webstore_order.price.format
