- title 'Place Order'

= simple_form_for(:buy, url: webstore_customer_details_path(@distributor.parameter_name)) do |f|
  = f.error_notification

  .inputs
    = f.input :frequency, collection: Order::FREQUENCIES.map{ |fr| [fr.titleize, fr] }, include_blank: false
    = f.input :likes, as: :text, input_html: { rows: '4' } if @box.likes?
    = f.input :dislikes, as: :text, input_html: { rows: '4' } if @box.dislikes?

    %fieldset
      %h5 Extras
      = simple_fields_for(:extra) do |f|
        = f.input :include_extras, as: :boolean, label: "include extras"

        #webstore_extras{ style: 'display:none;' }
          - unless @box.extras_unlimited?
            %p This box is limited to #{@box.extras_limit} extras.

          - @box.extras.alphabetically.each do |extra|
            = f.input "extras[#{extra.id}][count]", label: extra.name_with_price, input_html: { min: 0, class: 'input-text', value: 0, id: "extras_#{extra.id}_count" }, as: :integer

          = f.input :extras_one_off, as: :select, collection: [["include with every delivery", false], ["include in the next delivery only", true]], label: false, include_blank: false

        %p Extras can be either a one off order or every delivery.

  .actions
    = f.button :submit, 'Next'
