= simple_form_for(:webstore_order, url: webstore_process_step_path) do |f|
  .row.webstore-section
    .ten.columns.offset-by-two
      = f.simple_fields_for(:address) do |g|
        #address.inputs
          .row
            .ten.columns
              .row
                .twelve.columns.important Your Name
              .row
                .twelve.columns= g.input :name, label: false, input_html: { class: 'expand' }
          .row
            .ten.columns
              .row
                .twelve.columns.important Deliver To:
              .row
                .twelve.columns
                  = g.input :street_address, input_html: { class: 'expand' }
                  = g.input :street_address_2, label: false, input_html: { class: 'expand' }, required: false
                  = g.input :suburb, input_html: { class: 'expand' }, required: false
                  = g.input :city, required: false
                  = g.input :post_code, required: false

  - if customer_signed_in?
    .row.webstore-section
      .ten.columns.offset-by-two
        .row
          .ten.columns.important Your existing account balance with us
          .two.columns.important= @current_balance.format
        .row
          .ten.columns.important This order
          .two.columns.important== (#{@order_price.format})
        .row
          .ten.columns.important Closing balance
          .two.columns.important= @closing_balance.format

  .row.webstore-section
    .ten.columns.offset-by-two
      .row
        .ten.columns.grey-note
          - if customer_signed_in? && @closing_balance.positive?
            Your account is in credit
            %small No payment necessary
          - else
            == Total Amount Due #{@amount_due}
      .row
        .ten.columns
          %p
            %strong== Please deposit funds into #{@bank.name}
            %br
            == Account Name: #{@bank.account_name}
            %br
            == BSB Number: #{@bank.bsb_number}
            %br
            == Account Number: #{@bank.account_number}
            - if customer_signed_in?
              %br
              == Reference: #{current_customer.number}
          %p= simple_format(@bank.customer_message)

  .row
    .twelve.columns
      .actions= f.button :submit, 'Complete Order', class: 'float-right'
