- title('Webstore - Complete', false)
= render 'webstore_sidebar'
- if current_customer.halted?
  .alert.alert-error
    Your account is under the minimum balance and will not recieve new orders unless payment is cleared before the packing date.
= render partial: 'webstore_order', object: @webstore_order

= simple_form_for(:webstore_order, url: webstore_process_step_path) do |f|
  #webstore-address.row-fluid.webstore-section{ data: { 'has-address' => "#{@has_address ? 'true' : 'false'}" } }
    .span10
      = f.simple_fields_for(:address) do |g|
        #existing-address.row-fluid
          .span12
            .row-fluid
              .span12
                %h4 Deliver To:
            .row-fluid
              .span12
                = @address.join('<br>') if @has_address
                %br
                = link_to 'change my delivery address', '#', id: 'edit-address'
        #update-address.row-fluid
          .span12
            .row-fluid
              .span12
                %h4 Your Name
            .row-fluid
              .span12= g.input :name, label: false, placeholder: 'Enter your name', input_html: { value: @customer_name, class: 'span12' }, required: true
            .row-fluid
              .span12
                %h4 Deliver To
            .row-fluid
              .span12
                = g.input :street_address, label: false, placeholder: 'Street', input_html: { value: @street_address, class: 'span12' }, required: true
                = g.input :street_address_2, label: false, placeholder: 'Street', label: false, input_html: { value: @street_address_2, class: 'span12' }, required: false
                = g.input :suburb, label: false, placeholder: 'Suburb', input_html: { value: @suburb, class: 'span12' }, required: false
            .row-fluid
              .span9= g.input :city, label: false, placeholder: 'City', required: false, input_html: { value: @city, class: 'span12' }, wrapper_html: { id: 'city' }
              .span3= g.input :post_code, label: false, placeholder: 'Post code', required: false, input_html: { value: @post_code, class: 'span12' }, wrapper_html: { id: 'postal_code' }

  - if customer_signed_in?
    #webstore-balance.row-fluid.webstore-section.important
      .span10
        .totals-text Your existing account balance with us
        .totals-text This order
        .totals-text Balance owing
      .span2
        .text-right= @current_balance.format
        .text-right= (@order_price * -1).format
        .text-right.total= @closing_balance.format

  .row-fluid.webstore-section
    #webstore-payment.span12
      .row-fluid
        #amount-due.span12
          .row-fluid.important
            - if customer_signed_in? && @closing_balance.positive?
              .span10 Your account is in credit
              .span2.text-right No payment necessary
            - else
              .span10 Total Amount Due
              .span2.text-right= @amount_due.format
      = render partial: 'customer/dashboard/payment_details'

  .row-fluid
    .span12
      = f.input :complete, as: :hidden, input_html: { value: true }
      = f.button :submit, 'Complete Order', class: 'pull-right btn btn-process'
