- title('Webstore - Complete', false)
= render 'webstore_sidebar'
- if current_customer.present? && current_customer.halted?
  .alert.alert-error
    Your account is under the minimum balance and will not recieve new orders unless payment is cleared before the packing date.
= render partial: 'webstore_order', object: @webstore_order

= simple_form_for(:webstore_order, url: webstore_process_step_path) do |f|
  #webstore-address.row-fluid.webstore-section{ data: { 'has-address' => "#{@has_address ? 'true' : 'false'}" } }
    .span10
      = f.simple_fields_for(:address) do |g|
        #existing-address.row-fluid
          .span12
            .row-fluid
              .span12
                %h4 Deliver To:
            .row-fluid
              .span12
                = @address.join('<br>') if @has_address
                %br
                = link_to 'Change my delivery address', '#', id: 'edit-address'
        #update-address.row-fluid
          .span12
            .row-fluid
              .span12
                %h4 Your Name
            .row-fluid
              .span12= g.input :name, label: false, placeholder: 'Enter your name', input_html: { value: @name, class: 'span12' }, required: true
            - if @distributor.collect_phone?
              .row-fluid
                .span12
                  %h4 Your Phone Number
              .row-fluid
                .span9= g.input :phone_number, label: false, placeholder: 'Enter your phone number', input_html: { value: @phone_number, class: 'span12' }, required: @distributor.require_phone
                .span3= g.input :phone_type, collection: phone_types_collection, label: false, selected: @phone_type, input_html: { class: 'span12' }
            .row-fluid
              .span12
                %h4 Deliver To
            .row-fluid
              .span12
                = g.input :street_address, label: false, placeholder: 'Street', input_html: { value: @street_address, class: 'span12' }, required: @distributor.require_address_1
                = g.input :street_address_2, label: false, placeholder: 'Street', label: false, input_html: { value: @street_address_2, class: 'span12' }, required: @distributor.require_address_2
                = g.input :suburb, label: false, placeholder: 'Suburb', input_html: { value: @suburb, class: 'span12' }, required: @distributor.require_suburb
            .row-fluid
              .span9= g.input :city, label: false, placeholder: 'City', required: @distributor.require_city, input_html: { value: @city, class: 'span12' }, wrapper_html: { id: 'city' }
              .span3= g.input :postcode, label: false, placeholder: 'Postcode', required: @distributor.require_postcode, input_html: { value: @postcode, class: 'span12' }, wrapper_html: { id: 'postal_code' }

  - if customer_signed_in?
    #webstore-balance.row-fluid.webstore-section.important
      .span10
        .totals-text Your existing account balance with us
        .totals-text This order
        .totals-text Closing balance
      .span2
        .text-right.total_price= MoneyDisplay.new(@current_balance)
        .text-right.total_price= MoneyDisplay.new(@order_price).negative
        .text-right.total.total_price= MoneyDisplay.new(@closing_balance)

  .row-fluid.webstore-section
    #webstore-payment.span12
      .row-fluid
        #amount-due.span12
          .row-fluid.important
            - if customer_signed_in? && @closing_balance.positive?
              .span10 Your account is in credit
            - else
              .span10 Total amount due
              .span2.text-right.total_price= MoneyDisplay.new(@amount_due).negative
      - if @distributor.only_one_payment_option?
        = f.input :payment_method, as: :hidden, input_html: {value: @distributor.only_payment_option}
      - else
        .row-fluid
          #payment-options.span12
            - if @payment_required
              = render partial: 'webstore/payment_options', locals: {payment: PaymentOptionsForm.new(form: f, webstore_order: @webstore_order)}
            - else
              .span12.text-center No payment necessary
              = f.input :payment_method, as: :hidden, input_html: {value: 'paid'}
  .row-fluid
    .span12
      = f.input :complete, as: :hidden, input_html: { value: true }
      - if @payment_required
        = f.button :submit, 'Next', class: 'pull-right btn btn-process'
      - else
        = f.button :submit, 'Complete', class: 'pull-right btn btn-process'
