- title 'Customer Details'

- if customer_signed_in?
  %h2 Your Details
  %dl.table-display
    %dt Name
    %dd= current_customer.name
    %dt Email
    %dd= current_customer.email
    %dt Delivery Address
    %dd= current_customer.address.join('<br />')
    %dt Notes
    %dd= current_customer.address.delivery_note

    = simple_form_for(:route, url: webstore_payment_path(@distributor.parameter_name)) do |f|
      .inputs
        = f.input :frequency, collection: order_frequencies, include_blank: false
        = f.input :start_date, collection: order_start_dates(current_customer.route), label: 'When would you like the delivery?', include_blank: false

      .actions
        = f.button :submit, 'Next'

- else
  %h2 Login
  %h3 (Existing customer)
  = simple_form_for(Customer.new, as: :customer, url: session_path(:customer)) do |f|
    = f.error_notification

    .inputs
      = f.input :email, required: true
      = f.input :password, required: true
      = f.input :remember_me, as: :boolean if Devise.mappings[:customer].rememberable?

    .actions
      = f.button :submit, 'Customer Login'

  %hr

  %h2 Delivery Details
  %h3 (New customers)

  = simple_form_for(:customer_details, url: webstore_payment_path(@distributor.parameter_name)) do |f|
    = f.error_notification

    .row.inputs
      .six.columns
        = f.input :first_name
        = f.input :last_name, required: false
        = f.input :email

        = f.simple_fields_for(:address) do |g|
          = g.input :address_1
          = g.input :address_2, required: false
          = g.input :suburb
          = g.input :city
          = g.input :postcode, required: false

      .six.columns
        = f.simple_fields_for(:address) do |g|
          = g.input :phone_1, required: false
          = g.input :phone_2, required: false
          = g.input :phone_3, required: false
          = g.input :delivery_note, as: :text, input_html: { rows: '9' }, required: false

        = simple_fields_for(:route) do |h|
          = h.input :frequency, collection: order_frequencies, include_blank: false
          = h.input :start_date, collection: all_order_start_dates(@distributor), label: 'When would you like the delivery?', include_blank: false

    .actions
      = f.button :submit, 'Next'

