- title 'Customer Details'

%h2 Login
%h3 (Existing customers)

= simple_form_for(Customer.new, as: :customer, url: session_path(:customer)) do |f|
  .inputs
    = f.input :email, required: true, label: false, placeholder: "Email", autofocus: true
    = f.input :password, required: true, label: false, placeholder: "Password"
    = f.input :remember_me, as: :boolean if Devise.mappings[:customer].rememberable?

  .actions
    = f.button :submit, "Customer Login"

%hr

%h2 Delivery Details
%h3 (New customers)

= simple_form_for(:customer_details, url: webstore_payment_path) do |f|
  = f.error_notification

  .inputs
    = f.input :first_name
    = f.input :last_name
    = f.input :email

  = f.simple_fields_for(:address) do |g|
    .inputs
      .row
        .six.columns
          = g.input :address_1
          = g.input :address_2
          = g.input :suburb
          = g.input :city
          = g.input :postcode
        .six.columns
          = g.input :delivery_note, as: :text, input_html: { rows: '4' }
          = g.input :phone_1
          = g.input :phone_2
          = g.input :phone_3

  .actions
    = f.button :submit, 'Next'

