.row.webstore-section
  .ten.columns.offset-by-two
    .row
      .ten.columns.important Deliver To:
    .row
      .twelve.columns
        = @customer.name
        %br
        = @address.join('<br>')
    #webstore-placed-schedule.row
      .ten.columns.important Delivery Date
    .row
      .twelve.columns
        = @schedule_rule.next_occurrence.to_s(:day_month_date_year)
        %br
        = @schedule_rule
.row
  .twelve.columns
    .actions.text-center
      = link_to 'Webstore', webstore_store_path(@distributor.parameter_name), class: 'button radius', id: 'webstore'
      = link_to 'My Account', customer_root_path, class: 'button radius', id: 'webstore-my-account'
