- stylesheet 'sign_up_wizard'
- javascript 'sign_up_wizard'

- content_for :body do
  = simple_form_for("distributor", url: "javascript:void(0)", remote: true, html: { novalidate: false, autocomplete: "off" }) do |f|

    %header
      = image_tag "bucky-box-logo-white.png", alt: "Bucky Box"
      %a#close{href: "javascript:void(0)"} &times;

    %section
      #step 1/3
      #message
      %article#one.step
        %fieldset
          %legend organisation
          = f.input_field :name, placeholder: "Organisation name", required: true

        %fieldset
          %legend account login
          = f.input_field :contact_name, placeholder: "Your name", required: true
          = f.input_field :email, type: "email", placeholder: "Your email address", required: true
          = f.input_field :password, type: "password", placeholder: "Password", pattern: ".{6,}", title: "Minimum 6 characters", required: true
          = f.input_field :password_confirmation, type: "password", placeholder: "Confirm password", required: true

        %fieldset
          %legend location
          %div
            = f.input :country, collection: Country.all.sort_by(&:name), value_method: :alpha2, label_method: :full_name, include_blank: false, selected: country
          %div
            = f.input :time_zone, as: :time_zone, priority: Regexp.new(time_zone)

      %article#two.step.hide
        %fieldset
          %legend address
          #address_fields
          = f.input_field :phone, type: "tel", placeholder: "Phone", required: true

        %fieldset
          %legend customer support and url
          = f.input_field :support_email, type: "email", placeholder: "Email address for customer support", required: true
          %div
            = f.input_field :parameter_name, title: "(URL) e.g. farmville-organics", required: true, value: "my.buckybox.com/"

      %article#three.step.hide
        %fieldset#payment_types
          %legend payment types
          %div
            = f.input_field :payment_bank_deposit, as: "boolean"
            %label{for: "distributor_payment_bank_deposit"} We accept payments by <strong>Bank Deposit</strong>
          #bank_deposit_details
            = f.input_field :bank_name, label: false, collection: [], placeholder: "Which bank do you use to accept payments?"
          %div
            = f.input_field :payment_cash_on_delivery, as: "boolean"
            %label{for: "distributor_payment_cash_on_delivery"} We accept <strong>Cash on Delivery</strong>
          %div
            = f.input_field :payment_credit_card, as: "boolean"
            %label{for: "distributor_payment_credit_card", title: "Available soon!"} We would like to accept payments by <strong>Credit Card</strong>
          %div
            = f.input_field :payment_direct_debit, as: "boolean"
            %label{for: "distributor_payment_direct_debit", title: "Available soon!"} We would like to charge by <strong>Direct Debit</strong>

        %fieldset
          %legend Survey
          %div
            = f.input_field :source, label: false, collection: ["Word of mouth", "Search engine", "Twitter", "Facebook", "Online ad"], placeholder: "How did you first hear about us?"
          %div
            = f.input_field :deliveries_per_week, label: false, placeholder: "How many boxes do you deliver per week?", type: "number", min: 0, step: 10

    %footer
      %input#back.hide{type: "button", value: "Back"}
      %input#next.primary{type: "submit", value: "Next"}

  / Crafted with lots of love!

