= simple_form_for(@address, url: customer_address_path(current_customer), html: { method: :put }) do |f|
  = f.error_notification

  .inputs
    = f.input :address_1
    = f.input :address_2
    = f.input :suburb
    = f.input :city
    = f.input :postcode
    = f.input :phone
    = f.input :phone_2
    = f.input :phone_3
    = f.input :delivery_note

  .actions
    = f.button :submit
