= simple_form_for([@distributor, @invoice_information]) do |f|
  = f.error_notification

  .inputs
    = f.association :distributor
    = f.input :gst_number
    = f.input :billing_address_1
    = f.input :billing_address_2
    = f.input :billing_suburb
    = f.input :billing_city
    = f.input :billing_postcode

  .actions
    = f.button :submit
