- title 'Customers', false

%ul.nice.tabs-content
  %li.active
    %table
      %thead
        %tr
          %th Name
          %th Email
          %th Phone
          %th Address
          %th

      - @customers.each do |customer|
        %tbody
          %tr
            %td= customer.name
            %td= customer.email
            %td= customer.phone
            %td= customer_address(customer)
            %td
              = link_to 'Show', customer
              = link_to 'Edit', edit_customer_path(customer)
              = link_to 'Destroy', customer, :confirm => 'Are you sure?', :method => :delete

