- title 'Customers', false

%dl.nice.tabs
  %dd= link_to image_tag('buckylogo.png'), distributor_root_path
  %dd= link_to 'Store', market_store_path(current_distributor.parameter_name)
  %dd= link_to 'Orders', distributor_orders_path(current_distributor)
  %dd= link_to 'Billing', '#billing'
  %dd= link_to 'Customers', distributor_customers_path(current_distributor), :class => 'active'
  %dd= link_to 'Settings', '#settings'

%ul.nice.tabs-content
  %li.active
    %table
      %thead
        %tr
          %th Name
          %th Email
          %th Phone
          %th Address
          %th

      - @customers.each do |customer|
        %tbody
          %tr
            %td= customer.name
            %td= customer.email
            %td= customer.phone
            %td= customer_address(customer)
            %td
              = link_to 'Show', customer
              = link_to 'Edit', edit_customer_path(customer)
              = link_to 'Destroy', customer, :confirm => 'Are you sure?', :method => :delete

