.row
  .span12.text-center
    %h1 Billing

%hr
.row
  .span1
  %strong.span2 Current Plan
  .span9
    %strong= pricing.name
    %p= pricing.description

%hr
.row
  .span1
  %strong.span2 Billing Date
  .span9
    = pricing.billing_day_of_the_month.ordinalize
    of the month

- unless pricing.discount_percentage.zero?
  %hr
  .row
    .span1
    %strong.span2 Discount
    .span9= number_to_percentage(pricing.discount_percentage, precision: 0)

%hr
.row
  .span1
  %strong.span2 Account Balance
  .span9
    = pricing.account_balance.with_currency(pricing.currency)

%hr
.row
  .span1
  %strong.span2 Current Usage
  .span9
    = pricing.current_usage.with_currency(pricing.currency)
    = "(since #{pricing.last_billing_date} to #{Date.current})"

%hr
.row
  .span1
  %strong.span2 Current Balance
  .span9
    = pricing.current_balance.with_currency(pricing.currency)

%hr
