- title 'Dashboard', false

- if @events.blank?
  .row
    .span12
      %h2 Welcome!
      %p
        Please, make sure you have updateded all of your
        = link_to 'settings', distributor_settings_routes_path
        and added
        = link_to 'customers.', distributor_customers_path
        Otherwise watch this space for notifications to be added soon.

- unless @events.blank?
  .row#noticeboard
    .span12
      %h2 Alerts
      - @events.each do |event|
        .row.individual-notice
          .span2{class: "notification_tag #{event.event_category}"}= event.event_category
          .span2= date_for(event)
          .span6= notification_message_for(event)
          .span2.text-right
            = link_to '&times;'.html_safe, distributor_dismiss_event_path(event), class: "dismiss small white button radius"

