- title 'Dashboard', false

= render :partial => 'distributor/shared/topic_tabs'

%h2 Alerts
- @notifications.each do |notification|
  %ul
    %li= date_for notification
    %li{:class => "notification_tag #{notification.event_category}"}
      = notification.event_category
    %li= notification_message_for notification
