- title 'Dashboard', false

%dl.nice.tabs
  %dd= link_to image_tag('buckylogo.png'), distributor_root_path, :class => 'active'
  %dd= link_to 'Store', market_store_path(current_distributor.parameter_name)
  %dd= link_to 'Orders', distributor_orders_path(current_distributor)
  %dd= link_to 'Billing', '#nice4'
  %dd= link_to 'Customers', '#nice5'
  %dd= link_to 'Settings', '#nice6'

%ul.nice.tabs-content
  %li#nice1Tab.active
    Add Order:

