%h3 Make A Payment

= simple_form_for(@payment, url: distributor_payments_path(current_distributor)) do |f|
  = f.error_notification

  .inputs
    = f.input :kind, as: :hidden
    = f.association :account, collection: @accounts.collect { |a| [customer_and_number(a.customer), a.id] }, label: 'Customer'
    = f.input :amount
    = f.input :description, input_html: { rows: 4 }

  .actions
    = f.button :submit
