%h3 Make A Payment

= simple_form_for(@payment, :url => distributor_payments_path(current_distributor)) do |f|
  = f.error_notification

  .inputs
    = f.input :kind, :as => :hidden
    = f.association :account, :collection => @accounts,
      :label_method => lambda { |a| a.customer.name },
      :value_method => lambda { |a| a.id },
      :label => 'Customer'
    = f.input :amount
    = f.input :description

  .actions
    = f.button :submit
