%h3 Make A Payment

= simple_form_for(@payment, url: distributor_payments_path) do |f|
  = f.error_notification

  .inputs
    = f.input :kind, as: :hidden
    = f.association :account, collection: @customers.collect { |c| [customer_and_number(customer), c.account.id] }, label: 'Customer'
    = f.input :amount
    = f.input :description, input_html: { rows: 4 }

  .actions
    = f.button :submit
