- title('Customer Payments', false)
= intro_tour(@show_tour)

- if distributor.can_upload_payments?
  = simple_form_for(@import_transaction_list, url: match_payments_distributor_payments_path, html: { multipart: true }) do |f|
    #upload_more_transactions.modal.hide.fade
      .modal-header
        = button_tag '×', class: 'close', data: { dismiss: 'modal' }, aria: { hidden: 'true' }
        %span import transactions

      .modal-body
        #describe-available-importers.row-fluid
          .span12
            %p= "Please log into #{distributor.banks} to download your transactions in #{content_tag(:strong, 'CSV format')}.".html_safe

        .row-fluid#upload_error_messages
          .span12
            .form_fields.ajax_loader_hide
              - if @import_transaction_list.has_failed?
                .alert.alert-error
                  %strong Ooops! That file didn't look right.
                  %br
                  Did you upload the right file?
      .modal-footer
        .form_fields.ajax_loader_hide
          - unless distributor.omni_importers.count.zero?
            = f.input :omni_importer_id, as: :hidden, input_html: { value: @selected_omni_importer.id}
            .btn-group.text-center
              %button#upload_btn.btn.btn-primary= "Upload #{@selected_omni_importer.name} Transactions"
              - if distributor.omni_importers.count > 1
                %button.btn.btn-primary.dropdown-toggle{data:{toggle:'dropdown'}}
                  %span.caret
                %ul#omni_importer_menu.dropdown-menu
                  - distributor.omni_importers.ordered.each do |omni_importer|
                    %li{data:{id: omni_importer.id, label: "Upload #{omni_importer.name} Transactions"}}= link_to omni_importer.name, '#', style: 'text-align:left'

          %input#import_transaction_list_csv_file{name: 'import_transaction_list[csv_file]', type:'file', style: 'display:none', class: 'auto_submit'}

        .ajax-spinner
- elsif !distributor.show_payments_tab?
  .alert
    You have no bank feeds setup. Please contact #{mail_to Figaro.env.support_email} and supply a sample of your Internet Banking Statement in CSV format.

.row-fluid
  #payment-tables.span12
    %table#main-payment-table.payments.table.table-striped
      %thead
        %tr.muted
          %th.date Date
          %th.description Description
          %th.amount Amount
          %th.account Payment Type
          %th.customer Customer
      %tbody
        - if distributor.can_upload_payments?
          %tr.new-row
            %td{ colspan: 5 }= import_modal_link(@import_transactions, '#upload_more_transactions', 'upload_more_transactions_link')
        - else
          %tr.hidden

        - @import_transaction_lists.each do |import_transaction_list|
          %tr.draft_import_transaction_list
            %td{ colspan: 5 }= render partial: 'draft_transactions', locals: { import_transaction_list: import_transaction_list }
          %tr.hidden

        = render partial: 'distributor/import_transactions/rows'

        %tr
          %td.text-center{ colspan: 5 }
            .ajax_loader_hide= link_to_function "more...", "window.payments.load_more_rows_on_bottom()" unless @import_transactions.blank?
            .ajax-spinner

- if @import_transaction_list.has_failed?
  :javascript
    $(function() {
      $('#upload_more_transactions').modal();
    })
