= simple_form_for([:distributor, @statement], url: process_upload_distributor_payments_path, html: {:multipart => true} ) do |f|
  %fieldset
    %legend Import data from your bank
    %p Please select the bank statement provided by your bank (.csv file)
    = f.error_notification
    = f.input :statement_file, label: false

    .actions
      = f.button :submit
.row
  .twelve.columns
    = render 'distributor/payments/index'
