- title('Customer Payments', false)
= intro_tour(@show_tour)

- if current_distributor.can_upload_payments?
  #upload_more_transactions.modal.hide.fade
    .modal-header
      = button_tag '×', class: 'close', data: { dismiss: 'modal' }, aria: { hidden: 'true' }
      %h3 Import Transactions

    .modal-body
      %p Select the transaction data you wish to import.
      %p= "Login to #{current_distributor.supported_csv_formats} to download/export your bank transactions in CSV format"

      = simple_form_for(@import_transaction_list, url: match_payments_distributor_payments_path, html: { multipart: true }, html: { class: 'form-horizontal' }) do |f|
        .form_fields.ajax_loader_hide
          = f.error_notification

          - if @import_transaction_list.has_failed?
            .error= @import_transaction_list.error_messages
            %br

          - unless current_distributor.omni_importers.count.zero?
            - if current_distributor.omni_importers.count == 1
              = f.input :omni_importer_id, as: :hidden, input_html: { value: current_distributor.omni_importers.first.id}
            - else
              = f.association :omni_importer, collection: current_distributor.omni_importers, label: "File format", include_blank: false


          = f.input :csv_file, label: 'Import transactions', input_html: { class: 'auto_submit' }
        .ajax_loader_gif
- elsif !current_distributor.show_payments_tab?
  .alert
    You have no bank feeds setup. Please contact #{mail_to 'support@buckybox.com'} and supply a sample of your Internet Banking Statement in CSV format.

.row-fluid
  #payment-tables.span12
    %table#main-payment-table.payments.table.table-striped
      %thead
        %tr.muted
          %th.date Date
          %th.description Description
          %th.amount Amount
          %th.account Payment Type
          %th.customer Customer
      %tbody
        - if current_distributor.can_upload_payments?
          %tr.new-row
            %td{ colspan: 5 }= import_modal_link(@import_transactions, '#upload_more_transactions')
        - else
          %tr.hidden

        - @import_transaction_lists.each do |import_transaction_list|
          %tr.draft_import_transaction_list
            %td{ colspan: 5 }= render partial: 'draft_transactions', locals: { import_transaction_list: import_transaction_list }
          %tr.hidden

        = render partial: 'distributor/import_transactions/rows'

        %tr
          %td.text-center{ colspan: 5 }
            .ajax_loader_hide= link_to_function "more...", "window.payments.load_more_rows_on_bottom()" unless @import_transactions.blank?
            .ajax_loader_gif.hidden

- if @import_transaction_list.has_failed?
  :javascript
    $(function() {
      $('#upload_more_transactions').modal();
    })
