- require 'csv'

%h2 Payments

= simple_form_for(@import_transaction_list, url: process_payments_distributor_payment_path(@import_transaction_list), :method => :put) do |f|
  - if @import_transaction_list.errors.present?
    .row.errors
      = @import_transaction_list.errors.full_messages.join(", ")
  .row
    %table.twelve.columns
      %thead
        %tr
          %th Date
          %th Description
          %th Amount
          %th Account
          %th Customer
      %tbody
        - @import_transaction_list.import_transactions.each do |import_transaction|
          = f.simple_fields_for(:import_transactions, import_transaction) do |tf|
            %tr
              = tf.input :id, as: :hidden
              = tf.input :draft, as: :hidden, input_html: {value: false}
              %td= import_transaction.transaction_time.to_s(:transaction)
              %td= import_transaction.description
              %td= import_transaction.amount.format
              %td Kiwibank
              %td
                %span{style: "display: inline-block"}= tf.input :customer_id, as: :select, collection: import_transaction.possible_customers, selected: import_transaction.match_id, label: false
                %span= "*" + "*" * (4 * tf.object.confidence)
  .row
    .two.columns.offset-by-ten
      = f.submit "Save"
