%h2 Customer Payments

.row-fluid
  .span12
    %table.payments.table.table-striped
      %tbody
        - @import_transaction_list.import_transactions.not_removed.ordered.each do |import_transaction|
          - if @import_transaction_list.errors.present?
            .row-fluid.errors
              = @import_transaction_list.errors.full_messages.join(', ')
          %tr.row_description{id: "import_transaction_#{import_transaction.id}"}
            %td.date= import_transaction.transaction_date.to_s(:transaction)
            %td.description= import_transaction.description
            %td.amount= import_transaction.amount
            %td.account= import_transaction.account
            %td.customer{ id: "edit_row_match_#{import_transaction.id}" }
              = render partial: 'processed_row_detail', locals: {import_transaction: import_transaction}

          %tr.row_details{style: "display: none;"}
            %td.date
            %td.description
              - import_transaction.raw_data.each do |key, value|
                %div= "#{key.to_s.humanize}: #{value}"
            %td.amount
            %td.account
            %td.customer.remove= link_to("remove transaction", distributor_payment_path(import_transaction), method: :delete, confirm: "This will also reverse any changes made to customer accounts", remote: true)
