%p#notice= notice

%p
  %b Distributor:
  = @distributor_payment.distributor
%p
  %b Customer:
  = @distributor_payment.customer
%p
  %b Amount cents:
  = @distributor_payment.amount_cents
%p
  %b Currency:
  = @distributor_payment.currency
%p
  %b Kind:
  = @distributor_payment.kind
%p
  %b Description:
  = @distributor_payment.description

= link_to 'Edit', edit_distributor_payment_path(@distributor_payment)
\|
= link_to 'Back', distributor_payments_path
