- require 'csv'

%h2 Bank statement

= simple_form_for([current_distributor, @statement], :url => process_upload_distributor_payments_path, :html => {:multipart => true} ) do |f|
  %fieldset
    %legend Import
    = f.error_notification
    %p Please select the bank statement provided by your bank
    = f.input :statement_file, :label => false, :hint => "Must be a .csv file"

    .actions
      = f.button :submit

- if @statement.statement_file?
  = form_tag create_from_csv_distributor_payments_path, :method => :post do
    = hidden_field_tag(:statement_id, @statement.id)
    .row
      %table.twelve.columns
        %thead
          %tr 
            - CSV.open(@statement.statement_file.path).shift.each do |header|
              %th= header
            %th= "Customer"

        %tbody
          - index = 0
          - CSV.foreach(@statement.statement_file.path, :headers => :first_row) do |row|
            - if row['Amount'].to_i > 0
              %tr 
                - row.each do |attr|
                  %td=attr.last
                %td= select_tag :customer, options_from_collection_for_select(current_distributor.customers, :id, :name, @customer_remembers["#{index}"]), {:prompt => "None", :name => "customers[#{index}]"}
              - index += 1
          %tr
            %td{:colspan => 8}= submit_tag "Assign customers"
