#bucky-box-controls.containter-fluid
  .container
    .row
      .span6
        #bucky-box-powered
          = link_to '', Figaro.env.marketing_site_url, class: 'image-map-links', id: 'org-link', title: 'Bucky Box | The Mission', target: '_blank'
          = link_to '', Figaro.env.marketing_site_url, class: 'image-map-links', id: 'com-link', title: 'Bucky Box, simple to use software for your CSA, Vege Box Scheme, or Food Hub.', target: '_blank'

      #auth-controls.span6.text-right
        - if current_customer
          = link_to "My account (#{current_customer.name})", customer_root_path
          \|
          = link_to 'Logout', destroy_customer_session_path(distributor: @distributor.parameter_name), method: :delete
        - else
          Welcome Guest!
          \|
          = link_to 'Login', new_customer_session_path(distributor: @distributor.parameter_name)

#public-banner.containter-fluid
  .container
    .row
      = link_to webstore_store_path(@distributor.parameter_name) do
        #company-logo.span12.text-center
          - if distributor.company_logo?
            = image_tag(distributor.company_logo.banner.url)
          - else
            %h1= distributor.name
