.row
  %table.twelve.columns#transactions
    %tbody
      - running_balance = @transactions_sum

      - @transactions.each do |transaction|
        - td_class = (transaction.manual? ? '' : 'auto')

        %tr
          %td{ class: td_class }= transaction.created_at.to_s(:transaction)
          %td{ class: td_class }= transaction.display_time.to_s(:transaction)
          %td{ class: td_class }= transaction.description
          %td{ class: td_class }= transaction.amount.format
          %td{ class: td_class }= running_balance.format

        - running_balance -= transaction.amount
