.row-fluid
  .span12
    = form_tag(change_balance_distributor_account_path(@account, anchor: 'transactions'), method: :put, class: 'form-inline') do
      %table#transactions.table.table-bordered.table-striped.no-horizontal-dividers{ data: { account: @account.id } }
        %thead
          %tr.smaller_titles
            %th.sort_header.date_processed
              .row-fluid
                .span3
                  %i.icon-chevron-down
                .span9
                  PROCESSED DATE
            %th.sort_header.transaction_date
              .row-fluid
                .span3
                  %i.icon-chevron-down
                .span9
                  TRANSACTION DATE
            %th
            %th.text-right AMOUNT
            %th.text-right BALANCE

        %tbody
          %tr#new-transaction.new-form
            %td.date-column
              .new-form-input
            %td.date-column
              .new-form-input= text_field_tag 'date', Time.zone.today.to_s(:date_picker), id: 'transaction_date', class: 'span11 offest1'
            %td.details-column
              .new-form-input= text_field_tag 'note', '', placeholder: 'e.g. Discount Credit Applied', class: 'span12'
            %td.money-column.text-right
              .new-form-input= text_field_tag 'delta', '0.00', required: 'required', class: 'span12'
            %td.button-column
              .new-form-input= submit_tag 'Add', class: 'btn btn-primary'

          = render partial: 'distributor/accounts/more_transactions'

          - if @show_more_link
            %tr
              %td#more-transactions{ colspan: 5 }
                = link_to 'more...', '#'
