- title 'Billing', false

= render partial: 'distributor/shared/billing_sub_nav'

.row
  %table.twelve.columns
    %thead
      %tr
        %th Customer
        %th Type
        %th Amount
        %th Description
        %th Date

    - @transactions.each do |transaction|
      %tbody
        %tr
          %td= customer_badge(transaction.account.customer)
          %td= transaction.kind.titleize
          %td= transaction.amount
          %td= transaction.description
          %td= transaction.display_time.to_s(:transaction)

