- title "Your Invoicing Information"

.row
  .four.columns.centered
    = simple_form_for(@invoice_information, :url => distributor_invoice_information_path(@invoice_information)) do |f|
      = f.error_notification

      .inputs
        = f.input :gst_number
        = f.input :billing_address_1
        = f.input :billing_address_2
        = f.input :billing_suburb
        = f.input :billing_city
        = f.input :billing_postcode
        = f.input :phone

      .actions
        = f.button :submit, 'Next'

