- title "Your Boxes"

%nav
  = link_to 'Next »', distributor_wizard_routes_path, :class => 'button radius'
  .clear

.row-fluid
  = simple_form_for([:distributor, @box]) do |f|
    %fieldset
      %legend Add Box
      = f.error_notification

      .span3
        = f.input :name, :label => false, :placeholder => "Name"
        = f.input :price, :as => :currency, :label => false, :input_html => { :class => "input-text" }, :hint => "per box"
        %fieldset
          %p Custom boxes
          = f.input :likes, :label => "Enable likes"
          = f.input :dislikes, :label => "Enable dislikes"
        %fieldset
          %p Delivery options
          = f.input :available_single, :label => "One-time delivery"
          = f.input :available_weekly, :label => "Weekly"
          = f.input :available_fourtnightly, :label => "Fortnightly"

      .span4
        = f.input :description, :label => false, :placeholder => "Description", :input_html => { :rows => 15 }

      .span4
        %p Chose your logo
        = f.input :box_image, :label => false, :hint => "Any jpeg, gif or png image file"
        = f.input :box_image_cache, :as => :hidden
        .uploaded_image
          = image_tag(@box.box_image.url) if @box.box_image?
        .image-thumbnail
        .actions
          = f.button :submit

    .clear

  = render :partial => 'distributor/boxes/index'
