- title "Your Info"

.row
  .span4.centered
    = simple_form_for([:distributor, current_distributor]) do |f|
      = f.error_notification

      .inputs
        = f.input :name, :label => false, :placeholder => "Business name"
        = f.input :url, :label => false, :placeholder => "Website"
        = f.input :company_logo
        = f.input :company_logo_cache, :as => :hidden

      .uploaded_image
        = image_tag(current_distributor.company_logo.url) if current_distributor.company_logo?

      .actions
        = f.button :submit, 'Next'

