- title "Your Bank Information"

.row
  .four.columns.centered
    = simple_form_for(@bank_information, :url => distributor_bank_information_path(current_distributor, @bank_information)) do |f|
      = f.error_notification

      .inputs
        = f.input :name
        = f.input :account_name
        = f.input :account_number
        = f.input :customer_message

      .actions
        = f.button :submit, 'Next'
