- title "Your Routes"

.row
  .four.columns
    = simple_form_for([:distributor, @route]) do |f|
      = f.error_notification

      .inputs
        = f.input :name
        = f.input :fee
        = f.input :monday
        = f.input :tuesday
        = f.input :wednesday
        = f.input :thursday
        = f.input :friday
        = f.input :saturday
        = f.input :sunday

      .actions
        = f.button :submit

    = button_to 'Next', distributor_wizard_payment_path, :method => :get, :class => 'button radius'

  .eight.columns
    = render :partial => 'distributor/routes/index'

