= simple_form_for(@distributor, url: [:admin, @distributor]) do |f|
  = f.error_notification

  .inputs
    = f.input :name
    = f.input :url
    = f.input :email
    = f.input :support_email
    = f.association :country, collection: Country.all, include_blank: false, input_html: {disabled: !@distributor.new_record?}
    = f.input :time_zone, as: :time_zone, input_html: {disabled: !@distributor.new_record?}
    = f.input :currency, collection: select_currencies, include_blank: false, input_html: {disabled: !@distributor.new_record?}

    .input.numeric.currency.optional
      %label.currency.optional{:for => "distributor_consumer_delivery_fee"} Consumer delivery fee
      %input#distributor_consumer_delivery_fee.numeric.currency.optional{:name => "distributor[consumer_delivery_fee]", :step => "any", :type => "number", :value => @distributor.consumer_delivery_fee}
      %span
        %strong#currency_code= @distributor.currency.upcase

    = f.input :separate_bucky_fee
    = f.input :bank_deposit
    = f.input :paypal
    = f.input :bank_deposit_format, collection: ImportTransactionList::FILE_FORMATS.reject{|name, code| code == 'paypal'}, as: :select
    = f.input :invoice_threshold
    = f.input :active_webstore

  %hr
  .inputs
    Only changed if both are set
    = f.input :password
    = f.input :password_confirmation

  .actions
    = f.button :submit
