- cache [:admin, :distributor, distributor.id, distributor.updated_at, distributor.last_seen_at], expires_in: 1.hour do

  %tr{ class: ('recent' if distributor.seen_recently?) }
    %td
      .row-fluid
        .span3
          %span.big.bold
            = link_to_unless !distributor.active_webstore?, distributor.name, distributor.webstore_url
            - if distributor.overdue.present?
              %span{title: distributor.overdue, style: "color: red"} [OVERDUE]
            - if distributor.access_locked?
              %span{title: "locked at #{distributor.locked_at}", style: "color: orange"} [LOCKED]
            %br
          %span.medium
            = mail_to(distributor.email, distributor.contact_name_for_email)
        .span2
          %span.medium.bold= distributor.country.name
          %br
          %small
            Next delivery:
            %strong= distributors_next_delivery_date(distributor)
        .span2.align-right.medium.bold
          = distributor.total_customer_count
          = "(#{distributor.transactional_customer_count})"
          %i.icon-user(title="total customers (transactional customers)")
          %br
          = distributor.new_customer_count
          = "(#{distributor.new_transactional_customer_count})"
          %i.icon-plus(title="new customers in last 7 days (new transactional customers)")
        .span1.align-right.medium.bold
          = distributor.orders.active.count
          %i.icon-shopping-cart(title="active orders")
          %br
          = distributor.deliveries_last_7_days_count
          %i.icon-road(title="deliveries completed in last 7 days")
        .span2.align-right.medium.bold
          = "#{distributor.sales_last_30_days.to_k} #{distributor.currency}"
          %i.icon-book(title="sales in last 30 days")
        .span2.align-right.medium
          = time_since(distributor.last_seen_at)
          %br
          = link_to 'Edit', edit_admin_distributor_path(distributor)
          |
          = link_to 'Impersonate', impersonate_admin_distributor_path(distributor)

