%tr
  %td
    .row-fluid
      .span4
        %span.big.bold
          = link_to distributor.name, admin_distributor_path(distributor)
          %br
        %span.medium
          = mail_to(distributor.email, distributor.contact_name_for_email)
          -# Display main contact name if available, else display email, open in new window
      .span3
        %span.medium= distributor.location
      .span1.align-right.medium.bold
        = distributor.customers.count
        %i.icon-user
        %br
        - new_count = distributor.customers.where(["created_at > ?", 1.week.ago]).count
        - unless new_count.zero?
          %span(title="Last 7 days")= "+#{new_count}"
      .span1.align-right.medium.bold 
        = distributor.orders.active.count 
        %i.icon-shopping-cart
      .span3.align-right.medium
        = time_since(distributor.current_sign_in_at)
        %a(href="http://www.infosniper.net/index.php?ip_address=#{distributor.current_sign_in_ip}" target="_blank")
          %i.icon-map-marker
          -# open link to iplocator in new window
    .row-fluid
      .span8
        - if distributor.bank_deposit?
          %span.label.label-info bank-deposit
        - if distributor.send_email?
          %span.label.label-info emails
        - if distributor.separate_bucky_fee?
          %span.label.label-info fee
        - if distributor.feature_spend_limit?
          %span.label.label-info halt
        - if distributor.paypal?
          %span.label.label-info paypal
        - if distributor.active_webstore?
          %span.label.label-info
            = link_to 'webstore', webstore_store_path(distributor.parameter_name)
        - distributor.tags.each do |tag|
          %span.label.label-info= tag.name
      .span4.align-right.small
        = link_to 'Show', admin_distributor_path(distributor)
        |
        = link_to 'Edit', edit_admin_distributor_path(distributor)
        |
        = link_to 'Impersonate', impersonate_admin_distributor_path(distributor)
        |
        = link_to 'Reset Intros', reset_intros_admin_distributor_path(distributor)


