- title("Admin - Editing #{@distributor.name}")

= render partial: 'admin/distributors/nav', locals: { distributor: @distributor }
= render 'form'

= link_to 'Show', admin_distributor_path(@distributor)
\|
= link_to 'Back', admin_distributors_path
