- title("Admin - Editing #{@distributor.name}")

= render 'admin/distributors/nav'
= render 'form'

= link_to 'Show', admin_distributor_path(@distributor)
\|
= link_to 'Back', admin_distributors_path
