- title('Admin - Distributors')

.row
  .six.columns
    %p Talk to a dev if you want to delete an account

  .six.columns.text-right
    = link_to 'New Distributor', new_admin_distributor_path, class: 'button radius'
    %br
    %br

.row
  %table.twelve.columns
    %thead
      %tr
        %th Name
        %th Email
        %th Created On
        %th Actions

    %tbody
      - @distributors.each do |distributor|
        %tr
          %td= distributor.name
          %td= distributor.email
          %td= distributor.created_at.to_s(:pretty)
          %td
            = link_to 'Show', admin_distributor_path(distributor)
            \|
            = link_to 'Edit', edit_admin_distributor_path(distributor)
            \|
            = link_to 'Impersonate', impersonate_admin_distributor_path(distributor)

