- title("Admin - #{@distributor.name}")

.row
  .span12.text-right
    = link_to 'back', admin_distributors_path
    \|
    = link_to 'edit', edit_admin_distributor_path(@distributor)
    \|
    = link_to "import data", customer_import_admin_distributor_path(@distributor)

.row
  .span6
    %dl
      %dt Name
      %dd= @distributor.name
      %dt Parameter Name
      %dd= @distributor.parameter_name
      %dt Url
      %dd= @distributor.url
      %dt Email
      %dd= @distributor.email
      %dt Timezone
      %dd= @distributor.time_zone
      %dt Country
      %dd= @distributor.country.name
      %dt Currency
      %dd= currency_name(@distributor.currency)
      %dt Consumer Delivery Fee
      %dd= @distributor.consumer_delivery_fee.format
      %dt Separate Bucky Fee
      %dd= checkmark_boolean(@distributor.separate_bucky_fee)
      %dt Bank Deposit
      %dd= checkmark_boolean(@distributor.bank_deposit?)
      %dt Paypal
      %dd= checkmark_boolean(@distributor.paypal?)
      %dt Bank File Format
      %dd= @distributor.bank_deposit_format
      %dt Invoice Threshold
      %dd= @distributor.invoice_threshold.format
      %dt Separate Bucky Fee
      %dd= checkmark_boolean(@distributor.separate_bucky_fee)
      %dt Created On
      %dd= @distributor.created_at.to_s(:pretty)
      %dt Active Webstore
      %dd= checkmark_boolean(@distributor.active_webstore)
      %dt Customer Can Delete Orders
      %dd= checkmark_boolean(@distributor.customer_can_remove_orders?)

  .span6
    %dl
      %dt Total Customers
      %dd= @distributor.customers.count
      %dt Deliveries to Date
      %dd= @distributor.deliveries.delivered.count

= simple_form_for(:invoice, url: [:invoice, :admin, @distributor], html: { class: 'form-horizontal' }) do |f|
  %fieldset
    %legend Invoicing
    #invoice_loader.ajax_loader_gif
    = f.input :start_date, as: :string, input_html: { value: Date.current.beginning_of_month, class: 'date_picker' }
    = f.input :end_date, as: :string, input_html: { value: Date.current.end_of_month, class: 'date_picker' }

    %table.table.table-striped
      %tr
        %td Deliveries Made
        %td#deliveries_made.text-center= '?'
      %tr
        %td Deliveries Cancelled
        %td#deliveries_cancelled.text-center= '?'
      %tr
        %td Value Shipped
        %td#value_shipped.text-center= '?'

