- title("Admin - #{@distributor.name}")

.row
  .nine.columns
  .three.columns= link_to "Upload Customer Data", customer_import_admin_distributor_path(@distributor)

%table
  %tr
    %td Name:
    %td= @distributor.name
  %tr
    %td Email:
    %td= @distributor.email
  %tr
    %td Url:
    %td= @distributor.url
  %tr
    %td Timezone:
    %td= @distributor.time_zone
  %tr
    %td Country:
    %td= @distributor.country.name
  %tr
    %td Currency:
    %td= currency_name(@distributor.currency)
  %tr
    %td Consumer Delivery Fee:
    %td= @distributor.consumer_delivery_fee.format
  %tr
    %td Separate Bucky Fee:
    %td= checkmark_boolean(@distributor.separate_bucky_fee)
  %tr
    %td Bank Deposit:
    %td= checkmark_boolean(@distributor.bank_deposit?)
  %tr
    %td Paypal:
    %td= checkmark_boolean(@distributor.paypal?)
  %tr
    %td Bank File Format:
    %td= @distributor.bank_deposit_format
  %tr
    %td Parameter Name:
    %td= @distributor.parameter_name
  %tr
    %td Invoice Threshold:
    %td= @distributor.invoice_threshold.format
  %tr
    %td Created On
    %td= @distributor.created_at.to_s(:pretty)

%table
  %tr
    %td Total Customers:
    %td= @distributor.customers.count
  %tr
    %td Deliveries to Date:
    %td= @distributor.deliveries.delivered.count


= link_to 'Edit', edit_admin_distributor_path(@distributor)
\|
= link_to 'Back', admin_distributors_path
