- title("Admin - #{@distributor.name}")
= render partial: 'admin/distributors/nav', locals: { distributor: @distributor }

.row
  .span12.text-right
    = link_to 'back', admin_distributors_path
    \|
    = link_to 'edit', edit_admin_distributor_path(@distributor)
    \|
    = link_to "import data", customer_import_admin_distributor_path(@distributor)

.row
  .span6
    %dl
      %dt Distributor Name
      %dd= @distributor.name
      %dt Contact Name
      %dd= @distributor.contact_name
      %dt Tags
      %dd= @distributor.tag_list
      %dt Notes
      %dd= simple_format(@distributor.notes)
      %dt Parameter Name
      %dd= @distributor.parameter_name
      %dt Url
      %dd= @distributor.url
      %dt Email
      %dd= @distributor.email
      %dt Timezone
      %dd= @distributor.time_zone
      %dt Country
      %dd= @distributor.country.name
      %dt Currency
      %dd= currency_name(@distributor.currency)
      %dt Consumer Delivery Fee
      %dd= @distributor.consumer_delivery_fee.format
      %dt Separate Bucky Fee
      %dd= checkmark_boolean(@distributor.separate_bucky_fee)
      %dt Omni Importers
      %dd= @distributor.omni_importers.collect(&:select_label).join(' | ')
      %dt Separate Bucky Fee
      %dd= checkmark_boolean(@distributor.separate_bucky_fee)
      %dt Created On
      %dd= @distributor.created_at.to_s(:pretty)
      %dt Notify of Address change
      %dd= checkmark_boolean(@distributor.notify_address_change?)
      %dt Notify on Halt
      %dd= checkmark_boolean(@distributor.notify_address_change?)
      %dt Notify of for new webstore customer
      %dd= checkmark_boolean(@distributor.notify_address_change?)
      %dt Active Webstore
      %dd= checkmark_boolean(@distributor.active_webstore)
      %dt Payment options
      %dd= @distributor.payment_options_string
      %dt Customer Can Delete Orders
      %dd= checkmark_boolean(@distributor.customer_can_remove_orders?)
      %dt Default Spend Limit
      - if !@distributor.feature_spend_limit?
        %dd Feature not enabled by admin.
      - elsif @distributor.has_balance_threshold?
        %dd= Money.new(@distributor.default_balance_threshold_cents, @distributor.currency).format
        %dt Send email to customers informing them their account is halted?
        %dd= checkmark_boolean(@distributor.send_halted_email?)
      - else
        %dd Distributor has not enabled the Spend Limit.
      %dt Send any emails to customers?
      %dd= checkmark_boolean(@distributor.send_email?)
  .span6
    %dl
      %dt Total Customers
      %dd= @distributor.customers.count
      %dt Deliveries to Date
      %dd= @distributor.deliveries.delivered.count

= simple_form_for(:invoice, url: [:invoice, :admin, @distributor], html: { class: 'form-horizontal' }) do |f|
  %fieldset
    %legend Invoicing
    #invoice_loader.ajax-spinner
    = f.input :start_date, as: :string, input_html: { value: Date.current.beginning_of_month, class: 'date_picker' }
    = f.input :end_date, as: :string, input_html: { value: Date.current.end_of_month, class: 'date_picker' }

    %table.table.table-striped
      %tr
        %td Deliveries Made
        %td#deliveries_made.text-center= '?'
      %tr
        %td Deliveries Cancelled
        %td#deliveries_cancelled.text-center= '?'
      %tr
        %td Value Shipped
        %td#value_shipped.text-center= '?'

