- title('Admin - Customer Import Check')

.row-fluid
  .span12
    - if @customers.blank?
      %h3 No Customers Found
    - else
      - @customers.each do |customer|
        - delivery_service = @distributor.delivery_services.find_by_name(customer.delivery_service)

        .row-fluid
          %h3.span12== Customer ##{customer.number}
        .row-fluid
          - group_count = (@customer_data_fields.size / 3.0).ceil

          - @customer_data_fields.in_groups_of(group_count, false).each do |field_group|
            %dl.dl-horizontal.span4
              - field_group.each do |field|
                %dt
                  = field.to_s.titleize

                  - if field == :tags
                    %dd= customer.tags.join(', ')
                  - elsif field == :delivery_service
                    %dd{ class: delivery_service_status(delivery_service) }= customer.delivery_service
                  - else
                    %dd= customer.send(field)

        .row-fluid
          %table.span12
            %thead
              %tr
                - @order_data_fields.each do |field|
                  %th= field.to_s.titleize
            %tbody
              - customer.boxes.each do |box|
                %tr{ class: order_status(delivery_service, box) }
                  - @order_data_fields.each do |field|
                    - if field == :box_type
                      %td{ class: box_type_status(@distributor, box) }= box.box_type
                    - elsif field == :extras
                      -if box.extras.present?
                        %td{ class: extras_status(@distributor, box.extras, box)}
                          %div= box.extras_recurring? ? "Recurring" : "One off"
                          - box.extras.each do |extra|
                            %div{ class: extra_status(@distributor, extra, box)}= show_extra(@distributor, extra, box)
                      -else
                        %td
                    - else
                      %td= box.send(field)
%hr

.row-fluid
  .span12
    = simple_form_for(:customer_import, url: customer_import_upload_admin_distributor_path, method: :post, html: { class: 'form-horizontal' }) do |f|
      %fieldset
        %legend Try upload file again

        = f.input :csv, as: :file, label: "CSV File"

        .form-actions
          = f.button :submit, "Upload & Commit"
          or
          = link_to 'Cancel', admin_distributor_path(@distributor)
