- title("Payments", false)
- show_settings_sub_nav(:bank_info)

#payments.tabbable.tabs-left
  %ul.nav.nav-tabs
    - %w(bank_deposit cash_on_delivery paypal).each do |current_type|
      %li{ class: "#{'active' if type == current_type}" }
        - path = public_send "distributor_settings_payments_#{current_type}_path"
        = link_to path do
          = current_type.titleize
          - if current_distributor.public_send("payment_#{current_type}")
            %i.icon.icon-ok-sign.pull-right{title: 'Enabled'}

  .tab-content
    = yield(:payment_type)

