%dl.sub-nav.settings
  = sub_tab 'Routes', routes_distributor_settings_path(@distributor), {force_highlighted: force_highlighted}
  = sub_tab 'Boxes', boxes_distributor_settings_path(@distributor), {force_highlighted: force_highlighted}
  = sub_tab 'Contact Info', contact_info_distributor_settings_path(@distributor), {force_highlighted: force_highlighted}
  = sub_tab 'Bank Info', bank_info_distributor_settings_path(@distributor), {force_highlighted: force_highlighted}
  = sub_tab 'Basic Reporting', basic_reporting_distributor_settings_path(@distributor), {force_highlighted: force_highlighted}
