%dl.sub-nav.settings
  = sub_tab 'Business Information', distributor_settings_business_information_path, { force_highlighted: force_highlighted }
  = sub_tab 'Routes',               distributor_settings_routes_path,               { force_highlighted: force_highlighted }
  = sub_tab 'Boxes',                distributor_settings_boxes_path,                { force_highlighted: force_highlighted }
  = sub_tab 'Stock List',           distributor_settings_stock_list_path,           { force_highlighted: force_highlighted }
  = sub_tab 'Extras',               distributor_settings_extras_path,               { force_highlighted: force_highlighted }
  = sub_tab 'Bank Information',     distributor_settings_bank_information_path,     { force_highlighted: force_highlighted }
  = sub_tab 'Invoice Information',  distributor_settings_invoice_information_path,  { force_highlighted: force_highlighted }
  = sub_tab 'Reporting',            distributor_settings_reporting_path,            { force_highlighted: force_highlighted }
