%dl.sub-nav.settings
  = sub_tab 'Business Info',  distributor_settings_business_info_path,  { force_highlighted: force_highlighted }
  = sub_tab 'Boxes',          distributor_settings_boxes_path,          { force_highlighted: force_highlighted }
  = sub_tab 'Routes',         distributor_settings_routes_path,         { force_highlighted: force_highlighted }
  = sub_tab 'Bank Info',      distributor_settings_bank_info_path,      { force_highlighted: force_highlighted }
  = sub_tab 'Invoicing Info', distributor_settings_invoicing_info_path, { force_highlighted: force_highlighted }
  = sub_tab 'Reporting',      distributor_settings_reporting_path,      { force_highlighted: force_highlighted }
