%ul.nav.nav-pills
  = sub_tab 'Business Information',  distributor_settings_business_information_path,  { force_highlighted: force_highlighted }
  = sub_tab 'Web Store',             distributor_settings_webstore_path,              { force_highlighted: force_highlighted }
  = sub_tab "Delivery Services",     distributor_settings_delivery_services_path,     { force_highlighted: force_highlighted }
  = sub_tab 'Boxes',                 distributor_settings_boxes_path,                 { force_highlighted: force_highlighted }
  = sub_tab "Customer Preferences",  distributor_settings_customer_preferences_path,  { force_highlighted: force_highlighted }
  = sub_tab 'Extras',                distributor_settings_extras_path,                { force_highlighted: force_highlighted }
  = sub_tab 'Payments',              distributor_settings_payments_bank_deposit_path, { force_highlighted: force_highlighted }
