- title "Your Bank Information"
- show_settings_sub_nav(:bank_info)

= simple_form_for(@bank_information, :url => distributor_bank_information_path, html: { class: 'form-horizontal' }) do |f|
  = f.error_notification

  .row-fluid
    .span12
      = f.input :name, input_html: { class: 'span6' }
      = f.input :account_name, input_html: { class: 'span6' }
      = f.input :bsb_number, input_html: { class: 'span6' }
      = f.input :account_number, input_html: { class: 'span6' }
      = f.input :customer_message, input_html: { class: 'span6' }

  .row-fluid
    .span12.form-actions
      = f.button :submit, 'Save', class: 'btn btn-primary'
