- title 'Settings', false

= show_settings_sub_nav(:contact_info)

.row
  .four.columns
    = simple_form_for(current_distributor) do |f|
      = f.error_notification

      .inputs
        = f.input :name, :label => false, :placeholder => "Business name"
        = f.input :email, :label => false, :placeholder => "Email"
        = f.input :url, :label => false, :placeholder => "Website"
        = f.input :company_logo
        = f.input :company_logo_cache, :as => :hidden

      .uploaded_image
        - if current_distributor.company_logo?
          = image_tag(current_distributor.company_logo.url)
          = f.input :remove_company_logo, as: :boolean, label: 'Remove image'

      .actions
        = f.button :submit, 'Update'

