- title 'Your Business Information'
- show_settings_sub_nav(:contact_info)

= simple_form_for([:distributor, current_distributor], html: { class: 'form-horizontal' }) do |f|
  = f.error_notification

  .row-fluid
    .span12
      = f.input :name, label: 'Business name', input_html: { class: 'span6' }
      = f.input :support_email, label: 'Support Email', input_html: { class: 'span6' }
      = f.input :url, label: 'Website', input_html: { class: 'span6' }
      = f.input :time_zone, as: :time_zone, label: 'Local Timezone', input_html: { class: 'span6' }
  #webstore-information.row-fluid
    .span12
      %h2.text-center Webstore Information
      = f.input :company_logo, input_html: { class: 'span6' }
      = f.input :company_logo_cache, as: :hidden

      - if current_distributor.company_logo?
        = f.input :remove_company_logo, as: :boolean, label: 'Remove image', input_html: { class: 'span6' }
        .row-fluid
          = image_tag(current_distributor.company_logo.frame_banner.url, class: 'span6 offset2 image-upload')

      = f.input :company_team_image, input_html: { class: 'span6' }
      = f.input :company_team_image_cache, as: :hidden

      - if current_distributor.company_team_image?
        = f.input :remove_company_team_image, as: :boolean, label: 'Remove image', input_html: { class: 'span6' }
        .row-fluid
          = image_tag(current_distributor.company_team_image.half_size_photo.url, class: 'span6 offset2 image-upload')

      = f.input :about, input_html: { class: 'span6' }
      = f.input :details, input_html: { class: 'span6' }
      = f.input :facebook_url, as: :url, input_html: { class: 'span6' }

      %fieldset
        %legend Delivery Window
        %p
          Customers must place orders by
          = select_hour @default_delivery_time, { ampm: true }, { id: :distributor_advance_hour, name: 'distributor[advance_hour]' }
          = select_tag 'distributor_advance_days', options_for_select(days_in_advance, selected: @default_delivery_days), name: 'distributor[advance_days]'
          before delivery.

      %fieldset
        %legend Automatic Delivery
        %p
          Automatically assume all deliveries are successfully delivered by
          = select_hour @default_automatic_time, { ampm: true }, { id: :distributor_automatic_delivery_hour, name: 'distributor[automatic_delivery_hour]' }
          on the day of delivery.

  .row-fluid
    .span12.form-actions
      = f.button :submit, 'Update', class: 'btn btn-primary'
