- title 'Your Business Information'

= show_settings_sub_nav(:contact_info)

.row
  .four.columns.centered
    = simple_form_for(current_distributor) do |f|
      = f.error_notification

      .inputs
        = f.input :name, label: "Business name"
        = f.input :support_email, label: "Support Email"
        = f.input :url, label: "Website"
        = f.input :company_logo
        = f.input :company_logo_cache, as: :hidden

        .uploaded_image
          - if current_distributor.company_logo?
            = image_tag(current_distributor.company_logo.url)
            = f.input :remove_company_logo, as: :boolean, label: 'Remove image'

        Customers must place orders by
        = select_hour Time.now, ampm: true
        = select_tag 'order_days', options_for_select(days_in_advance)
        before delivery.

        Automatically assume all deliveries are successfully delivered by
        = select_hour Time.now, ampm: true
        on the day of delivery.

      .actions
        = f.button :submit, 'Update'

