- title("Customer Preferences", false)
- show_settings_sub_nav

%p.muted
  These are items that make up your mystery boxes. During the checkout process, customers may nominate to exclude and substitute items in this list.

- if @edit_mode
  #stock-list-controls.row-fluid
    .span12.text-right
      = link_to 'cancel', distributor_settings_customer_preferences_path, id: 'cancel-link'
      = link_to 'Done', '#', class: 'btn btn-primary', id: 'submit-button'

  = render partial: 'distributor/line_items/form'

  = simple_form_for(:edited, url: bulk_update_distributor_line_items_path, method: :put, html: { id: 'bulk-update' }) do |f|
    = simple_fields_for :line do |g|
      %table.table.table-striped
        %thead
          %tr
            %th{colspan: 2}
              %span.label Item
            %th
              %span.pull-right
                %span.label Customer Preferences

        %tbody
          - @line_items.each do |line_item|
            %tr
              %td
                = g.input "items[#{line_item.id}]", as: :string, label: false, required: false, placeholder: "remove item #{line_item.name}", wrapper_html: { class: 'pull-left' }, input_html: { value: line_item.name, data: { original_value: line_item.name } }
                %button.remove.pull-left &times;
              %td= line_item_total(line_item)
              %td.text-right= line_item_use(line_item)

- else
  #stock-list-controls.row-fluid
    .span12.text-right
      = link_to 'Edit', distributor_settings_customer_preferences_path(edit: true), class: 'btn btn-danger'

  %table.table.table-striped
    %thead
      %tr
        %th
          %span.label Item
        %th
          %span.pull-right
            %span.label Customer Preferences

    %tbody
      - @line_items.each do |line_item|
        %tr.line-item
          %td= line_item.name
          %td.text-right= line_item_use(line_item)
