- title "Your Invoicing Information"
- show_settings_sub_nav(:invoicing_info)

= simple_form_for(@invoice_information, :url => distributor_invoice_information_path, html: { class: 'form-horizontal' }) do |f|
  = f.error_notification

  .row-fluid
    .span12
      = f.input :gst_number, input_html: { class: 'span6' }
      = f.input :billing_address_1, input_html: { class: 'span6' }
      = f.input :billing_address_2, input_html: { class: 'span6' }
      = f.input :billing_suburb, input_html: { class: 'span6' }
      = f.input :billing_city, input_html: { class: 'span6' }
      = f.input :billing_postcode, input_html: { class: 'span6' }
      = f.input :phone, input_html: { class: 'span6' }

  .row-fluid
    .span12.form-actions
      = f.button :submit, 'Save', class: 'btn btn-primary'
