- title 'Reporting'
- show_settings_sub_nav(:reporting)

.row-fluid.data-headings
  %h4.span3 Metric
  %h4.span9 Value

= show_settings_metric('Distributor Since', current_distributor.created_at.to_s(:month_and_year))
= show_settings_metric('Total Customers', current_distributor.customers.count)
= show_settings_metric('Deliveries to Date', current_distributor.deliveries.delivered.count)

.row.reporting_calendar_select
  .tweleve.columns
    .title Export Transaction List
    = text_field_tag :start_date, '', placeholder: 'Date from', data: {value: (Date.current.beginning_of_month - 3.months).to_s(:date_picker)}, class: 'date_picker start'
    = text_field_tag :end_date, '', placeholder: 'Date to', data: {value: Date.current.yesterday.to_s(:date_picker)}, class: 'date_picker end'
    = link_to "Export transactions", distributor_reports_transaction_history_path(Date.current.beginning_of_month - 3.months, Date.current.yesterday), id: 'export_transactions', data: {href: '/distributor/reports/transaction_history/'}
