%h2 Change my password

= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
  = f.error_notification
  = f.input :reset_password_token, as: :hidden
  = f.full_error :reset_password_token

  = f.input :password, label: false, placeholder: 'enter your password', required: true, input_html: { class: 'span12' }
  = f.input :password_confirmation, label: false, placeholder: 'confirm your password', required: true, input_html: { class: 'span12' }

  #form-controls.clearfix
    #controls-right.pull-right
      = link_to 'cancel', new_customer_session_path
      = f.button :submit, 'Set Password', class: 'btn btn-process'
