%h2 Send me my password

= simple_form_for(resource, as: resource_name, url: "#{password_path(resource_name)}?#{request.query_string}", html: { method: :post }) do |f|
  = f.error_notification
  = f.input :distributor_id, as: :hidden, input_html: { value: @distributor_id }
  = f.input :email, required: true, label: false, placeholder: 'enter your email', input_html: { class: 'span12' }

  #form-controls.clearfix
    #controls-left.pull-left
      %i.icon-home
      = link_to @abort_text, @abort_url

    #controls-right.pull-right
      = link_to 'cancel', new_session_path(resource_name, @link_args)
      = f.button :submit, 'Send password', class: 'btn btn-process'
