%h2= t 'c.lost_password.send_my_password'

= simple_form_for(resource, as: resource_name, url: "#{password_path(resource_name)}?#{request.query_string}", html: { method: :post }) do |f|
  = f.error_notification
  = f.input :distributor_id, as: :hidden, input_html: { value: @distributor_id }
  = f.input :email, required: true, label: false, placeholder: t('c.lost_password.enter_email'), input_html: { class: 'span12' }

  #form-controls.clearfix
    #controls-left.pull-left
      - if @distributor
        %i.icon-home
        = link_to @distributor.name, webstore_store_path(@distributor.parameter_name)

    #controls-right.pull-right
      = link_to t('cancel'), new_session_path(resource_name, @link_args)
      = f.button :submit, t('c.lost_password.send'), class: 'btn btn-process'
