- content_for :sub_nav do
  .row-fluid
    #nav-info.span4
      - unless /\/distributor\/customers\/\d+.*/ =~ request.fullpath
        - if params[:query]
          .brand
            Searching
            %strong= params[:query]
            %small= link_to 'clear', distributor_customers_path
        - elsif params[:tag]
          .brand
            Tag
            %strong= params[:tag]
            %small= link_to 'clear', distributor_customers_path
      - else
        = link_to '« Back to Customer List', distributor_customers_path

    #search-form.span8
      = form_tag search_distributor_customers_path, method: :get do
        .input-append
          = text_field_tag :query, '', placeholder: 'Customer Number, name, address...', class: 'span6'
          = button_tag type: 'submit', class: 'btn btn-primary' do
            %i.icon-search.icon-white 
            Search

