= simple_form_for([:distributor, @customer]) do |f|
  = f.error_notification

  .row-fluid
    .span6.centered
      = render partial: 'delivery_form_inputs', locals: { f: f }

      .actions
        = f.button :submit, 'Update'
        = link_to 'cancel', :back
