= simple_form_for([:distributor, @customer]) do |f|
  = f.error_notification

  .row-fluid
    .span12
      = render partial: 'delivery_form_inputs', locals: { f: f }

  .row-fluid
    .span12.form-actions
      = f.button :submit, 'Update'
      = link_to 'cancel', :back
