#sendEmail.modal.hide.fade{'tabindex' => '-1', 'role' => 'dialog'}
  .modal-header
    %button.close{ data: { dismiss: 'modal'} } ×
    %i.icon-envelope
    %span.recipients

  = simple_form_for :email_templates, url: email_distributor_customers_path, remote: true do |f|
    = hidden_field_tag :recipient_ids
    = hidden_field_tag :selected_email_template_id, "0"

    .modal-body
      .alert.alert-error
      .alert.alert-success

      #templates.accordion
        - @email_templates.each_with_index do |template, index|
          = f.simple_fields_for index.to_s do |template_form|
            .accordion-group
              .accordion-heading
                .row-fluid
                  = link_to "#email_template_#{index}", class: 'accordion-toggle pull-left', 'data-toggle' => 'collapse', 'data-parent' => '#templates' do
                    - unless template == @email_templates.last
                      %i.icon-file
                      = template.subject
                    - else
                      %i.icon-plus-sign
                      New template

                  - unless template == @email_templates.last
                    = link_to '#', class: "delete-template pull-right #{'hidden' unless index.zero?}", title: "Delete this template" do
                      %i.icon-trash

              .accordion-body.collapse{:id => "email_template_#{index}", :class => "#{'in' if index.zero?}"}
                .accordion-inner
                  = template_form.input 'subject', label: false, placeholder: "Subject",
                    input_html: { class: 'span12', value: template.subject }, wrapper_html: { class: "#{'hidden' unless template == @email_templates.last}" }

                  = template_form.input 'body', as: :text, label: false, placeholder: "Type in your email template here.",
                    input_html: { class: 'span12', rows: 6, value: template.body }

    .modal-footer
      :ruby
        help = <<-HELP
          You can include special keywords between [square brackets] in your email template.
          These keywords will be replaced automatically for each customer:
          <ul><li>#{EmailTemplate::KEYWORDS.join('<li>')}</ul>
        HELP

      = link_to '#', class: 'pull-left', title: 'Special keywords', 'data-placement' => 'left', 'data-toggle' => 'popover', 'data-content' => help do
        %i.icon-info-sign
        Help

      = f.button :submit, 'Save & Send', class: 'btn btn-primary', 'data-loading-text' => "sending...", autocomplete: 'off'

