= simple_form_for([:distributor, @customer]) do |f|
  = f.error_notification

  .row
    .six.columns
      = render partial: 'personal_form_inputs', locals: { f: f }

    .six.columns
      = render partial: 'delivery_form_inputs', locals: { f: f }

      .actions
        = f.button :submit
        = link_to 'Cancel', :back
