= simple_form_for([:distributor, @customer]) do |f|
  = f.error_notification

  .row-fluid
    .span6
      = render partial: 'personal_form_inputs', locals: { f: f }

    .span6
      = render partial: 'delivery_form_inputs', locals: { f: f }

  .row-fluid
    .span12.form-actions
      = f.button :submit
      = link_to 'Cancel', :back
