- pause_date = order_pause_start_date(order)
- resume_date = order_pause_end_date(order)

.pausing{ id: "pausing_order_#{order.id}" }
  .pause.info-controller
    .initial-link{ style: "display: #{pause_date ? 'none' : 'block'};" }
      = link_to 'pause', '#'

    .form-selection
      = simple_form_for(order, url: pause_distributor_account_order_path(order.account, order)) do |f|
        .inputs.float-left
          = f.simple_fields_for(:pause) do |p|
            = p.input :pause_date, collection: order_pause_select(order), selected: pause_date, include_blank: false, label: false, input_html: { class: 'float-left' }
        .action.float-left
          = f.button :submit, 'Pause', class: 'tiny'
      .remove-link= link_to 'remove', remove_pause_distributor_account_order_path(order.account, order)
      .cancel-link= link_to 'cancel', '#'

    .resulting-link{ style: "display: #{pause_date ? 'block' : 'none'};" }
      = link_to 'pausing', '#'
      %span== on #{order_pause_start_date_formatted(order)}

  .resume.info-controller{ style: "display: #{pause_date ? 'block' : 'none'};" }
    .initial-link{ style: "display: #{resume_date ? 'none' : 'block'};" }
      = link_to 'until further notice', '#'

    .form-selection
      = simple_form_for(order, url: resume_distributor_account_order_path(order.account, order)) do |f|
        .inputs.float-left
          = f.simple_fields_for(:pause) do |p|
            = p.input :pause_date, collection: order_resume_select(order), selected: resume_date, include_blank: false, label: false, input_html: { class: 'float-left' }
        .action.float-left
          = f.button :submit, 'Resume', class: 'tiny'
      .remove-link= link_to 'remove', remove_resume_distributor_account_order_path(order.account, order), class: 'links'
      .cancel-link= link_to 'cancel', '#', class: 'links'

    .resulting-link{ style: "display: #{resume_date ? 'block' : 'none'};" }
      = link_to 'resuming', '#'
      %span== on #{order_pause_end_date_formatted(order)}
