- if @customer.persisted?
  = f.input :number

= f.input :first_name
= f.input :last_name
= f.input :tag_list, label: 'Tags', placeholder: 'E.g. west-end, coupon, discount'
= f.input :email

= f.simple_fields_for :address do |g|
  = address_phone_fields(g, @customer.distributor)

- if @customer.distributor.has_balance_threshold?
  = f.input :balance_threshold, label: "Minimum balance", hint: "Deliveries will halt when their balance reaches the minimum balance."
= f.input :discount, input_html: { step: 0.0001 }
= f.input :special_order_preference, label: 'Packing notes', placeholder: 'Special preferences for this customer, e.g. small potatoes only'

