= simple_form_for([:distributor, @customer]) do |f|
  = f.error_notification

  .row
    .span6.centered
      = render partial: 'personal_form_inputs', locals: { f: f }

      .actions
        = f.button :submit, 'Update'
        = link_to 'cancel', :back
