- title 'Customers', false
= render 'controls'

- if @customers.blank?
  .row.data-headings
    %h4.span12 No Customers To Display
- else
  .row.data-headings
    .span5
      .row
        %h4.span12 Customer Name
    .span4
      .row
        %h4.span12 Next Delivery
    .span3
      .row
        %h4.span6 Route
        %h4.span6 Balance

  #customers
    .row
      .span12.add-colour.data-list-new-link
        = link_to 'Create a new customer', new_distributor_customer_path

    - @customers.each do |customer|
      .row.data-listings
        .span5
          .row
            .span7= customer_badge(customer)
            .span5
              - unless customer.tags.empty?
                - customer.tags.each do |tag|
                  %span.radius.label= link_to tag.name, tag_distributor_customers_path(tag.name)
        .span4
          .row
            .span4= next_customer_delivery_occurrence(customer)
            .span8= next_customer_delivery_box_name(customer)
        .span3
          .row
            .span6= customer.route.name
            .span6= customer.account.balance.format

