- title 'Customers', false
= render 'controls'

- if @customers.blank?
  .row.data-headings
    %h4.twelve.columns No Customers To Display
- else
  .row.data-headings
    .five.columns
      .row
        %h4.tweleve.columns Customer Name
    .four.columns
      .row
        %h4.tweleve.columns Next Delivery
    .three.columns
      .row
        %h4.six.columns Route
        %h4.six.columns Balance

  #customers
    .row
      .twelve.columns.add-colour.data-list-new-link
        = link_to 'Create a new customer', new_distributor_customer_path

    - @customers.each do |customer|
      .row.data-listings
        .five.columns
          .row
            .seven.columns= customer_badge(customer)
            .five.columns
              - unless customer.tags.empty?
                - customer.tags.each do |tag|
                  %span.radius.label= link_to tag.name, tag_distributor_customers_path(tag.name)
        .four.columns
          .row
            .four.columns= next_customer_delivery_occurrence(customer)
            .eight.columns= next_customer_delivery_box_name(customer)
        .three.columns
          .row
            .six.columns= customer.route.name
            .six.columns= customer.account.balance.format

