- title 'Customers', false
= render 'controls'

- if @customers.blank?
  %h3 There are no customers to display
- else
  %table#customers.table
    %thead
      %tr.muted
        %th{ colspan: 2 } Customer
        %th{ colspan: 3 } Next Delivery
        %th.balance Balance

    %tbody
      %tr.new-row
        %td{ colspan: 6 }= link_to 'Create a new customer', new_distributor_customer_path

      - @customers.each do |customer|
        %tr
          %td= customer_badge(customer)
          %td
            - unless customer.tags.empty?
              - customer.tags.each do |tag|
                = link_to tag_distributor_customers_path(tag.name), class: 'link-label' do
                  %span.label.label-info= tag.name
          %td= next_customer_delivery_occurrence(customer)
          %td= next_customer_delivery_box_name(customer)
          %td= customer.account.route.name
          %td.balance{ class: "#{'negative' if customer.account.balance.negative?}" }= customer.account.balance

