- title 'Customers', false
= render 'controls'
= intro_tour(@show_tour)

%table#customers.table.table-striped
  %thead
    %tr.muted
      %th{ colspan: 3 }
        %span.label
          %i.icon-user
          = pluralize(@customers.count, "customer")
      %th{ colspan: 3 }
        %span.label Next Delivery
      %th.text-right
        %span.label
          Total:
          = @customers.map(&:account).map(&:balance).sum.format

  %tbody
    %tr.new-row
      %td{ colspan: 7 }= link_to 'Create a new customer', new_distributor_customer_path

      - @customers.each do |customer|
        %tr
          %td= check_box_tag customer.id, 1, false, class: "select_one"
          %td= customer_badge(customer)
          %td
            - if customer.halted?
              %span.label.label-info.halted HALTED
            - unless customer.tags.empty?
              - customer.tags.each do |tag|
                = link_to tag_distributor_customers_path(tag.name), class: 'link-label' do
                  %span.label.label-info= tag.name
          %td
            %small= next_customer_delivery_occurrence(customer)
          %td
            %small= next_customer_delivery_box_name(customer)
          %td
            %small= customer.account.route.name
          %td.balance{ class: "#{'negative' if customer.account.balance.negative?}" }= customer.account.balance.format

