- title 'Customers', false

.row.page-controls
  .eight.columns
    - if params[:query]
      %h3== Searching "#{params[:query]}"
    - elsif params[:tag]
      %h3== Tag "#{params[:tag]}"

    - if params[:query] || params[:tag]
      = link_to 'Clear', distributor_customers_path(current_distributor)

  .four.columns
    = form_tag search_distributor_customers_path(current_distributor), method: :get, class: 'nice' do
      = text_field_tag :query, '', placeholder: 'Search For...', class: 'input-text'
      = submit_tag 'Search', class: 'small radius button'

.row
  .nine.columns
    %h3 Customers
  .three.columns= link_to 'New Customer', new_distributor_customer_path(current_distributor), class: 'button radius'

- if @customers.blank?
  .row.data-headings
    %h4.twelve.columns No Customers To Display
- else
  .row.data-headings
    %h4.three.columns Route
    %h4.three.columns Customer
    %h4.four.columns Tags
    %h4.two.columns Balance

  - @customers.each do |customer|
    .row.data-listings
      .three.columns= customer.route.name
      .three.columns= customer_badge(customer)
      .four.columns
        - unless customer.tags.empty?
          - customer.tags.each do |tag|
            %span.radius.label= link_to tag.name, tag_distributor_customers_path(current_distributor, tag.name)
      .two.columns= customer.account.balance
