- title 'Customers', false

.row.page-controls
  .eight.columns
    - if params[:query]
      %h3== Searching "#{params[:query]}"
    - elsif params[:tag]
      %h3== Tag "#{params[:tag]}"

    - if params[:query] || params[:tag]
      = link_to 'Clear', distributor_customers_path

  .four.columns.text-right
    = form_tag search_distributor_customers_path, method: :get, class: 'nice' do
      = text_field_tag :query, '', placeholder: 'Search For...', class: 'input-text'
      = submit_tag 'Search', class: 'small radius button'

.row
  .nine.columns
    %h3 Customers
  .three.columns.text-right= link_to 'New Customer', new_distributor_customer_path, class: 'button radius'

- if @customers.blank?
  .row.data-headings
    %h4.twelve.columns No Customers To Display
- else
  .row.data-headings
    .four.columns
      .row
        %h4.seven.columns Customer Name
        %h4.five.columns
    .five.columns
      .row
        %h4.five.columns Next Delivery
        %h4.seven.columns
    .three.columns
      .row
        %h4.six.columns Route
        %h4.six.columns Balance

  - @customers.each do |customer|
    .row.data-listings
      .four.columns
        .row
          .seven.columns= customer_badge(customer)
          .five.columns
            - unless customer.tags.empty?
              - customer.tags.each do |tag|
                %span.radius.label= link_to tag.name, tag_distributor_customers_path(tag.name)
      .five.columns
        .row
          .five.columns= next_customer_delivery_occurrence(customer)
          .seven.columns= next_customer_delivery_box_name(customer)
      .three.columns
        .row
          .six.columns= customer.route.name
          .six.columns= customer.account.balance.format

