= customer_title(@customer)

.row
  .three.columns
    %ul.vcard
      %li.fn= @customer.name
      - if @address
        %li.adr= @address.address_1
        - if @address.address_2
          %li.adr= @address.address_2
        %li.adr= @address.suburb
        %li.adr= @address.city
        %li.adr= @address.postcode
        %li.tel= "Phone 1: #{@address.phone_1}"
        %li.tel= "Phone 2: #{@address.phone_2}"
        %li.tel= "Phone 3: #{@address.phone_3}"
      %li.email= "Email: #{@customer.email}"

  .three.columns
    %h4== Balance: #{@account.balance.format}

  .two.columns
    - unless @customer.tags.empty?
      %h4 Tags
      - @customer.tags.each do |tag|
        %span.radius.label= link_to tag.name, tag_distributor_customers_path(current_distributor, tag.name)

  .four.columns
    = link_to 'Edit Customer Details', edit_distributor_customer_path(current_distributor, @customer)
    %br
    = link_to 'Send login details', send_login_details_distributor_customer_path(current_distributor, @customer), :confirm => "Are you sure? This will reset the users password."
    (User's password will be reset)
    %br
    = link_to 'Back to Customer List', distributor_customers_path(current_distributor)

%hr

.row
  .nine.columns
    %h3 Orders
  .three.columns.text-right
    = link_to 'New Order', new_distributor_account_order_path(current_distributor, @account), :class => 'button radius'

= render 'distributor/orders/index' unless @orders.empty?

%hr

.row
  .twelve.columns
    %h3 Deliveries

= render 'distributor/deliveries/index' unless @deliveries.empty?

%hr

.row
  .nine.columns
    %h3 Transactions
  .three.columns.text-right
    = link_to 'Add Transaction', edit_distributor_account_path(current_distributor, @account), :class => 'button radius'

= render 'distributor/transactions/index' unless @transactions.empty?

