= render 'controls'
= intro_tour(@show_tour)

.row-fluid
  #customer-details.span4
    #section-one
      = customer_title(@customer, class: 'important')
      = render partial: 'customer_tags', locals: { customer: @customer }

      #account-information{data: {account_id: @account.id}}
        %span.balance{ class: "#{'negative' if @account.negative_balance?}" }= @account.balance

      %ul.unstyled
        - unless @customer.discount.zero?
          %li
            Discount:
            %strong= number_to_percentage(@customer.discount*100.0, {precision: 1})
        - if @customer.halted? || @customer.balance_threshold_cents != @customer.default_balance_threshold_cents
          %li
            %span.highlightable{class: @customer.halted? ? 'highlighted' : ''}
              Minimum balance:
              %strong= @customer.balance_threshold
        %li
          Email:
          %strong= @customer.email
        - unless @address.mobile_phone.blank?
          %li
            Mobile:
            %strong= @address.mobile_phone
        - unless @address.home_phone.blank?
          %li
            Home:
            %strong= @address.home_phone
        - unless @address.work_phone.blank?
          %li
            Work:
            %strong= @address.work_phone

      - unless @customer.special_order_preference.blank?
        %p.note-field= @customer.special_order_preference

      %small= link_to 'edit profile', edit_distributor_customer_path(@customer)
      \|
      %small= link_to 'send logins', send_login_details_distributor_customer_path(@customer), confirm: 'Are you sure? This will reset the users password.'
      - if current_admin.present?
        %br
        %small= link_to 'impersonate', impersonate_distributor_customer_path(@customer), target: '_blank'

    #section-two
      %span.heading.red= @customer.delivery_service.name
      - if @address
        %address= @address.join('<br>')

      - unless @address.delivery_note.blank?
        %p.note-field= @address.delivery_note

      %small= link_to 'edit delivery details', edit_distributor_customer_path(@customer, form_type: :delivery)

  #customer-associations.span8
    .row-fluid
      #note-section.span12
        %fieldset
          %legend notes
          = simple_form_for([:distributor, @customer]) do |f|
            = f.input :notes, placeholder: 'E.g. Credit card bounced 23 July, to follow up', label: false, input_html: { class: 'span12', rows: 4 }
            = f.button :submit, 'Update', class: 'btn btn-primary pull-right'

    .row-fluid
      #order-section.span12
        %fieldset
          %legend orders
          = render 'distributor/orders/index'

    .row-fluid
      #transaction-section.span12
        %fieldset
          %legend transactions
          #sortable_transactions{data: {user: 'distributor'}}
            = render 'distributor/transactions/index'

