= render 'controls'

.row
  #customer-details.four.columns
    #section-one
      = customer_title(@customer)
      - @customer.tags.each do |t|
        = content_tag(:span, link_to(t.name, tag_distributor_customers_path(t.name)), class: 'radius label') unless @customer.tags.empty?

      #account-information
        %span.important= @account.balance.format
        = link_to "Discount #{@customer.discount * 100}%", edit_distributor_customer_path(@customer) if @customer.discount > 0

      %ul
        %li== Email: #{@customer.email}
        - unless @address.phone_1.blank?
          %li== Phone 1: #{@address.phone_1}

      - unless @customer.special_order_preference.blank?
        %p.highlight-colour= @customer.special_order_preference

      = link_to 'edit customer profile', edit_distributor_customer_path(@customer)

    #section-two
      .important== Delivery Service: #{@customer.route.name}
      %ul
        - if @address
          %li= @address.address_1
          %li= @address.address_2 if @address.address_2
          %li= @address.suburb
          %li= @address.city

      - unless @address.delivery_note.blank?
        %p.highlight-colour= @address.delivery_note

      = link_to 'edit delivery details', edit_distributor_customer_path(@customer, form_type: :delivery)
      %br
      %br
      = link_to 'send login details', send_login_details_distributor_customer_path(@customer), confirm: 'Are you sure? This will reset the users password.'

  #customer-associations.eight.columns
    .row.section
      .twelve.columns
        %h3 Notes
        = simple_form_for([:distributor, @customer]) do |f|
          .inputs
            = f.input :notes, placeholder: 'E.g. Credit card bounced 23 July, to follow up', label: false, input_html: { class: 'expand' }
          .actions
            = f.button :submit, 'Update', class: 'float-right'

    .row.section
      .twelve.columns
        %h3 Orders
        = render 'distributor/orders/index'

    .row.section
      .twelve.columns
        %h3 Transactions
        = render 'distributor/transactions/index'

