%p#notice= notice

%p
  %b Name:
  = @customer.name
%p
  %b Email:
  = @customer.email
%p
  %b Phone:
  = @customer.phone

= link_to 'Edit', edit_customer_path(@customer)
\|
= link_to 'Back', customers_path
