.row-fluid
  #customer-transactions.span12
    %table.table.table-bordered.no-rounded-corners.no-horizontal-dividers.table-striped
      %thead
        %tr
          %th.sort_header.date_processed
            Processed Date
            %i.icon-chevron-down
          %th.sort_header.transaction_date
            Transaction Date
            %i.icon-chevron-down
          %th Details
          %th.text-right Amount
          %th.text-right Balance

      %tbody
        - transaction_total = EasyMoney.new(0) # manual calculation until we start storing historical balance

        - @transactions.each do |transaction|
          %tr.transaction-data
            %td.date= transaction.created_at.to_s(:transaction)
            %td.date= transaction.display_time.to_s(:transaction)
            %td.details= transaction.description
            %td.price.text-right= transaction.amount.format
            %td.price.text-right= (@balance - transaction_total).format

          - transaction_total += transaction.amount
        - if @show_more_link
          %tr
            %td#more-transactions{ colspan: 5 }
              = link_to 'more...', '#'
