.row-fluid
  #customer-transactions.span12
    %h3 Account Statement

    %table.table.table-bordered.no-rounded-corners.no-horizontal-dividers.table-striped
      %thead
        %tr
          %th Processed Date
          %th Transaction Date
          %th Details
          %th.text-right Amount
          %th.text-right Balance

      %tbody
        - transaction_total = Money.new(0, @distributor.currency) # manual calculation until we start storing historical balance

        - @transactions.each do |transaction|
          %tr
            %td.date= transaction.created_at.to_s(:transaction)
            %td.date= transaction.display_time.to_s(:transaction)
            %td.details= transaction.description
            %td.price.text-right= transaction.amount.format
            %td.price.text-right= (@balance - transaction_total).format

          - transaction_total += transaction.amount

