Hi #{@customer.first_name.strip},
%br
%br
#{@oops}, we've noticed your account has dropped below your spend limit - your existing account balance is
%strong= @customer.account.balance.format
(your account should always be above your spend limit of #{@customer.balance_threshold.format} in order to receive deliveries).
%br
%br
%center
  = link_to "Please make a payment", new_customer_session_url(distributor: @distributor.parameter_name)
  or contact #{@distributor.name}.
%br
If you've recently made a payment, it may not have shown up yet - take a look at your Account statement in the next few days to check. 
%br
%br
Thanks.
%br
The #{@distributor.name} Team
%br
= link_to @distributor.name, webstore_store_url(@distributor.parameter_name)
