:plain
  Hi #{@customer.first_name.strip},


  #{@oops}, we've noticed your account has reached your minimum balance - your existing account balance is #{@customer.account.balance.format} (your account should always be above your minimum balance of #{@customer.balance_threshold.format} in order to receive deliveries).


  #{link_to "Please make a payment", new_customer_session_url(distributor: @distributor.parameter_name) or contact @distributor.name}.

  If you've recently made a payment, it may not have shown up yet - take a look at your account statement in the next few days to check. 


  Thanks.

  The #{@distributor.name} Team

  #{link_to @distributor.name, webstore_store_url(@distributor.parameter_name)}
