<div style="font-family: Arial; font-size:15px;">
  <table width="90%" border="0" cellspacing="0" cellpadding="1" align="center" bgcolor="#333333">
    <tr>
      <td>
        <table width="100%" border="0" cellspacing="0" cellpadding="16" align="center" bgcolor="#FFFFFF">
          <tr><td align="right"><%= link_to(@distributor.name, webstore_store_url(@distributor.parameter_name), target: "_blank") %></td></tr>
          <tr>
            <td>
              <strong><%= t('.thanks', name: @customer.first_name) %></strong>
              <br><br>
              <%= raw t('.update_order', link: link_to(t('your_account').downcase, new_customer_session_url(distributor: @distributor.parameter_name))) %>
              <br><br>
              <table width="100%" cellpadding="8" cellspacing="0" border="1" bordercolor="#555555">
                <tr>
                  <td bgcolor="#555555">
                    <font color="#FFFFFF" size="+1"><b><%= t('.order_information') << t('colon') %></b></font>
                  </td>
                </tr>

                <tr>
                  <td>
                    <table cellpadding="0" cellspacing="8" width="100%">
                      <tr>
                        <td width="50%" valign="top">
                          <span style="font-size:14px">
                            <b><%= t('.customer_number') << t('colon') %></b>&nbsp;<%= @customer.formated_number %><br>
                            <b><%= t('.email') << t('colon') %></b>&nbsp;<%= @customer.email %><br>
                            <%= "<b>#{t('.mobile_phone') << t('colon')}</b>&nbsp;#{@customer.mobile_phone}<br>".html_safe if @customer.mobile_phone.present? %>
                            <%= "<b>#{t('.home_phone') << t('colon')}</b>&nbsp;#{@customer.home_phone}<br>".html_safe if @customer.home_phone.present? %>
                            <%= "<b>#{t('.work_phone') << t('colon')}</b>&nbsp;#{@customer.work_phone}<br>".html_safe if @customer.work_phone.present? %>
                          </span>
                        </td>

                        <td width="50%" valign="top">
                          <span style="font-size:14px">
                            <% if @customer.uses_pickup_point? %>
                              <b><%= t('.pick_up_from') << t('colon') %></b><br>
                              <%= @customer.delivery_service.name %>
                              <br/>
                              <%= @customer.delivery_service.instructions %>
                            <% else %>
                              <b><%= t('.delivery_address') << t('colon') %></b><br>
                              <%= @customer.name %>
                              <br/>
                              <%= @customer.address.to_s("<br/>") %>
                            <% end %>
                          </span>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>

              <br><br>

              <table width="100%" cellpadding="8" cellspacing="0" border="1" bordercolor="#555555">
                <tr>
                  <td bgcolor="#555555" colspan="2">
                    <font color="#FFFFFF" size="+1"><b><%= t('.order_summary') << t('colon') %></b></font>
                  </td>
                </tr>

                <tr>
                  <td width="80%" valign="top">
                    <b><%= @order.box.name %></b><br>
                    <span style="font-size:14px">
                      <%= "#{t('.exclusiions') << t('colon')}#{@order.exclusions_string}<br>".html_safe if @order.exclusions_string.present? %>
                      <%= "#{t('.substitutes') << t('colon')}#{@order.substitutions_string}<br>".html_safe if @order.substitutions_string.present? %>
                      <%=
                        extras = Order.extras_description(@order.order_extras, "<br>")
                        extras.html_safe if extras.present?
                      %>
                      <br><br>
                      <i>
                        <%=
                          schedule_rule = @order.schedule_rule.deliver_on

                          if @order.recurs?
                            start = @order.schedule_rule.next_occurrence
                            p start, @order.schedule_rule, @order.schedule_rule.next_occurrence
                            schedule_rule << ", #{t('.starting')} #{l(start, format: "%A #{start.day.ordinalize} %B")}"
                          end

                          schedule_rule
                        %>
                      </i>
                      <br>
                    </span>
                  </td>

                  <td width="20%" align="right" valign="top">
                    <b><%= @order.price %></b><br/>
                  </td>
                </tr>
              </table>

              <br><br>

              <%= t('.review_html', link: link_to("your account", new_customer_session_url(distributor: @distributor.parameter_name))) %>

              <br><br>

              <%= t('.contact_html', email: mail_to(@distributor.support_email)) %>
              <%= " #{t('or')} #{@distributor.phone}" if @distributor.phone.present? %>
              .

            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <br>

  <center><font size="1">
    <%= t('.powered_by_html', link: link_to("Bucky Box", Figaro.env.marketing_site_url)) %>
  </font></center>
</div>

