= t('hi') << @customer.first_name << ","
%br
%br
= t('.intro_html', balance: @customer.account.balance, threashold: @customer.balance_threshold)
%br
%br
%center
  = t('.pay_html',
      link: link_to("Please make a payment", new_customer_session_url(distributor: @distributor.parameter_name)),
      distributor: @distributor.name)
%br
= t('.recent')
%br
%br
= t('thanks') << "."
%br
= t('.signature', distributor: @distributor.name)
%br
= link_to @distributor.name, webstore_store_url(@distributor.parameter_name)
