#user-nav.tabbable.tabs-below
  %ul.nav.nav-pills.pull-right
    %li.dropdown.pull-left
      = link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do
        - unless @notifications.empty?
          %span.badge.badge-important== #{@notifications.size}
        %i.icon-bell
      %ul#notification-dropdown.dropdown-menu.pull-right
        - if @notifications.empty?
          %li
            %strong No new notifications
        - else
          - @notifications.each do |notification|
            - if notification.event_type == Event::EVENT_TYPES[:customer_webstore_new]
              - customer = notification.customer
              %li
                = link_to distributor_customer_path(customer) do
                  = "#{date_for(notification)} - "
                  = customer_badge(customer, link: false)
          %li
            = form_tag(distributor_notifications_dismiss_all_path, id: 'dismiss-notifications') do
              = hidden_field_tag 'notification_ids[]', @notifications.map(&:id)
              = submit_tag 'Clear Notifications', class: 'btn btn-warning'
    %li.dropdown.pull-right
      = link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do
        = current_distributor.name
        %b.caret
      %ul.dropdown-menu
        %li= link_to 'settings', distributor_settings_business_information_path
        %li
          - if current_distributor.active_webstore?
            = link_to 'view webstore', webstore_store_path(current_distributor.parameter_name), target: '_blank'
        %li
          - if admin_signed_in? 
            = link_to 'logout', unimpersonate_admin_distributors_path
          - else
            = link_to 'logout', destroy_distributor_session_path, method: :delete

