.row-fluid
  #payment.span12
    .row-fluid
      .span12
        %strong== Please deposit funds into #{@bank.name}
    .row-fluid
      .span6
        == Account Name: #{@bank.account_name}
        %br
        == BSB Number: #{@bank.bsb_number}
        %br
        == Account Number: #{@bank.account_number}
        - if customer_signed_in?
          %br
          == Reference: #{current_customer.formated_number}
      .span6.alert
        = simple_format("<strong>Note:</strong> #{@bank.customer_message}", {}, sanitize: false)
