- title(customer_and_number(current_customer), false)

- content_for :sidebar do
  = render partial: 'customer/customers/sidebar', locals: { customer: current_customer }

= render partial: 'customer/customers/forms', locals: { update_contact_details: update_contact_details, update_delivery_address: update_delivery_address, update_password: update_password }

#account-information{data: {account_id: @account.id}}
- if @distributor.active_webstore
  .row-fluid
    #new-customer-order.dash-boxed-link.span12= link_to 'Order another item', webstore_store_path(@distributor.parameter_name)

- if @orders.empty?
  .alert.alert-info You don't have any active orders.
- else
  = render partial: 'customer/orders/order', collection: @orders

- if @bank || @paypal
  .row-fluid
    .span12
      %h3 Account Statement

      .row-fluid.dashboard-box
        .span12
          #make_a_payment.dash-boxed-link.span12= link_to 'Make a payment', 'javascript:void(0)'
          #payment_details
            %button.close
              %i.icon-remove
            - if @bank
              .row-fluid
                %h4.text-center Pay by Bank Deposit
                .span8.offset2.payment-partial
                  = render partial: 'partials/payments/bank_deposit', locals: { form_object: @bank }

            - if @paypal
              .row-fluid
                %h4.text-center Pay by PayPal / Credit Card
                .span8.offset2.payment-partial
                  = render partial: 'partials/payments/paypal', locals: { form_object: @paypal }

- unless @transactions.empty?
  #sortable_transactions{data: {user: 'customer'}}
    = render 'customer/transactions/index'

