- title(customer_and_number(current_customer), false)
- content_for :sidebar do
  = render partial: 'customer/customers/sidebar', locals: { customer: current_customer }
= render partial: 'customer/customers/forms'
#account-information{data: {account_id: @account.id}}
- if @distributor.active_webstore
  .row-fluid
    #new-customer-order.span12= link_to 'Create new order from webstore', webstore_store_path(@distributor.parameter_name)

- if @orders.empty?
  .alert.alert-info You don't have any active orders.
- else
  = render partial: 'customer/orders/order', collection: @orders

- if @bank
  .row-fluid
    .span12
      %h3 Account Statement

      .row-fluid.dashboard-box
        .span12
          #make_a_payment.dash-boxed-link.span12= link_to 'Make a payment', 'javascript:void(0)'
          #bank_payment_details
            %button.close
              %i.icon-remove
            = render partial: 'webstore/store/confirmation_bank_deposit', locals: { form_object: @bank }

- unless @transactions.empty?
  #sortable_transactions{data: {user: 'customer'}}
    = render 'customer/transactions/index'

