- title(customer_and_number(current_customer), false)

- content_for :sidebar do
  = render partial: 'customer/customers/sidebar', locals: { customer: current_customer }

= render partial: 'customer/customers/forms', locals: { update_contact_details: update_contact_details, update_delivery_address: update_delivery_address, update_password: update_password }

#account-information{data: {account_id: @account.id}}
- if @distributor.active_webstore
  .row-fluid
    #new-customer-order.dash-boxed-link.span12= link_to t('c.dashboard.order_another_item'), @distributor.webstore_url

- if @orders.empty?
  .alert.alert-info= t('c.dashboard.no_active_orders')
- else
  = render partial: 'customer/orders/order', collection: @orders

- make_a_payment = @bank || @paypal
- if @transactions.present? || make_a_payment
  .row-fluid
    .span12
      %h3= t('c.dashboard.account_statement')

      - if make_a_payment
        .row-fluid.dashboard-box
          .span12
            #make_a_payment.dash-boxed-link.span12= link_to t('c.dashboard.make_payment'), 'javascript:void(0)'
            #payment_details
              %button.close
                %i.icon-remove
              - if @bank
                .row-fluid
                  %h4.text-center= t('c.dashboard.pay_by.bank_deposit')
                  .span8.offset2.payment-partial
                    = render partial: 'partials/payments/bank_deposit', locals: { form_object: @bank }

              - if @paypal
                .row-fluid
                  %h4.text-center= t('c.dashboard.pay_by.paypal')
                  .span8.offset2.payment-partial
                    = render partial: 'partials/payments/paypal', locals: { form_object: @paypal }

- if @transactions.present?
  #sortable_transactions{data: {user: 'customer'}}
    = render 'customer/transactions/index'

