= customer_title(current_customer, link: customer_root_path)

.row
  .span12.text-center
    %h2== Account Balance #{current_customer.account.balance.format}

.row
  .span9
    .panel
      .row
        .span9
          %h3 My Orders
        .span3.text-right
          = link_to 'New Order', new_customer_order_path, class: 'radius button'
      .row
        #customer-orders.span12
          = render 'customer/orders/index' unless @orders.empty?

    .panel
      .row
        .span12
          %h3 Account Statement
      .row
        .span12
          = render 'customer/transactions/index' unless @transactions.empty?

  .span3
    .panel
      %strong Deliver To:
      .row
        .span12
          = current_customer.address.join('<br/>', with_phone:true)
          %br
          = link_to 'change my delivery address', '#', data: {'reveal-id' => 'address-modal'}

      .row
        #customer-controls.span12
          = customer_badge(current_customer, link: customer_root_path)
          %br
          = current_customer.email
          %br
          = link_to 'change my email', '#', data: {'reveal-id' => 'email-modal'}
          %br
          = link_to 'change my password', '#', data: {'reveal-id' => 'password-modal'}

#address-modal.reveal-modal
  %h2 Change Your Address
  = link_to '&#215;'.html_safe, '#', class: 'close-reveal-modal'
  = render 'customer/addresses/form'

#email-modal.reveal-modal
  %h2 Change Your Email Address
  = link_to '&#215;'.html_safe, '#', class: 'close-reveal-modal'
  = render 'customer/customers/form'

#password-modal.reveal-modal
  %h2 Change Your Password
  = link_to '&#215;'.html_safe, '#', class: 'close-reveal-modal'
  = render 'customer/customers/password_form'
