- title(customer_and_number(current_customer), false)
= render partial: 'customer/customers/sidebar', locals: { customer: current_customer }
#account-information{data: {account_id: @account.id}}
- if @distributor.active_webstore
  .row-fluid
    #new-customer-order.span12= link_to 'create new order from webstore', webstore_store_path(@distributor.parameter_name)

- unless @orders.empty?
  = render partial: 'customer/orders/order', collection: @orders

.row-fluid
  .span12
    %h3 Account Statement

    .row-fluid.dashboard-box
      .span12
        #make_a_payment.dash-boxed-link.span12= link_to 'make a payment', '#make_a_payment'
        #bank_payment_details
          %button.close
            %i.icon-remove#close_bank_payment_details
          = render partial: 'customer/dashboard/payment_details'

- unless @transactions.empty?
  #sortable_transactions{data: {user: 'customer'}}
    = render 'customer/transactions/index'

