= simple_form_for(@address, url: customer_address_path, html: { method: :put }) do |f|
  .modal-body
    = f.error_notification

    = f.input :address_1, required: @address.customer.distributor.require_address_1
    = f.input :address_2, required: @address.customer.distributor.require_address_2
    = f.input :suburb, required: @address.customer.distributor.require_suburb
    = f.input :city, required: @address.customer.distributor.require_city
    = f.input :postcode, required: @address.customer.distributor.require_postcode
    = address_phone_fields(f, @address.customer.distributor)
    = f.input :delivery_note

  .modal-footer
    = f.button :submit, class: 'btn btn-primary'
