= simple_form_for(@address, url: customer_address_path, remote: true, html: { method: :put }) do |f|
  .modal-body
    = f.error_notification

    = f.input :address_1, required: @address.customer.distributor.require_address_1
    = f.input :address_2, required: @address.customer.distributor.require_address_2
    = f.input :suburb, required: @address.customer.distributor.require_suburb
    = f.input :city, required: @address.customer.distributor.require_city
    = f.input :postcode, required: @address.customer.distributor.require_postcode
    = f.input :phone_1, required: @address.customer.distributor.require_phone
    = f.input :phone_2
    = f.input :phone_3
    = f.input :delivery_note

  .modal-footer
    = f.button :submit, class: 'btn btn-primary'
