%h1 Listing customer_addresses

%table
  %tr
    %th Customer
    %th Address 1
    %th Address 2
    %th Suburb
    %th City
    %th Postcode
    %th Delivery note
    %th
    %th
    %th

  - @customer_addresses.each do |customer_address|
    %tr
      %td= customer_address.customer
      %td= customer_address.address_1
      %td= customer_address.address_2
      %td= customer_address.suburb
      %td= customer_address.city
      %td= customer_address.postcode
      %td= customer_address.delivery_note
      %td= link_to 'Show', customer_address
      %td= link_to 'Edit', edit_customer_address_path(customer_address)
      %td= link_to 'Destroy', customer_address, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Address', new_customer_address_path
