%p#notice= notice

%p
  %b Customer:
  = @customer_address.customer
%p
  %b Address 1:
  = @customer_address.address_1
%p
  %b Address 2:
  = @customer_address.address_2
%p
  %b Suburb:
  = @customer_address.suburb
%p
  %b City:
  = @customer_address.city
%p
  %b Postcode:
  = @customer_address.postcode
%p
  %b Delivery note:
  = @customer_address.delivery_note

= link_to 'Edit', edit_customer_address_path(@customer_address)
\|
= link_to 'Back', customer_addresses_path
