- stylesheet 'wizard'
- javascript 'wizard'

- content_for :body do
  = simple_form_for(:wizard, url: "javascript:void(0)", html: {novalidate: false, autocomplete: "off"}) do |f|
    = f.error_notification
    %header
      = image_tag "bucky-box-logo-white.png", alt: "Bucky Box"
      %a#close{href: "javascript:void(0)"} &times;

    %section
      #step 1/3
      %article#one.step
        %fieldset
          %legend organisation
          = f.input_field :organisation_name, placeholder: "Organisation name", required: true

        %fieldset
          %legend account login
          = f.input_field :distributor_name, placeholder: "Your name", required: true
          = f.input_field :contact_email, type: "email", placeholder: "Your name", required: true
          = f.input_field :password, type: "password", placeholder: "Password", pattern: ".{6,}", title: "Minimum 6 characters", required: true
          = f.input_field :password_confirmation, type: "password", placeholder: "Confirm password", required: true

        %fieldset
          %legend localisation
          %div
            = f.input :country, collection: Country.all.map(&:full_name).sort, include_blank: false, selected: country
          %div
            = f.input :time_zone, as: :time_zone, priority: Regexp.new(time_zone)

      %article#two.step.hide
        %fieldset
          %legend address
          = f.input_field :contact_name, placeholder: "Name of main contact person", required: true
          = f.input_field :address_1, placeholder: "Address", required: true
          = f.input_field :address_2, placeholder: "Address", required: false
          = f.input_field :city, placeholder: "City", required: true

        %fieldset
          %legend url and customer support
          %div.url
            %label buckybox.com/
            = f.input_field :url, placeholder: "(URL) e.g. farmville-organics", class: "slug", required: true
          = f.input_field :support_email, placeholder: "Email address for customer support", required: true

      %article#three.step.hide
        %fieldset#payment_types
          %legend payment types
          %div
            = f.input_field :bank_deposit, as: "boolean"
            %label{for: "wizard_bank_deposit"} We accept payments by <strong>Bank Deposit</strong>
          #bank_deposit_details
            %input{type: "text", required: true, disabled: true, placeholder: "Enter bank name"}
            %input{type: "text", required: true, disabled: true, placeholder: "Account name"}
            %fieldset
              %legend bank account number
              %input{type: "text", required: true, disabled: true, placeholder: "FORMATTED NUMBER FIELD"}
          %div
            = f.input_field :accept_credit_card, as: "boolean"
            %label{for: "wizard_accept_credit_card"} We accept payments by <strong>Credit Card</strong>
          %div
            = f.input_field :accept_cash_on_delivery, as: "boolean"
            %label{for: "wizard_accept_cash_on_delivery"} We accept <strong>Cash on Delivery</strong>
          %div
            = f.input_field :accept_direct_debit, as: "boolean"
            %label{for: "wizard_accept_direct_debit"} We charge by <strong>Direct Debit</strong>

        %fieldset
          %legend Thanks!
          %div
            %label{for: "wizard_source"} How did you find us?
            = f.input :source, label: false, include_blank: false, collection: ["Word of mouth", "Search engine", "Twitter", "Facebook", "Online ad", "Other"]

    %footer
      %input#back.hide{type: "button", value: "Back"}
      %input#next.primary{type: "submit", value: "Next"}

  / Crafted with lots of love!

