.row-fluid
  .span12
    = form_for([:distributor, @extra], html: { class: 'form-inline' }) do |f|
      = f.text_field :name, label: false, placeholder: 'Eggs'
      = f.text_field :unit, label: false, placeholder: '1/2 Doz'
      = f.text_field :price, label: false
      = f.submit 'Add Extra', class: 'btn btn-primary'
