.row-fluid.extra-form
  = simple_form_for([:distributor, @extra]) do |f|
    = f.error_notification
    .inputs
      .span4
        = f.input :name, label: false, placeholder: 'Eggs', input_html:{class: 'expand'}
      .span3
        = f.input :unit, label: false, placeholder: '1/2 Doz', input_html: {class: 'expand'}
      .span2
        = f.input :price, as: :currency, label: false, input_html: { class: 'input-text expand' }
      .span2.offset1
        .actions
          = f.button :submit, "Add Extra"
