.row.extra-form
  = simple_form_for([:distributor, @extra]) do |f|
    = f.error_notification
    .inputs
      .four.columns
        = f.input :name, label: false, placeholder: 'Eggs', input_html:{class: 'expand'}
      .three.columns
        = f.input :unit, label: false, placeholder: '1/2 Doz', input_html: {class: 'expand'}
      .two.columns
        = f.input :price, as: :currency, label: false, input_html: { class: 'input-text expand' }
      .two.columns.offset-by-one
        .actions
          = f.button :submit, "Add Extra"
