.row-fluid
  .span12
    %table.table.table-bordered.table-striped.no-horizontal-dividers
      %thead
        %tr
          %th Name
          %th Unit
          %th Price
          %th Hidden
          %th Actions

      %tbody
        - @extras.each do |extra|
          %tr
            %td= extra.name
            %td= extra.unit
            %td= extra.price.format
            %td= checkmark_boolean(extra.hidden)
            %td= link_to 'Edit', edit_distributor_extra_path(extra)
