!!! 5

%html
  %head
    = raw analytical.head_prepend_javascript
    %meta{ charset: 'utf-8' }

    %title= content_for?(:title) ? "Bucky Box - #{yield(:title)}" : 'Bucky Box'

    = csrf_meta_tag

    = yield(:head)

    - if Rails.env.production?
      = favicon_link_tag
    - elsif Rails.env.staging?
      = favicon_link_tag '/favicon-gray.ico'
    - else
      = favicon_link_tag '/favicon-red.ico'

    - analytical.identify(current_distributor.id, email: current_distributor.email) if current_distributor
    = raw analytical.head_append_javascript

  %body
    = raw analytical.body_prepend_javascript
    .container= yield(:body)
    = raw analytical.body_append_javascript
