!!! 5

%html
  %head
    = raw analytical.head_prepend_javascript
    %meta{ charset: "utf-8" }

    %title= content_for?(:title) ? "Bucky Box - #{yield(:title)}" : "Bucky Box"

    -# Included CSS Files
    = stylesheet_link_tag "bucky_box"

    -# Included JS Files
    = javascript_include_tag "bucky_box"

    = csrf_meta_tag

    - if Rails.env.production?
      = favicon_link_tag
    - else
      = favicon_link_tag '/favicon-grayscale.ico'

    = yield(:head)

    - analytical.identify(current_distributor.id, email: current_distributor.email) if current_distributor
    = raw analytical.head_append_javascript

  %body
    = raw analytical.body_prepend_javascript

    = render 'layouts/server_warnings'
    = yield(:body)

    = raw analytical.body_append_javascript
