- content_for :body do
  %body
    .container
      .row
        .span12
          - flash.each do |kind, message|
            = flash_bar(kind, message)

      .row
        .span12.text-right
          - if admin_signed_in?
            Signed in as 
            %strong= current_admin.email
            \|
            = link_to 'logout', destroy_admin_session_path, method: :delete
          - else
            = link_to 'login', new_admin_session_path

      - if show_title?
        .row
          .span12
            %h1.text-center= yield(:title)

      .row
        .span12= yield

= render 'layouts/base'

