= render 'layouts/head'

%body
  .container
    .row
      .twelve.columns
        .row
          .four.columns.centered
            - flash.each do |kind, message|
              = flash_bar(kind, message)

            #session_nav
              - if distributor_signed_in?
                == Signed in as #{current_distributor.name} 
                = link_to 'Logout', destroy_distributor_session_path, :method => :delete
              - else   
                = link_to 'Sign up', new_distributor_registration_path
                or  
                = link_to 'Login', new_distributor_session_path
     
            - if show_title?
              %h1{:style => 'text-align:center;'}= yield(:title)

            = yield
