- content_for :body do
  %body
    .container
      .row
        .span12
          - flash.each do |kind, message|
            = flash_bar(message, kind: kind)

      .row
        .span6== #{current_customer.distributor.name}: My Account
        .span6.text-right
          - if customer_signed_in?
            Signed in as
            %strong= customer_badge(current_customer, link: customer_root_path)
            \|
            = link_to 'logout', destroy_customer_session_path, method: :delete
          - else
            = link_to 'login', new_customer_session_path

      - if show_title?
        .row
          .span12
            %h1.text-center= yield(:title)

      .row
        .span12= yield

= render 'layouts/base'

