- stylesheet 'customer'
- javascript 'customer'

- content_for :pingdom do
  = render 'layouts/pingdom'

- content_for :body do
  = render partial: 'layouts/customer/banner', locals: { distributor: @distributor }

  .container
    - if current_customer.present? && current_customer.halted?
      .alert.alert-error= "WARNING: Deliveries have been SUSPENDED because you have reached your minimum balance of #{current_customer.balance_threshold.format}, please make a payment."
    #customer-messages= render_site_messages(flash)

    .row
      #content-information.span3
        #information= yield(:sidebar)
      #content-body.span9
        - if show_title?
          .row-fluid
            .span12.text-center
              %h2= yield(:title)

        .row-fluid
          .span12= yield

= render 'layouts/base'
