- stylesheet 'distributor'
- javascript 'distributor'

- content_for :pingdom do
  = render 'layouts/pingdom'

- content_for :body do
  .container
    #flash-messages
      = render_site_messages(flash, container: false)

    .row
      .span12= render 'layouts/distributor/user_nav'

    .row
      .span1= render 'layouts/distributor/topic_tabs'
      .span11
        #content
          - unless yield(:sub_nav).blank?
            .row-fluid{style: "z-index: 10"}
              #sub-nav.span12= yield(:sub_nav)

          - if show_title?
            .row-fluid
              .span12.text-center
                %h1= yield(:title)

          .row-fluid
            .span12= yield
  = intercom_script_tag unless current_distributor.skip_tracking?(Rails.env) || current_admin.present?

= render 'layouts/base'
