- stylesheet 'distributor'
- javascript 'distributor'

- content_for :body do
  .row
    .span12= render 'layouts/distributor/user_nav'

  - unless flash.empty?
    .row
      .span12
        - flash.each do |kind, message|
          = flash_bar(message, kind: kind)

  .row
    .span1
      #site-nav
        = image_tag 'logo-grey.png', alt: 'Bucky Box', id: 'logo'
        = render 'distributor/shared/topic_tabs'
    .span11
      #content
        - unless yield(:sub_nav).blank?
          .row-fluid
            .span12= yield(:sub_nav)

        - if show_title?
          .row-fluid
            .span12.text-center
              %h1= yield(:title)

        .row-fluid
          .span12= yield

= render 'layouts/base'

