- stylesheet 'distributor'
- javascript 'distributor'

- content_for :body do
  - unless flash.empty?
    .row
      .span12
        - flash.each do |kind, message|
          = flash_bar(message, kind: kind)

  .row
    .span12= render 'layouts/distributor/user_nav'

  - if show_title?
    .row
      .span12.text-center
        %h1= yield(:title)

  .row
    .span1
      #site-nav
        = image_tag 'logo-grey.png', alt: 'Bucky Box', id: 'logo'
        = render 'distributor/shared/topic_tabs'
    .span11
      #content
        .containter-fluid
          .row-fluid
            .span12
              - if yield(:sub_nav)
                = yield(:sub_nav)

          .row-fluid
            .span12= yield

= render 'layouts/base'

