- stylesheet 'distributor'
- javascript 'distributor'

- content_for :pingdom do
  = render 'layouts/pingdom'

- content_for :body do
  .container
    - if false && flash.empty? && current_distributor.overdue.present? # FIXME: reenable in June
      %div{style: "position: fixed; top: 0; left: 0; right: 0; text-align: center; z-index: 100"}
        = flash_bar("Uh-oh! Your account is overdue and will be locked out soon, please <a target=\"_blank\" href=\"#{current_distributor.overdue.split("\n").first}\">pay your invoice</a>.<br>If you paid recently, your payment may take up to 24 hours to register.".html_safe, kind: :error, close: false)
    - if flash.empty? && current_distributor.pricing.currency != "NZD"
      %div{style: "position: fixed; top: 0; left: 0; right: 0; text-align: center; z-index: 100"}
        = flash_bar("Heads up! Starting 1 June 2020, please pay using bank deposit instead of PayPal.<br>Our bank account details can be found on your #{link_to 'billing page', distributor_billing_path}. The invoices sent before June shall still be paid through PayPal. Thanks.".html_safe, kind: :warning, close: true)

    #flash-messages
      = render_site_messages(flash, container: false)

    .row
      .span12= render 'layouts/distributor/user_nav'

    .row
      .span1= render 'layouts/distributor/topic_tabs'
      .span11
        #content
          - unless yield(:sub_nav).blank?
            #sub-nav-container.row-fluid
              #sub-nav.span12= yield(:sub_nav)

          - if show_title?
            .row-fluid
              .span12.text-center
                %h1= yield(:title)

          .row-fluid
            .span12= yield

= render 'layouts/base'
