= simple_form_for(bank_deposit, as: "bank_deposit", url: distributor_bank_information_path, method: "put", html: { class: 'form-horizontal' }) do |f|
  = f.error_notification
  %section
    %header
      %h3 Bank Deposit Settings

      - if current_distributor.payment_bank_deposit
        %p.muted This information is displayed to customers at the webstore during the checkout process.
      - else
        %p Please #{mail_to Figaro.env.support_email, "contact us"} if you wish to allow this payment method.

    - if current_distributor.payment_bank_deposit
      = f.input :name, label: 'Bank name', placeholder: 'e.g. The Community Bank', input_html: { class: 'input-block-level' }
      = f.input :account_name, label: 'Account name', placeholder: "e.g. #{current_distributor.name}", input_html: { class: 'input-block-level' }
      = f.input :bsb_number, label: 'BSB number / Sort code', input_html: { class: 'input-block-level' }
      = f.input :account_number, label: 'Account number', input_html: { class: 'input-block-level' }
      = f.input :customer_message,
        label: 'Webstore payment instructions',
        placeholder: %q(e.g. Please make your payment 3 days before your delivery and don't forget to use your reference number so we can match it properly. Thanks!),
        as: :text, input_html: { class: 'input-block-level', rows: 10 },
        required: false

      .controls.clearfix
        = f.button :submit, 'Save', class: 'btn btn-primary pull-right'

