- content_for :payment_type do
  - unless current_distributor.payment_cash_on_delivery
    .span6
      %p Please #{mail_to Figaro.env.support_email, "contact us"} if you wish to allow this payment method.

  - else
    .span6
      = simple_form_for(cash_on_delivery, as: "cash_on_delivery", url: distributor_settings_payments_cash_on_delivery_path, method: "put", html: { class: 'form-horizontal', novalidate: false }) do |f|
        = f.error_notification

        %fieldset
          %legend webstore payment instructions
          = f.input_field :cod_payment_message,
            placeholder: %q(e.g. Please place payment in your mailbox.),
            as: :text, rows: 4, required: false

        .controls.clearfix
          = f.button :submit, 'Save', class: 'btn btn-primary pull-right'

    .span6.pull-right.preview
      .label customer preview
      %p.muted This information is displayed to customers at the webstore during the checkout process.

      = render partial: 'partials/payments/cash_on_delivery', locals: { form_object: NullObject.new }

= render partial: 'distributor/settings/payments', locals: { type: 'cash_on_delivery' }

